
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.userview-64D {
  background-color: #dddee0;
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .auto-group-zfbb-coF {
    box-sizing: border-box;
    width: 38.9rem;
    background-color: #d9f0fd;
    flex-direction: column;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    margin-right: 2.9rem;
    padding: 4.4rem 5rem 3.6rem 4.6rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    .luxurtooth-u1f {
      margin-bottom: 8.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      display: flex;
      font-size: 4.8rem;
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;

      .luxurtooth-u1f-sub-0 {
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
      }
      .luxurtooth-u1f-sub-1 {
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
      }
    }
    .inicio-xe9 {
      margin: 0rem 11.5rem 5.4rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-2k1s-gq3 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);

      .pacientes-pAZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .polygon-2-wky {
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-xgw1-TjK {
      margin: 0rem 2.5rem 5.5rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .consultas-PN5 {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
      }
      .polygon-3-XUH {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
      }
    }
    .auto-group-vokq-Ggm {
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.3rem 4.1rem;

      .dentistas-B33 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4rem;
      }
      .polygon-4-X6u {
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-bkah-eSR {
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .agenda-nHj {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .polygon-5-8Mb {
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .facturacion-eaq {
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.8rem 5.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .configuracion-y7K {
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.6rem 2.4rem;
      font-size: 3.2rem;
    }
    .auto-group-ugpd-tzy {
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 5.6rem 7.6rem 5.72rem 1rem;
      width: 100%;
      height: 16.8rem;
      display: flex;
      align-items: center;
      border-radius: 2rem;
      flex-shrink: 0;

      .icon-user-RV7 {
        margin-right: 0.5953rem;
        padding: 0.9rem 0.805rem 1.08rem 0.7rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:166:30');
        box-sizing: border-box;
        height: 100%;
        background-size: cover;
        background-position: center;
        flex-shrink: 0;

        .vector-MNm {
          object-fit: contain;
          vertical-align: top;
          width: 3.5rem;
          height: 3.5rem;
        }
      }
      .pac-juan-b-e6y {
        margin-top: 0.3197rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-n4ih-Ge9 {
    margin-bottom: 0.1rem;
    width: 99.4rem;
    flex-shrink: 0;

    .auto-group-vz57-27X {
      margin: 0rem 0rem 1.8rem 0.5rem;
      height: 6.4rem;
      display: flex;
      align-items: center;

      .auto-group-zmgy-MQh {
        width: 28.3rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        line-height: 1.25;
        color: #000000;
        margin: 1.1rem 13.6rem 0.9rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        background-color: #f0f2f4;
        border-radius: 2rem;
        padding: 0.8rem 1.3rem 0.6rem 1.3rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        height: calc(100% - 2rem);
      }
      .auto-group-akiv-NKo {
        margin-right: 1.6rem;
        width: 43.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-10-hss {
          left: 0;
          top: 0;
          background-color: #ffffff;
          width: 41.5rem;
          height: 6.4rem;
          position: absolute;
        }
        .polygon-6-qjB {
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3.6rem;
          position: absolute;
          left: 40.7rem;
          top: 1.2rem;
        }
        .dr-sebastian-te-envio-una-novedad-8iH {
          line-height: 1.25;
          white-space: nowrap;
          height: 2.5rem;
          left: 4rem;
          top: 2.3rem;
          font-weight: 400;
          font-family: Hammersmith One, 'Source Sans Pro';
          width: 32.6rem;
          position: absolute;
          font-size: 2rem;
          color: #000000;
        }
      }
      .icon-bell-Dzd {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1328rem;
        width: 3rem;
        height: 3.3328rem;
      }
    }
    .auto-group-erm3-AQ5 {
      width: 100%;
      height: 89.5rem;
      position: relative;

      .vector-1-fLq {
        object-fit: contain;
        vertical-align: top;
        width: 0.1315rem;
        height: 2.9196rem;
        position: absolute;
        left: 24.8144rem;
        top: 61.9359rem;
      }
      .vector-2-mPs {
        left: 24.5219rem;
        top: 62.1077rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.05rem;
        height: 0.3145rem;
        position: absolute;
      }
      .vector-3-7Cq {
        width: 0.1776rem;
        height: 0.8175rem;
        position: absolute;
        left: 24.9133rem;
        top: 64.8996rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-1-Sku {
        width: 99.4rem;
        height: 89.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 3rem;
      }
      .rectangle-11-Mss {
        width: 94.4rem;
        height: 4.9rem;
        position: absolute;
        left: 2.6rem;
        top: 36.8rem;
        background-color: rgba(197, 200, 32, 0.3799999952);
      }
      .item-1-04-2023-tso {
        display: flex;
        width: 12.9rem;
        height: 3rem;
        position: absolute;
        align-items: center;
        line-height: 1.2125;
        color: #30596d;
        font-size: 2.4rem;
        font-weight: 800;
        white-space: nowrap;
        left: 4.8rem;
        top: 26.85rem;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
      }
      .drsebastian-A4d {
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
        height: 3rem;
        left: 25.6rem;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 800;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        width: 15.3rem;
        position: absolute;
        top: 26.85rem;
        display: flex;
      }
      .finalizada-TpR {
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #30596d;
        left: 50.1rem;
        font-weight: 800;
        white-space: nowrap;
        display: flex;
        top: 26.85rem;
        align-items: center;
        width: 12.2rem;
      }
      .control-jmw {
        width: 8.9rem;
        left: 72.8rem;
        display: flex;
        align-items: center;
        line-height: 1.2125;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        top: 26.85rem;
        font-weight: 800;
        font-size: 2.4rem;
        justify-content: center;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-16-00-pHb {
        font-family: Inter, 'Source Sans Pro';
        top: 26.85rem;
        font-weight: 800;
        line-height: 1.2125;
        justify-content: center;
        white-space: nowrap;
        width: 7rem;
        height: 3rem;
        display: flex;
        font-size: 2.4rem;
        color: #30596d;
        position: absolute;
        left: 89.5rem;
        align-items: center;
      }
      .item-1-06-2023-JCm {
        color: #30596d;
        height: 3rem;
        left: 4.75rem;
        font-size: 2.4rem;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 37.75rem;
        line-height: 1.2125;
        font-weight: 800;
        white-space: nowrap;
        width: 12.9rem;
        display: flex;
        align-items: center;
      }
      .drsebastian-Cow {
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 25.6rem;
        white-space: nowrap;
        top: 37.75rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #30596d;
        width: 15.3rem;
        display: flex;
        font-weight: 800;
      }
      .pendiente-VHF {
        top: 37.75rem;
        font-size: 2.4rem;
        white-space: nowrap;
        width: 12.1rem;
        left: 50.2rem;
        font-weight: 800;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        position: absolute;
        display: flex;
        line-height: 1.2125;
        align-items: center;
        justify-content: center;
      }
      .ortodoncia-Nrq {
        display: flex;
        line-height: 1.2125;
        position: absolute;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.5rem;
        height: 3rem;
        left: 70.5rem;
        justify-content: center;
        top: 37.75rem;
        font-size: 2.4rem;
        font-weight: 800;
        color: #30596d;
      }
      .item-9-00-Uus {
        width: 5.8rem;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 37.75rem;
        display: flex;
        line-height: 1.2125;
        height: 3rem;
        left: 90.1rem;
        font-weight: 800;
      }
      .item-18-05-2023-mty {
        font-size: 2.4rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14.4rem;
        height: 3rem;
        font-family: Inter, 'Source Sans Pro';
        left: 4rem;
        line-height: 1.2125;
        font-weight: 800;
        color: #30596d;
        position: absolute;
        top: 32.45rem;
      }
      .drsebastian-GKw {
        line-height: 1.2125;
        height: 3rem;
        align-items: center;
        color: #30596d;
        white-space: nowrap;
        left: 25.6rem;
        justify-content: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        position: absolute;
        top: 32.45rem;
        font-weight: 800;
        width: 15.3rem;
      }
      .finalizada-wws {
        width: 12.2rem;
        position: absolute;
        left: 50.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2125;
        white-space: nowrap;
        top: 32.45rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        font-size: 2.4rem;
        color: #30596d;
      }
      .sellado-fN5 {
        line-height: 1.2125;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 32.45rem;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 800;
        width: 8.9rem;
        left: 72.8rem;
      }
      .item-10-00-mAD {
        display: flex;
        line-height: 1.2125;
        left: 89.5rem;
        top: 32.45rem;
        align-items: center;
        font-weight: 800;
        color: #30596d;
        height: 3rem;
        position: absolute;
        width: 7.1rem;
        justify-content: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .line-21-SGM {
        left: 2.6999rem;
        top: 25.1rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-13-wiu {
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
        left: 2.6999rem;
        top: 31rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-25-5aD {
        position: absolute;
        left: 2.6999rem;
        top: 41.8rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
      }
      .line-26-ca9 {
        left: 2.6999rem;
        top: 47.8rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-14-MGq {
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
        left: 2.6999rem;
        top: 36.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-12-TKs {
        top: 25.0067rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 29rem;
        position: absolute;
        left: 21.5625rem;
      }
      .line-22-CYM {
        left: 44.125rem;
        top: 25.3031rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 29rem;
        position: absolute;
      }
      .line-23-wVw {
        left: 68.125rem;
        top: 25.4031rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 29rem;
        position: absolute;
      }
      .line-24-HJu {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 29rem;
        position: absolute;
        left: 88.125rem;
        top: 25.1031rem;
      }
      .id-101062893-Rg1 {
        left: 4rem;
        top: 6.9rem;
        line-height: 1.25;
        color: #000000;
        height: 2.5rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 13rem;
      }
      .rectangle-6-8qK {
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 3.1rem;
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        border-radius: 2rem;
      }
      .rectangle-7-RpR {
        background-color: #f0f2f4;
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 36.9rem;
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
      }
      .posponer-cita-8iq {
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 84.3rem;
        left: 38.6rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        width: 19rem;
        height: 3.8rem;
      }
      .cancelar-cita-3au {
        white-space: nowrap;
        position: absolute;
        top: 84.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        width: 18.8rem;
        height: 3.8rem;
        left: 4.9rem;
        font-size: 3rem;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .juan-barrios-20-aos-mWu {
        align-items: baseline;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        left: 2.8rem;
        top: 1.7rem;
        font-size: 2.4rem;
        line-height: 1.25;
        color: #000000;
        width: 28.5rem;
        height: 4rem;
        position: absolute;
        display: flex;

        .juan-barrios-20-aos-mWu-sub-0 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Hammersmith One, 'Source Sans Pro';
        }
        .juan-barrios-20-aos-mWu-sub-1 {
        }
      }
      .line-1-48d {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.3rem;
        height: 4rem;
        position: absolute;
        left: 22.75rem;
        top: 1.5007rem;
      }
      .line-3-bPT {
        height: 0.2rem;
        position: absolute;
        left: 1.6988rem;
        top: 18.55rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 53.4023rem;
      }
      .line-5-hSV {
        height: 0.2rem;
        position: absolute;
        left: 77.5997rem;
        top: 18.575rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 18.5025rem;
      }
      .line-4-pX7 {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3rem;
        height: 0.2rem;
        position: absolute;
        left: 1.7rem;
        top: 66rem;
      }
      .rectangle-4-ZDo {
        left: 2.1rem;
        top: 11.4rem;
        background-color: #ffffff;
        width: 93.9rem;
        height: 6.9rem;
        position: absolute;
      }
      .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 {
        display: flex;
        top: 13.3rem;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        font-size: 2.6rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        align-items: baseline;
        width: 77.6rem;
        height: 3.8rem;
        position: absolute;
        left: 3.4rem;

        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-0 {
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #30596d;
          font-family: Hammersmith One, 'Source Sans Pro';
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-1 {
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-2 {
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #30596d;
          font-family: Hammersmith One, 'Source Sans Pro';
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-3 {
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-4 {
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #30596d;
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-5 {
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-6 {
          color: #30596d;
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-7 {
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-8 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.25;
          color: #c5c820;
          font-family: Hammersmith One, 'Source Sans Pro';
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-9 {
        }
        .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-10 {
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #30596d;
          font-family: Hammersmith One, 'Source Sans Pro';
        }
      }
      .fecha-cita-6YV {
        font-size: 2.6rem;
        line-height: 1.25;
        position: absolute;
        left: 5.3rem;
        top: 21rem;
        font-weight: 400;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 12.5rem;
        height: 3.3rem;
      }
      .doctor-Qp5 {
        color: #30596d;
        left: 27.3rem;
        top: 21rem;
        position: absolute;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.6rem;
        height: 3.3rem;
      }
      .estado-cita-ukq {
        height: 3.3rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.6rem;
        position: absolute;
        left: 49.5rem;
        top: 21rem;
      }
      .servicio-quP {
        top: 21rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        width: 9.4rem;
        height: 3.3rem;
        position: absolute;
        left: 72.5rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .hora-whX {
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        width: 5.7rem;
        left: 89.5rem;
        font-size: 2.6rem;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 3.3rem;
        position: absolute;
        top: 21rem;
      }
      .line-6-GUu {
        left: 55.05rem;
        top: 11.8996rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.1rem;
        height: 6.7007rem;
        position: absolute;
      }
      .line-7-cHs {
        height: 0.1rem;
        position: absolute;
        left: 54.899rem;
        top: 11.85rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 22.702rem;
      }
      .line-8-YxD {
        width: 0.1rem;
        height: 7rem;
        position: absolute;
        left: 77.5rem;
        top: 11.9rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .rectangle-9-h4R {
        width: 93.9rem;
        left: 1.9rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        height: 13.5rem;
        position: absolute;
        top: 68rem;
        border: solid 0.3rem #dddee0;
        box-sizing: border-box;
        background-color: #f0f2f4;
      }
      .rectangle-13-ATo {
        top: 70.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 17.2859rem;
        height: 11.1128rem;
        position: absolute;
        left: 77.6796rem;
      }
      .item-1-06-2023-JK7 {
        white-space: nowrap;
        display: flex;
        font-size: 2.4rem;
        font-weight: 800;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        width: 12.9rem;
        position: absolute;
        left: 49.65rem;
        align-items: center;
        height: 3rem;
        top: 69.15rem;
        justify-content: center;
        line-height: 1.2125;
      }
      .item-9-00-myP {
        position: absolute;
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        color: #30596d;
        align-items: center;
        left: 53.2rem;
        top: 72.85rem;
        line-height: 1.2125;
        width: 5.8rem;
        height: 3rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .id-cita-03425-rV3 {
        font-weight: 800;
        height: 3rem;
        top: 69.15rem;
        display: flex;
        width: 17rem;
        align-items: center;
        font-size: 2.4rem;
        white-space: nowrap;
        left: 10.6rem;
        justify-content: center;
        color: #30596d;
        position: absolute;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .valor-1000-y3s {
        width: 15.5rem;
        height: 3rem;
        position: absolute;
        left: 49.4rem;
        align-items: center;
        font-size: 2.4rem;
        display: flex;
        line-height: 1.2125;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 800;
        white-space: nowrap;
        top: 76.45rem;
        justify-content: center;
      }
      .dr-sebastian-F1P {
        height: 3rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
        position: absolute;
        top: 69.15rem;
        display: flex;
        align-items: center;
        color: #30596d;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 77.55rem;
        justify-content: center;
        width: 15.8rem;
      }
      .consultorio-1-8L5 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        top: 76.45rem;
        font-size: 2.4rem;
        position: absolute;
        left: 11.2rem;
        display: flex;
        color: #30596d;
        justify-content: center;
        font-weight: 800;
        line-height: 1.2125;
        width: 15.8rem;
        align-items: center;
      }
      .ortodoncia-y-profilaxis-dental-qEV {
        align-items: center;
        justify-content: center;
        width: 35.7rem;
        top: 72.85rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        color: #30596d;
        height: 3rem;
        position: absolute;
        left: 3.75rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
      }
      .ellipse-2-uk9 {
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 1.5461rem;
        position: absolute;
        left: 32.7rem;
        top: 35.1rem;
      }
    }
  }
}
