
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.registro-Xob {
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .rectangle-3-etD {
    height: 86.8rem;
    position: absolute;
    left: 30.4rem;
    top: 7.8rem;
    filter: blur(0.5rem);
    background-color: rgba(255, 255, 255, 0.3000000119);
    width: 83.1rem;
  }
  .rectangle-8-yfb {
    height: 10.5rem;
    position: absolute;
    left: 43.5rem;
    top: 57.4rem;
    border: solid 0.5rem rgba(217, 217, 217, 0.5);
    box-sizing: border-box;
    border-radius: 5rem;
    width: 56.9rem;
  }
  .selecciona-tipo-u3T {
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 45.9rem;
    top: 60.4rem;
    font-size: 3.8rem;
    line-height: 1.2125;
    color: rgba(217, 217, 217, 0.6999999881);
    width: 28.6rem;
    height: 4.7rem;
    position: absolute;
  }
  .login-16V {
    background: linear-gradient(88.95deg, #464766 -0.94%, #010b1f 100.92%);
    border-radius: 3rem;
    width: 23.6rem;
    height: 7.3rem;
    position: absolute;
    left: 43.5rem;
    top: 84rem;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25));
  }
  .login-6dj {
    border-radius: 3rem;
    width: 18.3rem;
    height: 7.3rem;
    position: absolute;
    left: 82.1rem;
    top: 83.7rem;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25));
    background: linear-gradient(88.95deg, #464766 -0.94%, #010b1f 100.92%);
  }
  .lock-closed-CAy {
    top: 72.9406rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.0938rem;
    height: 4.2188rem;
    position: absolute;
    left: 93.5031rem;
  }
  .rectangle-5-XDF {
    box-sizing: border-box;
    border-radius: 5rem;
    width: 56.9rem;
    height: 10.5rem;
    position: absolute;
    left: 43.5rem;
    top: 45.2rem;
    border: solid 0.5rem #26283f;
  }
  .email-3Bb {
    color: #26283f;
    white-space: nowrap;
    height: 4.7rem;
    position: absolute;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 9.6rem;
    left: 45.9rem;
    top: 48.2rem;
  }
  .rectangle-6-A1K {
    position: absolute;
    left: 43.5rem;
    top: 69.8rem;
    border: solid 0.5rem rgba(217, 217, 217, 0.5);
    box-sizing: border-box;
    border-radius: 5rem;
    width: 56.9rem;
    height: 10.5rem;
  }
  .contrasea-sAd {
    width: 20.8rem;
    position: absolute;
    font-size: 3.8rem;
    line-height: 1.2125;
    color: rgba(217, 217, 217, 0.6999999881);
    white-space: nowrap;
    height: 4.7rem;
    left: 45.9rem;
    top: 72.8rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .registrarse-n2h {
    position: absolute;
    left: 44.8rem;
    top: 85.3rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 20.4rem;
    height: 4.7rem;
    font-size: 3.8rem;
    color: rgba(217, 217, 217, 0.6999999881);
  }
  .entrar-gds {
    color: rgba(217, 217, 217, 0.6999999881);
    font-family: Inter, 'Source Sans Pro';
    height: 4.7rem;
    position: absolute;
    left: 85.6rem;
    font-weight: 400;
    white-space: nowrap;
    width: 10.9rem;
    top: 85rem;
    font-size: 3.8rem;
    line-height: 1.2125;
  }
  .luxurtooth-PoB {
    font-size: 5rem;
    line-height: 1.25;
    font-family: Hammersmith One, 'Source Sans Pro';
    position: absolute;
    left: 56.7rem;
    top: 9.8rem;
    color: rgba(217, 217, 217, 0.8999999762);
    white-space: nowrap;
    width: 30.5rem;
    height: 6.3rem;
    font-weight: 400;
  }
  .rectangle-4-W77 {
    position: absolute;
    left: 65.9rem;
    top: 17.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 12.2rem;
    height: 12.5rem;
  }
  .vector-2bF {
    position: absolute;
    left: 92.7688rem;
    top: 36.0813rem;
    object-fit: contain;
    vertical-align: top;
    width: 4rem;
    height: 3.9375rem;
  }
  .rectangle-7-xzh {
    width: 56.9rem;
    height: 10.5rem;
    position: absolute;
    left: 43.5rem;
    top: 32.7rem;
    border: solid 0.5rem #26283f;
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .nombre-gfo {
    left: 45.9rem;
    color: #26283f;
    font-family: Inter, 'Source Sans Pro';
    height: 4.7rem;
    position: absolute;
    top: 35.7rem;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 14.4rem;
  }
  .polygon-1-oVX {
    top: 60.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.6rem;
    height: 3.8rem;
    position: absolute;
    left: 92.4rem;
  }
  .vector-jty {
    width: 2rem;
    height: 2.3rem;
    position: absolute;
    left: 94rem;
    top: 49.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-gJR {
    width: 4.9rem;
    height: 5rem;
    position: absolute;
    left: 92.7rem;
    top: 48.2rem;
    object-fit: contain;
    vertical-align: top;
  }
}
