
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.userview-64D {
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #dddee0;
}
.userview-64D .auto-group-zfbb-coF {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 4.4rem 5rem 3.6rem 4.6rem;
  width: 38.9rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #d9f0fd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .luxurtooth-u1f {
  margin-bottom: 8.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .luxurtooth-u1f .luxurtooth-u1f-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-zfbb-coF .luxurtooth-u1f .luxurtooth-u1f-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-zfbb-coF .inicio-xe9 {
  margin: 0rem 11.5rem 5.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-2k1s-gq3 {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-2k1s-gq3 .pacientes-pAZ {
  margin-right: 5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-2k1s-gq3 .polygon-2-wky {
  margin-top: 0.2rem;
  width: 0rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-xgw1-TjK {
  margin: 0rem 2.5rem 5.5rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-xgw1-TjK .consultas-PN5 {
  margin-right: 3.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-xgw1-TjK .polygon-3-XUH {
  margin-bottom: 0.5rem;
  width: 0rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-vokq-Ggm {
  margin: 0rem 2.5rem 5.3rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-vokq-Ggm .dentistas-B33 {
  margin-right: 4.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-vokq-Ggm .polygon-4-X6u {
  margin-bottom: 0.3rem;
  width: 0rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-bkah-eSR {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-bkah-eSR .agenda-nHj {
  margin-right: 8.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-bkah-eSR .polygon-5-8Mb {
  margin-bottom: 0.5rem;
  width: 0rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .facturacion-eaq {
  margin: 0rem 0.8rem 5.2rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .configuracion-y7K {
  margin: 0rem 0rem 2.6rem 2.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-ugpd-tzy {
  box-sizing: border-box;
  padding: 5.6rem 7.6rem 5.72rem 1rem;
  width: 100%;
  height: 16.8rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-ugpd-tzy .icon-user-RV7 {
  margin-right: 0.5953rem;
  box-sizing: border-box;
  padding: 0.9rem 0.805rem 1.08rem 0.7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-8of.png');
  flex-shrink: 0;
}
.userview-64D .auto-group-zfbb-coF .auto-group-ugpd-tzy .icon-user-RV7 .vector-MNm {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-zfbb-coF .auto-group-ugpd-tzy .pac-juan-b-e6y {
  margin-top: 0.3197rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userview-64D .auto-group-n4ih-Ge9 {
  margin-bottom: 0.1rem;
  width: 99.4rem;
  flex-shrink: 0;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X {
  margin: 0rem 0rem 1.8rem 0.5rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .auto-group-zmgy-MQh {
  margin: 1.1rem 13.6rem 0.9rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.3rem 0.6rem 1.3rem;
  width: 28.3rem;
  height: calc(100% - 2rem);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
  flex-shrink: 0;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .auto-group-akiv-NKo {
  margin-right: 1.6rem;
  width: 43.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .auto-group-akiv-NKo .rectangle-10-hss {
  width: 41.5rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .auto-group-akiv-NKo .polygon-6-qjB {
  width: 3rem;
  height: 3.6rem;
  position: absolute;
  left: 40.7rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .auto-group-akiv-NKo .dr-sebastian-te-envio-una-novedad-8iH {
  width: 32.6rem;
  height: 2.5rem;
  position: absolute;
  left: 4rem;
  top: 2.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-vz57-27X .icon-bell-Dzd {
  margin-top: 0.1328rem;
  width: 3rem;
  height: 3.3328rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 {
  width: 100%;
  height: 89.5rem;
  position: relative;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .vector-1-fLq {
  width: 0.1315rem;
  height: 2.9196rem;
  position: absolute;
  left: 24.8144rem;
  top: 61.9359rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .vector-2-mPs {
  width: 0.05rem;
  height: 0.3145rem;
  position: absolute;
  left: 24.5219rem;
  top: 62.1077rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .vector-3-7Cq {
  width: 0.1776rem;
  height: 0.8175rem;
  position: absolute;
  left: 24.9133rem;
  top: 64.8996rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-1-Sku {
  width: 99.4rem;
  height: 89.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3rem;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-11-Mss {
  width: 94.4rem;
  height: 4.9rem;
  position: absolute;
  left: 2.6rem;
  top: 36.8rem;
  background-color: rgba(197, 200, 32, 0.3799999952);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-1-04-2023-tso {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 4.8rem;
  top: 26.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .drsebastian-A4d {
  width: 15.3rem;
  height: 3rem;
  position: absolute;
  left: 25.6rem;
  top: 26.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .finalizada-TpR {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 50.1rem;
  top: 26.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .control-jmw {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 72.8rem;
  top: 26.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-16-00-pHb {
  width: 7rem;
  height: 3rem;
  position: absolute;
  left: 89.5rem;
  top: 26.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-1-06-2023-JCm {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 4.75rem;
  top: 37.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .drsebastian-Cow {
  width: 15.3rem;
  height: 3rem;
  position: absolute;
  left: 25.6rem;
  top: 37.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .pendiente-VHF {
  width: 12.1rem;
  height: 3rem;
  position: absolute;
  left: 50.2rem;
  top: 37.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .ortodoncia-Nrq {
  width: 13.5rem;
  height: 3rem;
  position: absolute;
  left: 70.5rem;
  top: 37.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-9-00-Uus {
  width: 5.8rem;
  height: 3rem;
  position: absolute;
  left: 90.1rem;
  top: 37.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-18-05-2023-mty {
  width: 14.4rem;
  height: 3rem;
  position: absolute;
  left: 4rem;
  top: 32.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .drsebastian-GKw {
  width: 15.3rem;
  height: 3rem;
  position: absolute;
  left: 25.6rem;
  top: 32.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .finalizada-wws {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 50.1rem;
  top: 32.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .sellado-fN5 {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 72.8rem;
  top: 32.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-10-00-mAD {
  width: 7.1rem;
  height: 3rem;
  position: absolute;
  left: 89.5rem;
  top: 32.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-21-SGM {
  width: 94.3002rem;
  height: 0.2rem;
  position: absolute;
  left: 2.6999rem;
  top: 25.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-13-wiu {
  width: 94.3002rem;
  height: 0.2rem;
  position: absolute;
  left: 2.6999rem;
  top: 31rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-25-5aD {
  width: 94.3002rem;
  height: 0.2rem;
  position: absolute;
  left: 2.6999rem;
  top: 41.8rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-26-ca9 {
  width: 94.3002rem;
  height: 0.2rem;
  position: absolute;
  left: 2.6999rem;
  top: 47.8rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-14-MGq {
  width: 94.3002rem;
  height: 0.2rem;
  position: absolute;
  left: 2.6999rem;
  top: 36.4rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-12-TKs {
  width: 0.2rem;
  height: 29rem;
  position: absolute;
  left: 21.5625rem;
  top: 25.0067rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-22-CYM {
  width: 0.2rem;
  height: 29rem;
  position: absolute;
  left: 44.125rem;
  top: 25.3031rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-23-wVw {
  width: 0.2rem;
  height: 29rem;
  position: absolute;
  left: 68.125rem;
  top: 25.4031rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-24-HJu {
  width: 0.2rem;
  height: 29rem;
  position: absolute;
  left: 88.125rem;
  top: 25.1031rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .id-101062893-Rg1 {
  width: 13rem;
  height: 2.5rem;
  position: absolute;
  left: 4rem;
  top: 6.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-6-8qK {
  width: 25.6rem;
  height: 4.4rem;
  position: absolute;
  left: 3.1rem;
  top: 83.7rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-7-RpR {
  width: 25.6rem;
  height: 4.4rem;
  position: absolute;
  left: 36.9rem;
  top: 83.7rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .posponer-cita-8iq {
  width: 19rem;
  height: 3.8rem;
  position: absolute;
  left: 38.6rem;
  top: 84.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .cancelar-cita-3au {
  width: 18.8rem;
  height: 3.8rem;
  position: absolute;
  left: 4.9rem;
  top: 84.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .juan-barrios-20-aos-mWu {
  width: 28.5rem;
  height: 4rem;
  position: absolute;
  left: 2.8rem;
  top: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .juan-barrios-20-aos-mWu .juan-barrios-20-aos-mWu-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .juan-barrios-20-aos-mWu .juan-barrios-20-aos-mWu-sub-1 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-1-48d {
  width: 0.3rem;
  height: 4rem;
  position: absolute;
  left: 22.75rem;
  top: 1.5007rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-3-bPT {
  width: 53.4023rem;
  height: 0.2rem;
  position: absolute;
  left: 1.6988rem;
  top: 18.55rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-5-hSV {
  width: 18.5025rem;
  height: 0.2rem;
  position: absolute;
  left: 77.5997rem;
  top: 18.575rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-4-pX7 {
  width: 94.3rem;
  height: 0.2rem;
  position: absolute;
  left: 1.7rem;
  top: 66rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-4-ZDo {
  width: 93.9rem;
  height: 6.9rem;
  position: absolute;
  left: 2.1rem;
  top: 11.4rem;
  background-color: #ffffff;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 {
  width: 77.6rem;
  height: 3.8rem;
  position: absolute;
  left: 3.4rem;
  top: 13.3rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: pre;
  display: flex;
  align-items: baseline;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-0 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-1 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-2 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-3 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-4 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-5 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-6 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-7 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-8 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-9 {
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1 .datos-personales-archivos-ajuntos-observaciones-pagos-hL1-sub-10 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .fecha-cita-6YV {
  width: 12.5rem;
  height: 3.3rem;
  position: absolute;
  left: 5.3rem;
  top: 21rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .doctor-Qp5 {
  width: 8.6rem;
  height: 3.3rem;
  position: absolute;
  left: 27.3rem;
  top: 21rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .estado-cita-ukq {
  width: 13.6rem;
  height: 3.3rem;
  position: absolute;
  left: 49.5rem;
  top: 21rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .servicio-quP {
  width: 9.4rem;
  height: 3.3rem;
  position: absolute;
  left: 72.5rem;
  top: 21rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .hora-whX {
  width: 5.7rem;
  height: 3.3rem;
  position: absolute;
  left: 89.5rem;
  top: 21rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-6-GUu {
  width: 0.1rem;
  height: 6.7007rem;
  position: absolute;
  left: 55.05rem;
  top: 11.8996rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-7-cHs {
  width: 22.702rem;
  height: 0.1rem;
  position: absolute;
  left: 54.899rem;
  top: 11.85rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .line-8-YxD {
  width: 0.1rem;
  height: 7rem;
  position: absolute;
  left: 77.5rem;
  top: 11.9rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-9-h4R {
  width: 93.9rem;
  height: 13.5rem;
  position: absolute;
  left: 1.9rem;
  top: 68rem;
  border: solid 0.3rem #dddee0;
  box-sizing: border-box;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .rectangle-13-ATo {
  width: 17.2859rem;
  height: 11.1128rem;
  position: absolute;
  left: 77.6796rem;
  top: 70.8rem;
  object-fit: contain;
  vertical-align: top;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-1-06-2023-JK7 {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 49.65rem;
  top: 69.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .item-9-00-myP {
  width: 5.8rem;
  height: 3rem;
  position: absolute;
  left: 53.2rem;
  top: 72.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .id-cita-03425-rV3 {
  width: 17rem;
  height: 3rem;
  position: absolute;
  left: 10.6rem;
  top: 69.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .valor-1000-y3s {
  width: 15.5rem;
  height: 3rem;
  position: absolute;
  left: 49.4rem;
  top: 76.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .dr-sebastian-F1P {
  width: 15.8rem;
  height: 3rem;
  position: absolute;
  left: 77.55rem;
  top: 69.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .consultorio-1-8L5 {
  width: 15.8rem;
  height: 3rem;
  position: absolute;
  left: 11.2rem;
  top: 76.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .ortodoncia-y-profilaxis-dental-qEV {
  width: 35.7rem;
  height: 3rem;
  position: absolute;
  left: 3.75rem;
  top: 72.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.userview-64D .auto-group-n4ih-Ge9 .auto-group-erm3-AQ5 .ellipse-2-uk9 {
  width: 2.1rem;
  height: 1.5461rem;
  position: absolute;
  left: 32.7rem;
  top: 35.1rem;
  object-fit: contain;
  vertical-align: top;
}
