
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ecritorio-WMB {
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #30596d;
}
.ecritorio-WMB .auto-group-xbhf-SEq {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 4.4rem 5rem 3.6rem 4.6rem;
  width: 38.9rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #d9f0fd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .luxurtooth-hwT {
  margin-bottom: 8.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .luxurtooth-hwT .luxurtooth-hwT-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-xbhf-SEq .luxurtooth-hwT .luxurtooth-hwT-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-xbhf-SEq .inicio-8fP {
  margin: 0rem 11.5rem 5.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-dxkj-FV7 {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-dxkj-FV7 .pacientes-NZj {
  margin-right: 5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-dxkj-FV7 .polygon-2-hc1 {
  margin-top: 0.2rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-x33b-S3o {
  margin: 0rem 2.5rem 5.5rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-x33b-S3o .consultas-9iu {
  margin-right: 3.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-x33b-S3o .polygon-3-VXs {
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-eznd-EVT {
  margin: 0rem 2.5rem 5.3rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-eznd-EVT .dentistas-N5s {
  margin-right: 4.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-eznd-EVT .polygon-4-WSy {
  margin-bottom: 0.3rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-n61t-F9f {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-n61t-F9f .agenda-Nzy {
  margin-right: 8.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-n61t-F9f .polygon-5-KQR {
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .facturacion-F3B {
  margin: 0rem 0.8rem 5.2rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .configuracion-Afw {
  margin: 0rem 0rem 2.6rem 2.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-g2a1-Vy7 {
  box-sizing: border-box;
  padding: 5.6rem 10.8rem 5.72rem 1rem;
  width: 100%;
  height: 16.8rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-g2a1-Vy7 .icon-user-EA1 {
  margin-right: 0.5953rem;
  box-sizing: border-box;
  padding: 0.9rem 0.805rem 1.08rem 0.7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-mKb.png');
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-g2a1-Vy7 .icon-user-EA1 .vector-xLu {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-xbhf-SEq .auto-group-g2a1-Vy7 .p-juan-b-5wK {
  margin-top: 0.3197rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb {
  margin-top: 2.5rem;
  width: 99.4rem;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z {
  margin: 0rem 0rem 1.2rem 3.8rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z .icon-menu-mxZ {
  margin: 0rem 2.4rem 0.251rem 0rem;
  width: 2.5rem;
  height: 2.3487rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z .auto-group-mvkf-tnH {
  margin-right: 39.9rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.6rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z .auto-group-mvkf-tnH .buscar-diagnostico-QEq {
  margin-right: 6.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z .auto-group-mvkf-tnH .icon-search-XaM {
  margin-bottom: 0.6rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-oecd-42Z .icon-bell-1kR {
  margin-bottom: 0.2672rem;
  width: 3rem;
  height: 3.3328rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM {
  width: 100%;
  height: 89.5rem;
  position: relative;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .vector-1-s1w {
  width: 0.1315rem;
  height: 2.9196rem;
  position: absolute;
  left: 24.8144rem;
  top: 61.9359rem;
  object-fit: contain;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .vector-2-CK7 {
  width: 0.05rem;
  height: 0.3145rem;
  position: absolute;
  left: 24.5219rem;
  top: 62.1077rem;
  object-fit: contain;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .vector-3-XMP {
  width: 0.1776rem;
  height: 0.8175rem;
  position: absolute;
  left: 24.9133rem;
  top: 64.8996rem;
  object-fit: contain;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-1-4MK {
  width: 99.4rem;
  height: 89.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .sede-principal-283-doc-sebastian-tel-3137283923-sebasluxurtoothcom-id-73894983-mFj {
  width: 26.3rem;
  height: 15rem;
  position: absolute;
  left: 2.8rem;
  top: 28.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .diagnostico-medico-dYq {
  width: 43.1rem;
  height: 6rem;
  position: absolute;
  left: 48.6rem;
  top: 14rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .luxurtooth-7iu {
  width: 29.3rem;
  height: 6rem;
  position: absolute;
  left: 2.8rem;
  top: 14rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .luxurtooth-7iu .luxurtooth-7iu-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .luxurtooth-7iu .luxurtooth-7iu-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .id-101062893-DQZ {
  width: 13rem;
  height: 2.5rem;
  position: absolute;
  left: 4rem;
  top: 6.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .registrado-el-21-10-2021-3-18-pm-8Gd {
  width: 30.2rem;
  height: 2.5rem;
  position: absolute;
  left: 23.7rem;
  top: 6.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .juan-barrios-20-aos-pv9 {
  width: 28.5rem;
  height: 4rem;
  position: absolute;
  left: 2.8rem;
  top: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .juan-barrios-20-aos-pv9 .juan-barrios-20-aos-pv9-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .line-1-pof {
  width: 0.3rem;
  height: 4rem;
  position: absolute;
  left: 22.75rem;
  top: 1.5007rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .line-2-ZFT {
  width: 0.3rem;
  height: 4rem;
  position: absolute;
  left: 22.75rem;
  top: 6.1007rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-3-Hx9 {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 33.5rem;
  top: 25.6rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .juan-barrios-Bnd {
  width: 13.4rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 26.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-4-hky {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 66.1rem;
  top: 25.6rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-5-1Fs {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 33.5rem;
  top: 33.4rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .item-101062893-u6M {
  width: 12.5rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 34.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-6-oBj {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 66.1rem;
  top: 33.4rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-7-Hch {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 33.5rem;
  top: 40.7rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-8-npM {
  width: 30.1rem;
  height: 4.8rem;
  position: absolute;
  left: 66.1rem;
  top: 40.7rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .item-10-04-2023-tcV {
  width: 13.2rem;
  height: 3rem;
  position: absolute;
  left: 74rem;
  top: 26.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .item-15-04-2023-nxm {
  width: 13.2rem;
  height: 3rem;
  position: absolute;
  left: 74rem;
  top: 34rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .item-10-05-2023-UKo {
  width: 13.4rem;
  height: 3rem;
  position: absolute;
  left: 74rem;
  top: 41.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-9-xVs {
  width: 34.9rem;
  height: 16.9rem;
  position: absolute;
  left: 2.3rem;
  top: 50.8rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-10-FUy {
  width: 34.9rem;
  height: 16.9rem;
  position: absolute;
  left: 2.3rem;
  top: 69.6rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-11-LmK {
  width: 34.9rem;
  height: 16.9rem;
  position: absolute;
  left: 39.4rem;
  top: 50.8rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-12-Erh {
  width: 34.9rem;
  height: 16.9rem;
  position: absolute;
  left: 39.4rem;
  top: 69.6rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #30596d;
  border-radius: 2rem;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-13-Kt9 {
  width: 24.9827rem;
  height: 17.3475rem;
  position: absolute;
  left: 73.7587rem;
  top: 69.4263rem;
  object-fit: contain;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .rectangle-14-TUZ {
  width: 22.7278rem;
  height: 19.4406rem;
  position: absolute;
  left: 75.1316rem;
  top: 51.3451rem;
  object-fit: cover;
  vertical-align: top;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .sebastian-t-nWq {
  width: 13rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 41.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .dolor-e-hinchazn-en-las-encas-superiores-JEH {
  width: 31.9rem;
  height: 6rem;
  position: absolute;
  left: 3.2rem;
  top: 59.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .uso-de-flor-empaste-y-coronas-en-caninos-superiores-24-28-kry {
  width: 25.7rem;
  height: 9rem;
  position: absolute;
  left: 2.8rem;
  top: 76.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .motivo-de-admision-23o {
  width: 21.3rem;
  height: 3rem;
  position: absolute;
  left: 3.2rem;
  top: 51.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .diagnostio-al-ingreso-WUm {
  width: 23.5rem;
  height: 3rem;
  position: absolute;
  left: 40.3rem;
  top: 51.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .diagnostico-al-alta-QKF {
  width: 20.7rem;
  height: 3rem;
  position: absolute;
  left: 40.3rem;
  top: 70.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .tratamiento-umo {
  width: 13.7rem;
  height: 3rem;
  position: absolute;
  left: 3.2rem;
  top: 70.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .caries-en-los-caninos-maxilar-superior-DXb {
  width: 32.1rem;
  height: 6rem;
  position: absolute;
  left: 40.3rem;
  top: 58.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
}
.ecritorio-WMB .auto-group-jfws-iDb .auto-group-n6n9-YkM .caninos-superiores-daados-fueron-restaurados-vS1 {
  width: 31.1rem;
  height: 6rem;
  position: absolute;
  left: 39.9rem;
  top: 77.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Hammersmith One, 'Source Sans Pro';
}
