
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ecritorio-WMB {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #30596d;
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;

  .auto-group-xbhf-SEq {
    margin-right: 2.9rem;
    height: 102.4rem;
    flex-direction: column;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.4rem 5rem 3.6rem 4.6rem;
    width: 38.9rem;
    align-items: center;
    display: flex;
    background-color: #d9f0fd;

    .luxurtooth-hwT {
      white-space: nowrap;
      font-size: 4.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 8.8rem;
      line-height: 1.25;
      display: flex;
      align-items: baseline;

      .luxurtooth-hwT-sub-0 {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .luxurtooth-hwT-sub-1 {
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
      }
    }
    .inicio-8fP {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 11.5rem 5.4rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
    }
    .auto-group-dxkj-FV7 {
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .pacientes-NZj {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
      }
      .polygon-2-hc1 {
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-x33b-S3o {
      margin: 0rem 2.5rem 5.5rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .consultas-9iu {
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
        font-size: 3.2rem;
      }
      .polygon-3-VXs {
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-eznd-EVT {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.3rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;

      .dentistas-N5s {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4rem;
      }
      .polygon-4-WSy {
        margin-bottom: 0.3rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-n61t-F9f {
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.4rem 4.1rem;

      .agenda-Nzy {
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .polygon-5-KQR {
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .facturacion-F3B {
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.8rem 5.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
    }
    .configuracion-Afw {
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.6rem 2.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
    }
    .auto-group-g2a1-Vy7 {
      flex-shrink: 0;
      height: 16.8rem;
      display: flex;
      width: 100%;
      align-items: center;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 5.6rem 10.8rem 5.72rem 1rem;

      .icon-user-EA1 {
        padding: 0.9rem 0.805rem 1.08rem 0.7rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:3:230');
        margin-right: 0.5953rem;
        box-sizing: border-box;
        background-position: center;
        flex-shrink: 0;

        .vector-xLu {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .p-juan-b-5wK {
        flex-shrink: 0;
        margin-top: 0.3197rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-jfws-iDb {
    margin-top: 2.5rem;
    width: 99.4rem;
    flex-shrink: 0;

    .auto-group-oecd-42Z {
      display: flex;
      align-items: center;
      margin: 0rem 0rem 1.2rem 3.8rem;
      height: 4.4rem;

      .icon-menu-mxZ {
        margin: 0rem 2.4rem 0.251rem 0rem;
        width: 2.5rem;
        height: 2.3487rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-mvkf-tnH {
        display: flex;
        align-items: center;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-right: 39.9rem;
        height: 100%;
        background-color: #f0f2f4;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 0.8rem 1.6rem 0.6rem 0.5rem;

        .buscar-diagnostico-QEq {
          font-family: Hammersmith One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.9rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        .icon-search-XaM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          width: 2rem;
          height: 2rem;
        }
      }
      .icon-bell-1kR {
        height: 3.3328rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2672rem;
        width: 3rem;
      }
    }
    .auto-group-n6n9-YkM {
      width: 100%;
      height: 89.5rem;
      position: relative;

      .vector-1-s1w {
        height: 2.9196rem;
        position: absolute;
        left: 24.8144rem;
        top: 61.9359rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.1315rem;
      }
      .vector-2-CK7 {
        width: 0.05rem;
        height: 0.3145rem;
        position: absolute;
        left: 24.5219rem;
        top: 62.1077rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-3-XMP {
        width: 0.1776rem;
        height: 0.8175rem;
        position: absolute;
        left: 24.9133rem;
        top: 64.8996rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-1-4MK {
        top: 0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 3rem;
        width: 99.4rem;
        height: 89.5rem;
        position: absolute;
        left: 0;
      }
      .sede-principal-283-doc-sebastian-tel-3137283923-sebasluxurtoothcom-id-73894983-mFj {
        width: 26.3rem;
        top: 28.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 15rem;
        position: absolute;
        left: 2.8rem;
        font-size: 2.4rem;
      }
      .diagnostico-medico-dYq {
        color: #000000;
        white-space: nowrap;
        position: absolute;
        top: 14rem;
        font-size: 4.8rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 43.1rem;
        height: 6rem;
        left: 48.6rem;
        line-height: 1.25;
      }
      .luxurtooth-7iu {
        width: 29.3rem;
        height: 6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 2.8rem;
        top: 14rem;
        font-size: 4.8rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        display: flex;
        align-items: baseline;

        .luxurtooth-7iu-sub-0 {
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.25;
          color: #30596d;
        }
        .luxurtooth-7iu-sub-1 {
          font-weight: 400;
          line-height: 1.25;
          color: #c5c820;
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 4.8rem;
        }
      }
      .id-101062893-DQZ {
        width: 13rem;
        height: 2.5rem;
        left: 4rem;
        line-height: 1.25;
        color: #000000;
        position: absolute;
        top: 6.9rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .registrado-el-21-10-2021-3-18-pm-8Gd {
        left: 23.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 30.2rem;
        position: absolute;
        color: #000000;
        white-space: nowrap;
        height: 2.5rem;
        top: 6.9rem;
      }
      .juan-barrios-20-aos-pv9 {
        align-items: baseline;
        height: 4rem;
        top: 1.7rem;
        line-height: 1.25;
        color: #000000;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 28.5rem;
        position: absolute;
        left: 2.8rem;
        font-size: 2.4rem;

        .juan-barrios-20-aos-pv9-sub-0 {
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
        
      }
      .line-1-pof {
        left: 22.75rem;
        top: 1.5007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.3rem;
        height: 4rem;
        position: absolute;
      }
      .line-2-ZFT {
        height: 4rem;
        position: absolute;
        left: 22.75rem;
        top: 6.1007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.3rem;
      }
      .rectangle-3-Hx9 {
        height: 4.8rem;
        position: absolute;
        left: 33.5rem;
        top: 25.6rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
        width: 30.1rem;
      }
      .juan-barrios-Bnd {
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        top: 26.7rem;
        line-height: 1.25;
        width: 13.4rem;
        left: 41.7rem;
        font-weight: 400;
      }
      .rectangle-4-hky {
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
        width: 30.1rem;
        height: 4.8rem;
        position: absolute;
        left: 66.1rem;
        top: 25.6rem;
      }
      .rectangle-5-1Fs {
        width: 30.1rem;
        height: 4.8rem;
        position: absolute;
        left: 33.5rem;
        top: 33.4rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
      }
      .item-101062893-u6M {
        position: absolute;
        left: 41.7rem;
        color: #ffffff;
        white-space: nowrap;
        width: 12.5rem;
        top: 34.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 3rem;
      }
      .rectangle-6-oBj {
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
        width: 30.1rem;
        height: 4.8rem;
        position: absolute;
        left: 66.1rem;
        top: 33.4rem;
      }
      .rectangle-7-Hch {
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
        width: 30.1rem;
        height: 4.8rem;
        position: absolute;
        left: 33.5rem;
        top: 40.7rem;
      }
      .rectangle-8-npM {
        top: 40.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
        width: 30.1rem;
        height: 4.8rem;
        position: absolute;
        left: 66.1rem;
      }
      .item-10-04-2023-tcV {
        line-height: 1.25;
        color: #ffffff;
        width: 13.2rem;
        position: absolute;
        left: 74rem;
        top: 26.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 3rem;
        white-space: nowrap;
      }
      .item-15-04-2023-nxm {
        width: 13.2rem;
        left: 74rem;
        top: 34rem;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .item-10-05-2023-UKo {
        font-weight: 400;
        width: 13.4rem;
        height: 3rem;
        position: absolute;
        top: 41.6rem;
        font-size: 2.4rem;
        left: 74rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-9-xVs {
        width: 34.9rem;
        height: 16.9rem;
        position: absolute;
        left: 2.3rem;
        top: 50.8rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
      }
      .rectangle-10-FUy {
        width: 34.9rem;
        height: 16.9rem;
        position: absolute;
        left: 2.3rem;
        top: 69.6rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
      }
      .rectangle-11-LmK {
        background-color: #30596d;
        border-radius: 2rem;
        width: 34.9rem;
        height: 16.9rem;
        position: absolute;
        left: 39.4rem;
        top: 50.8rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      }
      .rectangle-12-Erh {
        width: 34.9rem;
        height: 16.9rem;
        position: absolute;
        left: 39.4rem;
        top: 69.6rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #30596d;
        border-radius: 2rem;
      }
      .rectangle-13-Kt9 {
        top: 69.4263rem;
        object-fit: contain;
        vertical-align: top;
        width: 24.9827rem;
        height: 17.3475rem;
        position: absolute;
        left: 73.7587rem;
      }
      .rectangle-14-TUZ {
        object-fit: cover;
        vertical-align: top;
        width: 22.7278rem;
        height: 19.4406rem;
        position: absolute;
        left: 75.1316rem;
        top: 51.3451rem;
      }
      .sebastian-t-nWq {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        color: #ffffff;
        position: absolute;
        left: 41.7rem;
        top: 41.9rem;
        font-size: 2.4rem;
        line-height: 1.25;
        width: 13rem;
        height: 3rem;
      }
      .dolor-e-hinchazn-en-las-encas-superiores-JEH {
        width: 31.9rem;
        height: 6rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        left: 3.2rem;
        top: 59.3rem;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .uso-de-flor-empaste-y-coronas-en-caninos-superiores-24-28-kry {
        width: 25.7rem;
        position: absolute;
        top: 76.9rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 9rem;
        left: 2.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .motivo-de-admision-23o {
        line-height: 1.25;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 3rem;
        position: absolute;
        left: 3.2rem;
        top: 51.5rem;
        font-weight: 400;
        width: 21.3rem;
        font-size: 2.4rem;
        white-space: nowrap;
      }
      .diagnostio-al-ingreso-WUm {
        width: 23.5rem;
        position: absolute;
        top: 51.3rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        height: 3rem;
        left: 40.3rem;
        font-size: 2.4rem;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .diagnostico-al-alta-QKF {
        width: 20.7rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        height: 3rem;
        position: absolute;
        left: 40.3rem;
        top: 70.7rem;
      }
      .tratamiento-umo {
        height: 3rem;
        font-size: 2.4rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        line-height: 1.25;
        color: #ffffff;
        white-space: nowrap;
        width: 13.7rem;
        position: absolute;
        left: 3.2rem;
        top: 70.7rem;
        font-weight: 400;
      }
      .caries-en-los-caninos-maxilar-superior-DXb {
        height: 6rem;
        left: 40.3rem;
        top: 58.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 32.1rem;
        position: absolute;
        line-height: 1.25;
        color: #ffffff;
      }
      .caninos-superiores-daados-fueron-restaurados-vS1 {
        position: absolute;
        left: 39.9rem;
        top: 77.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        width: 31.1rem;
        color: #ffffff;
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 6rem;
      }
    }
  }
}
