
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historialclinico-dBK {
  padding: 2.7rem 2.2rem 4.2rem 2.4rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .head-uPj {
    margin: 0rem 2.4rem 0.4rem 0rem;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-wkvy-1hf {
      flex-shrink: 0;
      margin-right: 2.7333rem;
      width: 113rem;
      height: 100%;

      .auto-group-xmvm-x77 {
        align-items: center;
        margin: 0rem 4rem 1.2rem 0rem;
        width: calc(100% - 4rem);
        height: 5.3rem;
        display: flex;

        .auto-group-woxs-fGR {
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .luxurtooth-zZb {
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 0.4rem 0rem 0rem;
          }
          .rectangle-4-5qw {
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
        }
        .auto-group-w565-DBT {
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 59.2rem 1.3rem 1.9rem;
          height: 100%;
          display: flex;
          align-items: center;

          .icon-search-8pD {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.6rem 0.154rem 0rem;
            width: 2.5rem;
            height: 2.2491rem;
            position: relative;
            object-fit: contain;
          }
          .buscar-fecha-qTj {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-2t3x-8xd {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-tmxh-rtd {
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-hp8h-Q9T {
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-tvz7-7Zf {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 9.7rem 1.5rem 0rem;
            height: calc(100% - 2rem);
            row-gap: 0.4rem;
            display: flex;

            .doctor-sebastian-EeH {
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 400;
            }
            .item-100783823-NVb {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
            .aos-Ju3 {
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
          .line-1-ei1 {
            margin-right: 3.5rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .bell-PQh {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
            height: 3rem;
          }
          .notificaciones-utq {
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.4rem 7rem 0rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .line-2-2yT {
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
            margin-right: 3.25rem;
          }
          .fire-P3K {
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.65rem 6.782rem 0rem;
          }
          .advertencias-uGZ {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7rem;
          }
        }
      }
    }
    .user-cRs {
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
    }
    .doc-sebas-ufs {
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 2.9rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
    }
    .polygon-1-cKP {
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-j1ad-94R {
    margin-bottom: 2.9rem;
    width: 100%;
    height: 6.8rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:117:709');
    box-sizing: border-box;
    padding: 0.1rem 25.9rem 0.1rem 21.7rem;
    align-items: center;
    flex-shrink: 0;

    .agenda-qC9 {
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 18.8rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
    }
    .line-3-vUV {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .odontograma-efP {
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 9.4rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .line-4-a3F {
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
      margin-right: 4.8rem;
    }
    .historial-clinico-urD {
      flex-shrink: 0;
      margin-top: 1.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-7msd-1PT {
    width: calc(100% - 5.1rem);
    height: 37.9rem;
    border-right: solid 0.2rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 2.5rem 2.8rem 2.6rem;

    .auto-group-922h-Xsb {
      position: relative;
      width: 134.1rem;
      height: 100%;

      .rectangle-11-QwP {
        border-radius: 2.5rem;
        width: 134rem;
        height: 37.9rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        background-color: #ffffff;
      }
      .line-6-jTs {
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
      }
      .line-21-Fx1 {
        left: 0.4rem;
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-13-PYR {
        position: absolute;
        left: 0.4rem;
        top: 15.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
      }
      .line-14-iqb {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 20.6rem;
      }
      .line-15-GMK {
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 25.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-16-cAH {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 30.6rem;
      }
      .line-17-Z5X {
        top: 35.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
      }
      .line-7-JJ1 {
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 103.1rem;
      }
      .line-24-RtR {
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 124.1rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-8-9pR {
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 86.8rem;
      }
      .line-9-gZT {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 68.6rem;
        top: 9.5rem;
      }
      .line-10-RX3 {
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 44.7rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-11-MQh {
        position: absolute;
        left: 29.4rem;
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
      }
      .line-23-tvR {
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 13.75rem;
        top: 9.3031rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .introduce-id-paciente--3HX {
        left: 1.7rem;
        white-space: nowrap;
        position: absolute;
        height: 3.1rem;
        top: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 22.6rem;
      }
      .item-129038-9LZ {
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        top: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        width: 7.2rem;
        left: 28.7rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .item-129038-SaZ {
        height: 3.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.2rem;
        left: 17.1rem;
        top: 16.2rem;
        line-height: 1.2575;
        color: #010b1f;
        position: absolute;
      }
      .item-129038-Lfw {
        position: absolute;
        left: 17.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 7.2rem;
        height: 3.1rem;
        white-space: nowrap;
        top: 16.2rem;
        line-height: 1.2575;
      }
      .item-12-04-2023-ewX {
        font-weight: 400;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        left: 0.6rem;
        height: 3.1rem;
        position: absolute;
        top: 16.5rem;
        font-size: 2.4rem;
        color: #010b1f;
        width: 11.3rem;
      }
      .item-129038-xhK {
        position: absolute;
        top: 21.8rem;
        font-size: 2.4rem;
        white-space: nowrap;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 7.2rem;
        height: 3.1rem;
        left: 17.1rem;
        font-weight: 400;
      }
      .item-129038-sZP {
        left: 17.1rem;
        font-family: Tahoma, 'Source Sans Pro';
        color: #010b1f;
        width: 7.2rem;
        height: 3.1rem;
        position: absolute;
        top: 31.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
      }
      .item-129038-PGq {
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        left: 17.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
        width: 7.2rem;
        position: absolute;
        top: 26.9rem;
      }
      .id-paciente-Vqf {
        color: #010b1f;
        height: 3.1rem;
        left: 14.5rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.8rem;
        position: absolute;
        top: 10.1rem;
        font-size: 2.4rem;
      }
      .nombre-Qxd {
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.6rem;
        position: absolute;
        top: 10.1rem;
        font-weight: 700;
        color: #010b1f;
        white-space: nowrap;
        height: 3.1rem;
        left: 29.7rem;
        font-size: 2.4rem;
        line-height: 1.2575;
      }
      .servicio-Kph {
        top: 10.1rem;
        font-size: 2.4rem;
        width: 8.6rem;
        height: 3.1rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 45.2rem;
      }
      .estado-daV {
        font-family: Tahoma, 'Source Sans Pro';
        width: 7.2rem;
        height: 3.1rem;
        left: 70.1rem;
        top: 10.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #010b1f;
        white-space: nowrap;
        position: absolute;
        line-height: 1.2575;
      }
      .diente-k9K {
        font-weight: 700;
        color: #010b1f;
        width: 7rem;
        position: absolute;
        left: 87.7rem;
        top: 10.1rem;
        font-size: 2.4rem;
        height: 3.1rem;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
      }
      .zona-ry3 {
        font-weight: 700;
        line-height: 1.2575;
        top: 10.1rem;
        font-size: 2.4rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 5.3rem;
        height: 3.1rem;
        position: absolute;
        left: 103.7rem;
        white-space: nowrap;
      }
      .hora-NRb {
        width: 5.2rem;
        height: 3.1rem;
        position: absolute;
        color: #010b1f;
        white-space: nowrap;
        left: 124.7rem;
        top: 10.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .fecha-tPw {
        height: 3.1rem;
        position: absolute;
        top: 10.1rem;
        font-weight: 700;
        white-space: nowrap;
        width: 6.3rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        left: 4.3rem;
      }
      .item-30-04-2023-zxm {
        width: 11.3rem;
        position: absolute;
        left: 0.6rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        white-space: nowrap;
        height: 3.1rem;
        top: 21.8rem;
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .item-16-05-2023-WAR {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.3rem;
        height: 3.1rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2575;
        left: 0.4rem;
        top: 26.9rem;
        font-size: 2.4rem;
      }
      .item-1-06-2023-ofK {
        font-weight: 400;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 31.7rem;
        font-size: 2.4rem;
        color: #010b1f;
        width: 10.1rem;
        height: 3.1rem;
        left: 1.1rem;
      }
      .daniel-l-iXP {
        position: absolute;
        top: 21.8rem;
        line-height: 1.2575;
        white-space: nowrap;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.1rem;
        height: 3.1rem;
        left: 30.6rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .daniel-l-EVj {
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        top: 16.5rem;
        left: 30.6rem;
        line-height: 1.2575;
        color: #010b1f;
        height: 3.1rem;
        position: absolute;
      }
      .item-8-00-9ch {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        line-height: 1.2575;
        height: 3.1rem;
        position: absolute;
        left: 126.6rem;
        top: 16.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        width: 4.7rem;
      }
      .item-12-00-s2u {
        height: 3.1rem;
        left: 125.8rem;
        top: 21.8rem;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.9rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
      }
      .item-14-00-aCD {
        position: absolute;
        left: 125.8rem;
        top: 26.8rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 5.4rem;
        height: 3.1rem;
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .item-12-00-UoP {
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        position: absolute;
        left: 125.8rem;
        top: 31.8rem;
        white-space: nowrap;
        width: 5.4rem;
        height: 3.1rem;
        line-height: 1.2575;
      }
      .revisin-general-zFw {
        color: #010b1f;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 45.9rem;
        font-weight: 400;
        line-height: 1.2575;
        width: 16.8rem;
        top: 16.5rem;
        font-size: 2.4rem;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .rasapado-VTb {
        width: 10.5rem;
        height: 3.1rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 45.9rem;
        top: 21.8rem;
        font-weight: 400;
      }
      .alisado-radicular-c2R {
        line-height: 1.2575;
        position: absolute;
        left: 45.9rem;
        top: 26.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
        width: 17.4rem;
        height: 3.1rem;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rehabilitacin-oral-KBj {
        color: #010b1f;
        white-space: nowrap;
        width: 19.2rem;
        height: 3.1rem;
        position: absolute;
        left: 45.9rem;
        line-height: 1.2575;
        top: 31.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .pendiente-RVf {
        font-size: 2.4rem;
        position: absolute;
        left: 71.8rem;
        top: 31.8rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.2rem;
        height: 3.1rem;
        font-weight: 400;
      }
      .finalizado-Y4V {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
        width: 10.4rem;
        height: 3.1rem;
        position: absolute;
        left: 71.8rem;
        top: 26.8rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .finalizado-etD {
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.4rem;
        position: absolute;
        left: 71.8rem;
        top: 21.8rem;
        font-size: 2.4rem;
        height: 3.1rem;
        line-height: 1.2575;
        color: #010b1f;
      }
      .finalizado-mT3 {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        position: absolute;
        left: 71.8rem;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2575;
        white-space: nowrap;
        width: 10.4rem;
        height: 3.1rem;
        top: 16.5rem;
      }
      .canino-tGm {
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        position: absolute;
        top: 16.5rem;
        line-height: 1.2575;
        color: #010b1f;
        white-space: nowrap;
        width: 7.1rem;
        left: 88.8rem;
        font-size: 2.4rem;
      }
      .canino-CoF {
        height: 3.1rem;
        left: 88.8rem;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.1rem;
        top: 21.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #010b1f;
        position: absolute;
      }
      .canino-8S1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        width: 7.1rem;
        position: absolute;
        left: 88.8rem;
        top: 26.8rem;
        color: #010b1f;
        white-space: nowrap;
        height: 3.1rem;
      }
      .canino-ev9 {
        line-height: 1.2575;
        white-space: nowrap;
        width: 7.1rem;
        left: 88.8rem;
        top: 31.8rem;
        font-size: 2.4rem;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        position: absolute;
        font-weight: 400;
        color: #010b1f;
      }
      .maxilar-superior-BfB {
        font-weight: 400;
        color: #010b1f;
        white-space: nowrap;
        width: 16.5rem;
        left: 104.8rem;
        top: 31.8rem;
        font-size: 2.4rem;
        height: 3.1rem;
        position: absolute;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .maxilar-superior-7Hw {
        width: 16.5rem;
        position: absolute;
        left: 104.8rem;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        top: 26.8rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        white-space: nowrap;
      }
      .maxilar-superior-S5K {
        position: absolute;
        font-weight: 400;
        line-height: 1.2575;
        width: 16.5rem;
        height: 3.1rem;
        font-size: 2.4rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        left: 104.8rem;
        top: 21.8rem;
      }
      .maxilar-superior-Mxy {
        white-space: nowrap;
        width: 16.5rem;
        position: absolute;
        left: 104.8rem;
        top: 16.5rem;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
      }
      .daniel-l-tT7 {
        left: 30.6rem;
        top: 26.9rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        height: 3.1rem;
        position: absolute;
        font-weight: 400;
      }
      .daniel-l-1Xj {
        white-space: nowrap;
        position: absolute;
        left: 30.6rem;
        top: 31.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        width: 8.1rem;
        height: 3.1rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .rectangle-17-989 {
        width: 134.1rem;
        height: 4.9rem;
        position: absolute;
        left: 0;
        top: 20.7rem;
        background-color: rgba(1, 11, 31, 0.3000000119);
      }
    }
  }
  .auto-group-mtbb-fMP {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 2.7rem 0.9rem 2.7rem;
    width: calc(100% - 5.4rem);
    height: 17rem;

    .rectangle-16-aDT {
      width: 134rem;
      height: 16.9rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      border-radius: 2.5rem;
    }
    .line-26-7jB {
      top: 0;
      background-color: rgba(0, 0, 0, 0.3000000119);
      width: 0.2rem;
      height: 17rem;
      position: absolute;
      left: 68.5rem;
    }
    .observacion--ez1 {
      color: #010b1f;
      white-space: nowrap;
      width: 14rem;
      left: 3rem;
      top: 2.5rem;
      font-size: 2.4rem;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.1rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2575;
    }
    .tratamineto--AxM {
      height: 3.1rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.8rem;
      left: 74.4rem;
      top: 2.5rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #010b1f;
      position: absolute;
    }
    .exceso-de-sarro-y-bacterias-en-el-canino-superior-progreso-de-bajo-riesgo-debido-a-daos-nicamente-superficiales-VUq {
      font-family: Tahoma, 'Source Sans Pro';
      width: 49rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      height: 9.1rem;
      left: 3rem;
      top: 5.7rem;
    }
    .el-alisado-radicular-suaviza-la-superficie-de-las-races-yayudar-a-prevenir-que-se-siga-acumulando-sarro-dental-y-bacterias-Zjb {
      width: 53.8rem;
      height: 9.1rem;
      left: 74.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      position: absolute;
      top: 5.7rem;
      line-height: 1.2575;
      color: #010b1f;
    }
  }
  .auto-group-jkkp-cxm {
    height: 5.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 4.3rem 0rem 107.7rem;
    width: calc(100% - 112rem);

    .auto-group-q5st-Lds {
      display: flex;
      border-radius: 4rem;
      flex-shrink: 0;
      height: 100%;
      line-height: 1.2575;
      color: #010b1f;
      margin-right: 0.6rem;
      font-size: 2.4rem;
      white-space: nowrap;
      width: 13.4rem;
      font-family: Tahoma, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      background-color: rgba(217, 217, 217, 0.6999999881);
      font-weight: 400;
    }
    .auto-group-rr7x-DBs {
      width: 13.4rem;
      align-items: center;
      border-radius: 4rem;
      flex-shrink: 0;
      height: 100%;
      font-family: Tahoma, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-size: 2.4rem;
      white-space: nowrap;
      background-color: rgba(217, 217, 217, 0.6999999881);
    }
  }
}
