
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ecritorio-3uo {
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #dddee0;

  .auto-group-kkd7-BFK {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 2.9rem;
    box-sizing: border-box;
    padding: 4.4rem 5rem 3.6rem 4.6rem;
    background-color: #d9f0fd;
    border-radius: 0.5rem;
    flex-shrink: 0;
    width: 38.9rem;
    height: 102.4rem;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);

    .luxurtooth-eub {
      align-items: baseline;
      margin-bottom: 8.8rem;
      font-size: 4.8rem;
      font-weight: 400;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.25;
      color: #000000;
      display: flex;
      flex-shrink: 0;

      .luxurtooth-eub-sub-0 {
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
      }
      .luxurtooth-eub-sub-1 {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
    }
    .inicio-7gh {
      flex-shrink: 0;
      margin: 0rem 11.5rem 5.4rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-xfrp-SDB {
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.4rem 4.1rem;

      .pacientes-Aey {
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
        font-size: 3.2rem;
      }
      .polygon-2-ucZ {
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-cztf-FAd {
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.5rem 4.1rem;

      .consultas-yMX {
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .polygon-3-WMT {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
      }
    }
    .auto-group-tvmk-36V {
      margin: 0rem 2.5rem 5.3rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .dentistas-xUM {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .polygon-4-tcu {
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-mgah-D9P {
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .agenda-YBf {
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .polygon-5-4fo {
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.5rem;
      }
    }
    .facturacion-bfj {
      margin: 0rem 0.8rem 5.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .configuracion-vT7 {
      flex-shrink: 0;
      margin: 0rem 0rem 2.6rem 2.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-rbim-r5s {
      box-sizing: border-box;
      padding: 5.6rem 2rem 5.72rem 1rem;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;
      height: 16.8rem;
      display: flex;
      align-items: center;
      border-radius: 2rem;

      .icon-user-AMT {
        margin-right: 0.5953rem;
        box-sizing: border-box;
        padding: 0.9rem 0.805rem 1.08rem 0.7rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3:159');
        height: 100%;
        background-size: cover;
        flex-shrink: 0;

        .vector-V8q {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .doc-sebastian-nNq {
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3197rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
  .auto-group-hgcd-oHw {
    margin-top: 1rem;
    width: 99.4rem;
    flex-shrink: 0;

    .auto-group-wmhp-vtM {
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      box-sizing: border-box;
      padding: 0.8rem 1.3rem 0.6rem 1.3rem;
      width: 28.3rem;
      font-size: 2.4rem;
      line-height: 1.25;
      border-radius: 2rem;
      margin: 0rem 0rem 2.7rem 7.5rem;
      font-weight: 400;
      white-space: nowrap;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
      background-color: #f0f2f4;
    }
    .auto-group-er73-NVT {
      width: 100%;
      height: 89.5rem;
      position: relative;

      .vector-1-tyb {
        top: 61.9359rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.1315rem;
        height: 2.9196rem;
        position: absolute;
        left: 24.8144rem;
      }
      .vector-2-bt1 {
        height: 0.3145rem;
        position: absolute;
        left: 24.5219rem;
        top: 62.1077rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.05rem;
      }
      .vector-3-8d3 {
        vertical-align: top;
        width: 0.1776rem;
        height: 0.8175rem;
        position: absolute;
        left: 24.9133rem;
        top: 64.8996rem;
        object-fit: contain;
      }
      .rectangle-1-FxZ {
        width: 99.4rem;
        height: 89.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 3rem;
      }
      .id-101062893-ZTT {
        height: 2.5rem;
        white-space: nowrap;
        width: 13rem;
        position: absolute;
        left: 4rem;
        top: 6.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .registrado-el-21-10-2021-3-18-pm-Fr5 {
        left: 23.7rem;
        font-weight: 400;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 30.2rem;
        height: 2.5rem;
        position: absolute;
        top: 6.9rem;
        font-size: 2rem;
        line-height: 1.25;
        white-space: nowrap;
      }
      .rectangle-6-YqB {
        height: 4.4rem;
        position: absolute;
        left: 3.1rem;
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        border-radius: 2rem;
        width: 25.6rem;
      }
      .rectangle-7-edK {
        background-color: #f0f2f4;
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 36.9rem;
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
      }
      .observaciones-Abf {
        height: 3.8rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        width: 20.6rem;
        position: absolute;
        left: 38.6rem;
        top: 84.3rem;
        font-size: 3rem;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .rectangle-8-sky {
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 70.4rem;
        top: 83.6rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
      }
      .guardar-yp1 {
        width: 11rem;
        left: 78.1rem;
        top: 84.3rem;
        color: #30596d;
        white-space: nowrap;
        height: 3.8rem;
        position: absolute;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .tratamiento-gyK {
        width: 17.1rem;
        left: 4.9rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.8rem;
        position: absolute;
        top: 84.3rem;
        font-size: 3rem;
        line-height: 1.25;
        color: #30596d;
      }
      .juan-barrios-20-aos-QPX {
        font-size: 2.4rem;
        line-height: 1.25;
        color: #000000;
        align-items: baseline;
        left: 2.8rem;
        height: 4rem;
        position: absolute;
        top: 1.7rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 28.5rem;

        .juan-barrios-20-aos-QPX-sub-0 {
          line-height: 1.25;
          color: #000000;
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
        }
        .juan-barrios-20-aos-QPX-sub-1 {
        }
      }
      .line-1-yqw {
        width: 0.3rem;
        height: 4rem;
        position: absolute;
        left: 22.75rem;
        top: 1.5007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-2-i2q {
        position: absolute;
        left: 22.75rem;
        top: 6.1007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.3rem;
        height: 4rem;
      }
      .line-3-SzR {
        top: 18.55rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 53.4023rem;
        height: 0.2rem;
        position: absolute;
        left: 1.6988rem;
      }
      .line-5-P8y {
        left: 77.5997rem;
        top: 18.575rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 18.5026rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-4-ih3 {
        height: 0.2rem;
        position: absolute;
        left: 1.7rem;
        top: 66rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3rem;
      }
      .rectangle-4-eah {
        position: absolute;
        left: 2.1rem;
        top: 11.4rem;
        background-color: #ffffff;
        width: 93.9rem;
        height: 6.9rem;
      }
      .datos-personales-archivos-odontograma-historial-ajF {
        height: 3.8rem;
        position: absolute;
        left: 3.4rem;
        top: 13.3rem;
        font-size: 2.6rem;
        line-height: 1.25;
        color: #000000;
        width: 80.1rem;
        align-items: baseline;
        display: flex;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;

        .datos-personales-archivos-odontograma-historial-ajF-sub-0 {
        }
        .datos-personales-archivos-odontograma-historial-ajF-sub-1 {
          font-weight: 400;
          line-height: 1.25;
          color: #c5c820;
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 3rem;
        }
        .datos-personales-archivos-odontograma-historial-ajF-sub-2 {
        }
      }
      .rectangle-5-gA1 {
        vertical-align: top;
        width: 93.9rem;
        height: 42rem;
        position: absolute;
        left: 2.1rem;
        top: 21.4rem;
        object-fit: contain;
      }
      .polygon-1-Qbo {
        position: absolute;
        left: 24.8rem;
        top: 84.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.9rem;
      }
      .line-6-9ZP {
        width: 0.1rem;
        height: 6.7007rem;
        position: absolute;
        left: 55.05rem;
        top: 11.8996rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-7-UrZ {
        top: 11.85rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 22.702rem;
        height: 0.1rem;
        position: absolute;
        left: 54.899rem;
      }
      .line-8-RG1 {
        position: absolute;
        left: 77.5rem;
        top: 11.9rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.1rem;
        height: 7rem;
      }
      .rectangle-9-ZND {
        width: 93.9rem;
        height: 13.5rem;
        position: absolute;
        border: solid 0.3rem #dddee0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        left: 1.9rem;
        top: 68rem;
        box-sizing: border-box;
      }
      .rectangle-10-SS1 {
        width: 18.8rem;
        height: 10.1rem;
        position: absolute;
        left: 4rem;
        top: 69.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-11-MJ5 {
        height: 10.1rem;
        position: absolute;
        left: 22.8rem;
        top: 69.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 38.1rem;
      }
      .rectangle-12-tJ1 {
        height: 10.1rem;
        position: absolute;
        left: 60.9rem;
        top: 69.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 32.9rem;
      }
    }
  }
}
