html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 128rem;
}

.macbook-air-1-HsT {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.macbook-air-1-HsT .rectangle-1-pMb {
  width: 74.1rem;
  height: 75.4rem;
  position: absolute;
  left: 26.9rem;
  top: 3.9rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #fdfdfd;
  border-radius: 3rem;
}

.macbook-air-1-HsT .luxurtooth-hAV {
  width: 39rem;
  height: 8rem;
  position: absolute;
  left: 44.5rem;
  top: 11.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.macbook-air-1-HsT .luxurtooth-hAV .luxurtooth-hAV-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.macbook-air-1-HsT .luxurtooth-hAV .luxurtooth-hAV-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.macbook-air-1-HsT .rectangle-3-8v1 {
  width: 56.9rem;
  height: 10.5rem;
  position: absolute;
  left: 33.2rem;
  top: 28.8rem;
  border: solid 0.5rem #c5c820;
  box-sizing: border-box;
  border-radius: 5rem;
}

.macbook-air-1-HsT .email-42y {
  width: 9.8rem;
  height: 4.7rem;
  position: absolute;
  left: 36.9rem;
  top: 32.1rem;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c820;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.macbook-air-1-HsT .rectangle-2-ZkR {
  width: 56.9rem;
  height: 10.5rem;
  position: absolute;
  left: 33.2rem;
  top: 45.3rem;
  border: solid 0.5rem #30596d;
  box-sizing: border-box;
  border-radius: 5rem;
}

.macbook-air-1-HsT .password-V8H {
  width: 17.8rem;
  height: 4.7rem;
  position: absolute;
  left: 36.7rem;
  top: 48.1rem;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.macbook-air-1-HsT .login-QFF {
  width: 18.3rem;
  height: 7.3rem;
  position: absolute;
  left: 71.8rem;
  top: 61.8rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(113.13deg, #30596d 29.93%, #c5c820 89.3%);
  border-radius: 3rem;
}

.macbook-air-1-HsT .log-in-V1o {
  width: 12.2rem;
  height: 5.1rem;
  position: absolute;
  left: 74.8rem;
  top: 62.9rem;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.macbook-air-1-HsT .sign-up-CB7 {
  width: 15.1rem;
  height: 5.1rem;
  position: absolute;
  left: 36.9rem;
  top: 62.9rem;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #30596d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.macbook-air-1-HsT .person-outline-Jjw {
  width: 2.2rem;
  height: 2.4rem;
  position: absolute;
  left: 81.8rem;
  top: 33.1rem;
  object-fit: contain;
  vertical-align: top;
}

.macbook-air-1-HsT .lock-closed-qUy {
  width: 2.75rem;
  height: 3.75rem;
  position: absolute;
  left: 81.625rem;
  top: 48.925rem;
  object-fit: contain;
  vertical-align: top;
}