
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ecritorio-QLM {
  background-color: #30596d;
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .auto-group-exjb-Xvm {
    margin-right: 2.9rem;
    height: 102.4rem;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
    background-color: #d9f0fd;
    box-sizing: border-box;
    padding: 4.4rem 5rem 3.6rem 4.6rem;
    width: 38.9rem;
    align-items: center;
    border-radius: 0.5rem;
    flex-shrink: 0;

    .luxurtooth-b9w {
      align-items: baseline;
      flex-shrink: 0;
      font-size: 4.8rem;
      font-family: Hammersmith One, 'Source Sans Pro';
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      display: flex;
      margin-bottom: 8.8rem;
      font-weight: 400;

      .luxurtooth-b9w-sub-0 {
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
      }
      .luxurtooth-b9w-sub-1 {
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .inicio-NTX {
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 11.5rem 5.4rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .auto-group-zwhx-fBj {
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: flex-start;

      .pacientes-Nbw {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
      }
      .polygon-2-VwT {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 2.9rem;
      }
    }
    .auto-group-94sw-2wP {
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.5rem 4.1rem;

      .consultas-k6h {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
      }
      .polygon-3-gW9 {
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-9okj-pMT {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.3rem 4.1rem;
      width: calc(100% - 6.6rem);

      .dentistas-YoF {
        margin-right: 4.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .polygon-4-52V {
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 2.5rem;
      }
    }
    .auto-group-ayhk-nhb {
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .agenda-vJ1 {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
      }
      .polygon-5-rxM {
        margin-bottom: 0.5rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .facturacion-o6u {
      margin: 0rem 0.8rem 5.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .configuracion-K5F {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.6rem 2.4rem;
    }
    .auto-group-v5hf-qJV {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.6rem 5.9rem 5.72rem 1rem;
      height: 16.8rem;
      display: flex;
      width: 100%;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 2rem;

      .icon-user-kAZ {
        padding: 0.9rem 0.805rem 1.08rem 0.7rem;
        height: 100%;
        background-size: cover;
        margin-right: 0.5953rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3:319');
        flex-shrink: 0;

        .vector-U6Z {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .pac-daniel-l-zqb {
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3197rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
  .auto-group-qbuo-ppd {
    margin-bottom: 0.3rem;
    width: 99.4rem;
    height: 97.9rem;
    position: relative;
    flex-shrink: 0;

    .tratamiento-MJm {
      height: 3.8rem;
      font-size: 3rem;
      line-height: 1.25;
      font-weight: 400;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.1rem;
      position: absolute;
      left: 4.9rem;
      top: 92.7rem;
    }
    .rectangle-1-Fuw {
      border-radius: 3rem;
      width: 99.4rem;
      height: 97.9rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
    }
    .rectangle-7-kbo {
      background-color: #f0f2f4;
      border-radius: 2rem;
      width: 25.6rem;
      height: 4.4rem;
      position: absolute;
      left: 40.7rem;
      top: 91rem;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
    }
    .atras-ehB {
      font-size: 3rem;
      line-height: 1.25;
      font-family: Hammersmith One, 'Source Sans Pro';
      height: 3.8rem;
      position: absolute;
      left: 46.6rem;
      color: #000000;
      white-space: nowrap;
      width: 7.3rem;
      top: 91.5rem;
      font-weight: 400;
    }
    .rectangle-8-A9j {
      height: 4.4rem;
      position: absolute;
      left: 72rem;
      top: 91rem;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
      background-color: #f0f2f4;
      border-radius: 2rem;
      width: 25.6rem;
    }
    .continuar-GTf {
      font-weight: 400;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.3rem;
      left: 78.4rem;
      top: 91.5rem;
      line-height: 1.25;
      color: #000000;
      height: 3.8rem;
      position: absolute;
      font-size: 3rem;
    }
    .ortodoncia-limpieza-general-mfK {
      top: 15.9rem;
      font-weight: 400;
      width: 32.9rem;
      position: absolute;
      left: 39.3rem;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      font-size: 2.4rem;
      line-height: 1.25;
    }
    .odontologo-egresado-de-la-universidad-libre-20-aos-experiencia-siM {
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      width: 29.5rem;
      height: 7.5rem;
      position: absolute;
      left: 39.1rem;
      top: 22.4rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .line-1-9Qy {
      position: absolute;
      left: 7.799rem;
      top: 7.8995rem;
      background-color: #000000;
      width: 0.3rem;
      height: 78.601rem;
    }
    .ellipse-1-fu7 {
      border-radius: 2.5rem;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 5.4rem;
      top: 6.6rem;
      background-color: #c5c820;
    }
    .item-1-nyj {
      width: 1.1rem;
      height: 3.8rem;
      top: 7.3rem;
      font-size: 3rem;
      line-height: 1.25;
      white-space: nowrap;
      position: absolute;
      left: 7.4rem;
      font-weight: 400;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
    }
    .ellipse-2-6zR {
      border-radius: 2.5rem;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 5.4rem;
      top: 43.2rem;
      background-color: #c5c820;
    }
    .item-2-Eaq {
      top: 43.9rem;
      font-size: 3rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 1.8rem;
      height: 3.8rem;
      position: absolute;
      left: 7rem;
      font-weight: 400;
      font-family: Hammersmith One, 'Source Sans Pro';
    }
    .ellipse-4-xFw {
      height: 5rem;
      position: absolute;
      left: 5.4rem;
      top: 82.7rem;
      background-color: #c5c820;
      border-radius: 2.5rem;
      width: 5rem;
    }
    .item-3-tQV {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      height: 3.8rem;
      left: 7.1rem;
      top: 83.4rem;
      width: 1.8rem;
      position: absolute;
      white-space: nowrap;
    }
    .seleccione-el-servicio-y-el-especialista-1ED {
      font-weight: 400;
      line-height: 1.25;
      font-family: Hammersmith One, 'Source Sans Pro';
      position: absolute;
      top: 7.3rem;
      font-size: 3rem;
      color: #000000;
      white-space: nowrap;
      width: 52.1rem;
      height: 3.8rem;
      left: 11.5rem;
    }
    .seleccione-la-fecha-y-hora-WAy {
      width: 35.7rem;
      position: absolute;
      line-height: 1.25;
      white-space: nowrap;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      height: 3.8rem;
      left: 11.5rem;
      top: 43.9rem;
      font-size: 3rem;
      font-weight: 400;
    }
    .complete-con-sus-datos-personales-pBf {
      width: 48.9rem;
      top: 83.1rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      left: 11.6rem;
      font-size: 3rem;
      font-weight: 400;
      font-family: Hammersmith One, 'Source Sans Pro';
    }
    .rectangle-3-7wT {
      width: 27.6rem;
      height: 26.5rem;
      position: absolute;
      left: 11.5rem;
      top: 12.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-4-rPF {
      object-fit: contain;
      vertical-align: top;
      width: 66.4rem;
      height: 28.6rem;
      position: absolute;
      left: 11.4rem;
      top: 49.4rem;
    }
  }
}
