html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  width: 144rem;
}

.ecritorio-QLM {
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #30596d;
}

.ecritorio-QLM .auto-group-exjb-Xvm {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 4.4rem 5rem 3.6rem 4.6rem;
  width: 38.9rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #d9f0fd;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .luxurtooth-b9w {
  margin-bottom: 8.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .luxurtooth-b9w .luxurtooth-b9w-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.ecritorio-QLM .auto-group-exjb-Xvm .luxurtooth-b9w .luxurtooth-b9w-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.ecritorio-QLM .auto-group-exjb-Xvm .inicio-NTX {
  margin: 0rem 11.5rem 5.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-zwhx-fBj {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-zwhx-fBj .pacientes-Nbw {
  margin-right: 5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-zwhx-fBj .polygon-2-VwT {
  margin-top: 0.2rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-94sw-2wP {
  margin: 0rem 2.5rem 5.5rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-94sw-2wP .consultas-k6h {
  margin-right: 3.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-94sw-2wP .polygon-3-gW9 {
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-9okj-pMT {
  margin: 0rem 2.5rem 5.3rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-9okj-pMT .dentistas-YoF {
  margin-right: 4.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-9okj-pMT .polygon-4-52V {
  margin-bottom: 0.3rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-ayhk-nhb {
  margin: 0rem 2.5rem 5.4rem 4.1rem;
  width: calc(100% - 6.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-ayhk-nhb .agenda-vJ1 {
  margin-right: 8.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #c5c820;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-ayhk-nhb .polygon-5-rxM {
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .facturacion-o6u {
  margin: 0rem 0.8rem 5.2rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .configuracion-K5F {
  margin: 0rem 0rem 2.6rem 2.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-v5hf-qJV {
  box-sizing: border-box;
  padding: 5.6rem 5.9rem 5.72rem 1rem;
  width: 100%;
  height: 16.8rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-v5hf-qJV .icon-user-kAZ {
  margin-right: 0.5953rem;
  box-sizing: border-box;
  padding: 0.9rem 0.805rem 1.08rem 0.7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-mZf.png');
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-v5hf-qJV .icon-user-kAZ .vector-U6Z {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}

.ecritorio-QLM .auto-group-exjb-Xvm .auto-group-v5hf-qJV .pac-daniel-l-zqb {
  margin-top: 0.3197rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-qbuo-ppd {
  margin-bottom: 0.3rem;
  width: 99.4rem;
  height: 97.9rem;
  position: relative;
  flex-shrink: 0;
}

.ecritorio-QLM .auto-group-qbuo-ppd .tratamiento-MJm {
  width: 17.1rem;
  height: 3.8rem;
  position: absolute;
  left: 4.9rem;
  top: 92.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #30596d;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .rectangle-1-Fuw {
  width: 99.4rem;
  height: 97.9rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .rectangle-7-kbo {
  width: 25.6rem;
  height: 4.4rem;
  position: absolute;
  left: 40.7rem;
  top: 91rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .atras-ehB {
  width: 7.3rem;
  height: 3.8rem;
  position: absolute;
  left: 50rem;
  top: 91.5rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .rectangle-8-A9j {
  width: 25.6rem;
  height: 4.4rem;
  position: absolute;
  left: 72rem;
  top: 91rem;
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #f0f2f4;
  border-radius: 2rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .continuar-GTf {
  width: 13.3rem;
  height: 3.8rem;
  position: absolute;
  left: 78.4rem;
  top: 91.5rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .ortodoncia-limpieza-general-mfK {
  width: 32.9rem;
  height: 3rem;
  position: absolute;
  left: 39.3rem;
  top: 15.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .odontologo-egresado-de-la-universidad-libre-20-aos-experiencia-siM {
  width: 29.5rem;
  height: 7.5rem;
  position: absolute;
  left: 39.1rem;
  top: 22.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
}

.ecritorio-QLM .auto-group-qbuo-ppd .line-1-9Qy {
  width: 0.3rem;
  height: 78.601rem;
  position: absolute;
  left: 7.799rem;
  top: 7.8995rem;
  background-color: #000000;
}

.ecritorio-QLM .auto-group-qbuo-ppd .ellipse-1-fu7 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 5.4rem;
  top: 6.6rem;
  background-color: #c5c820;
  border-radius: 2.5rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .item-1-nyj {
  width: 1.1rem;
  height: 3.8rem;
  position: absolute;
  left: 7.4rem;
  top: 7.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .ellipse-2-6zR {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 5.4rem;
  top: 43.2rem;
  background-color: #c5c820;
  border-radius: 2.5rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .item-2-Eaq {
  width: 1.8rem;
  height: 3.8rem;
  position: absolute;
  left: 7rem;
  top: 43.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .ellipse-4-xFw {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 5.4rem;
  top: 82.7rem;
  background-color: #c5c820;
  border-radius: 2.5rem;
}

.ecritorio-QLM .auto-group-qbuo-ppd .item-3-tQV {
  width: 1.8rem;
  height: 3.8rem;
  position: absolute;
  left: 7.1rem;
  top: 83.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .seleccione-el-servicio-y-el-especialista-1ED {
  width: 52.1rem;
  height: 3.8rem;
  position: absolute;
  left: 11.5rem;
  top: 7.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .seleccione-la-fecha-y-hora-WAy {
  width: 35.7rem;
  height: 3.8rem;
  position: absolute;
  left: 11.5rem;
  top: 43.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .complete-con-sus-datos-personales-pBf {
  width: 48.9rem;
  height: 3.8rem;
  position: absolute;
  left: 11.6rem;
  top: 83.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
}

.ecritorio-QLM .auto-group-qbuo-ppd .rectangle-3-7wT {
  width: 27.6rem;
  height: 26.5rem;
  position: absolute;
  left: 11.5rem;
  top: 12.4rem;
  object-fit: contain;
  vertical-align: top;
}

.ecritorio-QLM .auto-group-qbuo-ppd .rectangle-4-rPF {
  width: 66.4rem;
  height: 28.6rem;
  position: absolute;
  left: 11.4rem;
  top: 49.4rem;
  object-fit: contain;
  vertical-align: top;
}