
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.agenda-G29 {
  background-color: #dddee0;
  box-sizing: border-box;
  padding-right: 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .auto-group-hmnu-zD3 {
    margin-right: 2.9rem;
    box-sizing: border-box;
    padding: 4.4rem 5rem 3.6rem 4.6rem;
    align-items: center;
    box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    width: 38.9rem;
    height: 102.4rem;
    display: flex;
    flex-direction: column;
    background-color: #d9f0fd;
    border-radius: 0.5rem;

    .luxurtooth-TMX {
      margin-bottom: 8.8rem;
      line-height: 1.25;
      color: #000000;
      font-family: Hammersmith One, 'Source Sans Pro';
      display: flex;
      font-size: 4.8rem;
      font-weight: 400;
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;

      .luxurtooth-TMX-sub-0 {
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .luxurtooth-TMX-sub-1 {
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 4.8rem;
      }
    }
    .inicio-GCV {
      margin: 0rem 11.5rem 5.4rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-zskz-aDB {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;

      .pacientes-si5 {
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .polygon-2-cff {
        margin-top: 0.2rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-nbwt-LrZ {
      margin: 0rem 2.5rem 5.5rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .consultas-ftq {
        margin-right: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .polygon-3-pFw {
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-uylu-Xw3 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 5.3rem 4.1rem;
      width: calc(100% - 6.6rem);

      .dentistas-Gdj {
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .polygon-4-DJ5 {
        margin-bottom: 0.3rem;
        width: 2.5rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-8sty-LtV {
      margin: 0rem 2.5rem 5.4rem 4.1rem;
      width: calc(100% - 6.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .agenda-stR {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #c5c820;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
      }
      .polygon-5-aXw {
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.5rem;
      }
    }
    .facturacion-Vuo {
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.8rem 5.2rem 0rem;
      font-size: 3.2rem;
    }
    .configuracion-Dau {
      flex-shrink: 0;
      margin: 0rem 0rem 2.6rem 2.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #30596d;
      font-family: Hammersmith One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-pcwf-w17 {
      padding: 5.6rem 2rem 5.72rem 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 16.8rem;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;

      .icon-user-rNy {
        margin-right: 0.5953rem;
        box-sizing: border-box;
        padding: 0.9rem 0.805rem 1.08rem 0.7rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:168:163');
        flex-shrink: 0;

        .vector-n1j {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .doc-sebastian-5mX {
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3197rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
  .auto-group-t34h-UYm {
    margin-top: 1rem;
    width: 99.4rem;
    flex-shrink: 0;

    .auto-group-gfth-2KP {
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
      background-color: #f0f2f4;
      padding: 0.8rem 1.3rem 0.6rem 1.3rem;
      width: 28.3rem;
      font-weight: 400;
      border-radius: 2rem;
      font-family: Hammersmith One, 'Source Sans Pro';
      margin: 0rem 0rem 2.7rem 7.5rem;
      box-sizing: border-box;
      font-size: 2.4rem;
    }
    .auto-group-y2sf-r3X {
      width: 100%;
      height: 89.5rem;
      position: relative;

      .vector-1-k8u {
        height: 2.9196rem;
        position: absolute;
        left: 24.8144rem;
        top: 61.9359rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.1315rem;
      }
      .vector-2-Rkq {
        width: 0.05rem;
        height: 0.3145rem;
        position: absolute;
        left: 24.5219rem;
        top: 62.1077rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-3-ko7 {
        left: 24.9133rem;
        top: 64.8996rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.1776rem;
        height: 0.8175rem;
        position: absolute;
      }
      .rectangle-1-tuK {
        height: 89.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 3rem;
        width: 99.4rem;
      }
      .diaria-Qcm {
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 6.9rem;
        font-size: 2rem;
        color: #000000;
        line-height: 1.25;
        width: 5.4rem;
        height: 2.5rem;
        left: 4rem;
        font-weight: 400;
      }
      .semanal-itM {
        position: absolute;
        font-size: 2rem;
        color: #c5c820;
        width: 8.1rem;
        height: 2.5rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        left: 11.7rem;
        top: 6.9rem;
      }
      .mensual-DaD {
        color: #000000;
        left: 21.7rem;
        top: 6.9rem;
        line-height: 1.25;
        font-size: 2rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.7rem;
        height: 2.5rem;
        position: absolute;
      }
      .rectangle-6-jHf {
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 3.1rem;
      }
      .rectangle-7-3p9 {
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 36.9rem;
        top: 83.7rem;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
      }
      .editar-ZnV {
        width: 8.1rem;
        height: 3.8rem;
        left: 50rem;
        top: 84.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        font-family: Hammersmith One, 'Source Sans Pro';
        position: absolute;
        white-space: normal;
      }
      .rectangle-8-VRF {
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        border-radius: 2rem;
        width: 25.6rem;
        height: 4.4rem;
        position: absolute;
        left: 70.4rem;
        top: 83.6rem;
      }
      .guardar-D6M {
        font-family: Hammersmith One, 'Source Sans Pro';
        left: 78.1rem;
        top: 84.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        white-space: nowrap;
        width: 11rem;
        height: 3.8rem;
        position: absolute;
        font-size: 3rem;
      }
      .aadir-w2M {
        top: 84.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #30596d;
        white-space: nowrap;
        width: 8.8rem;
        height: 3.8rem;
        position: absolute;
        left: 4.9rem;
        font-size: 3rem;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .line-2-BBb {
        width: 0.3rem;
        height: 4rem;
        position: absolute;
        left: 10.75rem;
        top: 6.1007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-5-7L9 {
        width: 0.3rem;
        height: 4rem;
        position: absolute;
        left: 20.85rem;
        top: 6.1007rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-4-tER {
        width: 94.3rem;
        height: 0.2rem;
        position: absolute;
        left: 1.7rem;
        top: 66rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-6-cw7 {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
        left: 1.6999rem;
        top: 19.1rem;
      }
      .line-21-jkq {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
        left: 1.6999rem;
        top: 19.1rem;
      }
      .line-13-gRB {
        left: 1.6999rem;
        top: 25.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-14-cpd {
        left: 1.6999rem;
        top: 30.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-15-jeM {
        height: 0.2rem;
        position: absolute;
        left: 1.6999rem;
        top: 35.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
      }
      .line-16-FMo {
        position: absolute;
        left: 1.6999rem;
        top: 40.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
      }
      .line-17-ZtH {
        position: absolute;
        left: 1.6999rem;
        top: 45.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
      }
      .line-18-Jqs {
        position: absolute;
        left: 1.6999rem;
        top: 50.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
      }
      .line-19-dNM {
        left: 1.6999rem;
        top: 55.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-20-a2h {
        width: 94.3002rem;
        height: 0.2rem;
        position: absolute;
        left: 1.6999rem;
        top: 60.4rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-7-KFB {
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 80.95rem;
      }
      .line-8-29b {
        position: absolute;
        left: 67.85rem;
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
      }
      .line-9-krH {
        left: 54.55rem;
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
        position: absolute;
      }
      .line-10-txV {
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 37.25rem;
      }
      .line-11-SDK {
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 23.65rem;
      }
      .line-12-Nsf {
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 11.35rem;
        top: 19.2501rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .rectangle-4-7qF {
        width: 93.9rem;
        height: 6.9rem;
        position: absolute;
        left: 2.1rem;
        top: 11.4rem;
        background-color: #ffffff;
      }
      .hora-lunes-martes-miercoles-jueves-viernes-sabado-EQ5 {
        position: absolute;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        display: flex;
        width: 80.2rem;
        height: 3.8rem;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        align-items: baseline;
        left: 3.4rem;
        top: 13.3rem;

        .hora-lunes-martes-miercoles-jueves-viernes-sabado-EQ5-sub-0 {
        }
        .hora-lunes-martes-miercoles-jueves-viernes-sabado-EQ5-sub-1 {
          line-height: 1.25;
          color: #c5c820;
          font-family: Hammersmith One, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 400;
        }
        .hora-lunes-martes-miercoles-jueves-viernes-sabado-EQ5-sub-2 {
        }
      }
      .item-8-00-HWm {
        height: 3.3rem;
        position: absolute;
        left: 3.4rem;
        font-size: 2.6rem;
        white-space: nowrap;
        width: 10.9rem;
        top: 21.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .juan-b-zg5 {
        width: 32.6rem;
        height: 3.3rem;
        position: absolute;
        white-space: nowrap;
        left: 3.4rem;
        top: 26.3rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .item-10-00-WeR {
        top: 31.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 26.9rem;
        height: 3.3rem;
        position: absolute;
        left: 3.4rem;
        font-size: 2.6rem;
        white-space: nowrap;
      }
      .daniel-l-2cm {
        font-weight: 400;
        line-height: 1.25;
        width: 39.2rem;
        height: 3.3rem;
        position: absolute;
        left: 3.4rem;
        top: 36.3rem;
        font-size: 2.6rem;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-12-00-LtM {
        font-family: Hammersmith One, 'Source Sans Pro';
        height: 3.3rem;
        top: 41.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        width: 26.7rem;
        position: absolute;
        left: 3.4rem;
        font-size: 2.6rem;
        white-space: nowrap;
      }
      .item-13-00-fQq {
        left: 3.4rem;
        font-size: 2.6rem;
        font-weight: 400;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        width: 26.7rem;
        height: 3.3rem;
        position: absolute;
        top: 46.3rem;
        line-height: 1.25;
      }
      .martha-s-x93 {
        line-height: 1.25;
        white-space: nowrap;
        width: 43.3rem;
        height: 3.3rem;
        position: absolute;
        left: 3.4rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        top: 51.3rem;
        font-size: 2.6rem;
        font-weight: 400;
        color: #000000;
      }
      .carlos-fZF {
        position: absolute;
        left: 3.4rem;
        top: 56.3rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        width: 66.6rem;
        height: 3.3rem;
        font-family: Hammersmith One, 'Source Sans Pro';
        font-size: 2.6rem;
        color: #000000;
      }
      .item-16-00-nds {
        position: absolute;
        font-size: 2.6rem;
        width: 50.3rem;
        height: 3.3rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        left: 3.4rem;
        top: 61.3rem;
      }
      .polygon-1-6eZ {
        left: 24.8rem;
        top: 84.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.9rem;
        position: absolute;
      }
      .rectangle-9-DUH {
        box-sizing: border-box;
        width: 93.9rem;
        top: 68rem;
        left: 1.9rem;
        border: solid 0.3rem #dddee0;
        box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.25);
        background-color: #f0f2f4;
        height: 13.5rem;
        position: absolute;
      }
      .rectangle-10-62H {
        width: 17rem;
        height: 4.9rem;
        position: absolute;
        left: 37.3rem;
        top: 35.4rem;
        background-color: rgba(197, 200, 32, 0.3799999952);
      }
      .daniel-lerma-2Aq {
        width: 15.4rem;
        height: 3.3rem;
        position: absolute;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
        left: 3.4rem;
        top: 69.1rem;
        color: #000000;
        white-space: nowrap;
      }
      .aos-LSR {
        width: 7.9rem;
        height: 2.5rem;
        font-size: 2rem;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 3.4rem;
        top: 72.8rem;
        font-weight: 400;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .en-espera-RTs {
        height: 2.5rem;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
        width: 9rem;
        position: absolute;
        left: 84.6rem;
        top: 69.7rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Hammersmith One, 'Source Sans Pro';
      }
      .control-de-ortodoncia-hwB {
        top: 76.2rem;
        font-size: 3.2rem;
        color: #000000;
        font-family: Hammersmith One, 'Source Sans Pro';
        width: 32.7rem;
        height: 4rem;
        position: absolute;
        white-space: nowrap;
        left: 3.4rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
}
