html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

.agenda-2kd {
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 3rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
}

.agenda-2kd .head-LFX {
  margin: 0rem 2rem 0.4rem 0rem;
  height: 21.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP {
  margin-right: 3.1333rem;
  width: 112.6rem;
  height: 100%;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR {
  margin: 0rem 3.6rem 1.2rem 0rem;
  width: calc(100% - 3.6rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-kw2u-fx1 {
  box-sizing: border-box;
  padding: 0.1rem 6rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-kw2u-fx1 .luxurtooth-zjP {
  margin: 0.4rem 0.4rem 0rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-kw2u-fx1 .rectangle-4-tZs {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-cqhs-dGZ {
  box-sizing: border-box;
  padding: 1.4rem 59.4rem 1.552rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-cqhs-dGZ .icon-search-YuK {
  margin: 0.099rem 1.6rem 0rem 0rem;
  width: 2.5rem;
  height: 2.249rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-kvwb-MgR .auto-group-cqhs-dGZ .buscar-fecha-fj3 {
  margin-bottom: 0.0476rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  height: 15rem;
  display: flex;
  align-items: center;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-eubf-CMb {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK {
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .auto-group-6ozd-dSu {
  margin: 0rem 10.5rem 1.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .auto-group-6ozd-dSu .doctor-sebastian-xk5 {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .auto-group-6ozd-dSu .item-100783823-HXT {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .auto-group-6ozd-dSu .aos-cZj {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .line-1-x7o {
  margin-right: 3.5rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .bell-gJh {
  margin: 0rem 1.9rem 6.9rem 0rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .notificaciones-pA1 {
  margin: 0rem 9.8rem 7.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .line-2-k3f {
  margin-right: 3.25rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .fire-55w {
  margin: 0rem 2.65rem 6.782rem 0rem;
  width: 2.5rem;
  height: 3.3824rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .auto-group-6hqx-pwP .auto-group-yqhb-mGH .auto-group-3vs3-jsK .advertencias-ba5 {
  margin-bottom: 7.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .user-Xid {
  margin: 1.333rem 1.633rem 0rem 0rem;
  width: 3.3333rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .doc-sebas-rF7 {
  margin: 1.6rem 3.1rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .head-LFX .polygon-1-mcy {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R {
  margin-bottom: 2.9rem;
  box-sizing: border-box;
  padding: 0.1rem 25.4rem 0.1rem 21.7rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/navegacion-P5o.png');
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R .agenda-1nD {
  margin: 0.7rem 18.9rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R .line-3-veH {
  margin-right: 8.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R .odontograma-rnq {
  margin: 0.7rem 10.5rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R .line-4-muo {
  margin-right: 4.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-hf5f-i2R .historial-clinico-7yf {
  margin-top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT {
  margin: 0 2.7rem;
  box-sizing: border-box;
  padding: 1.1rem 0rem 1.2rem 0.3rem;
  width: calc(100% - 5.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-5g8m-99f {
  margin: 0rem 112.1rem 5.1rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-5g8m-99f .diario-USq {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-5g8m-99f .line-12-c3F {
  margin: 0.1rem 0.7rem 0rem 0rem;
  width: 0.2rem;
  height: 3rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-5g8m-99f .semanal-8XP {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK {
  margin-bottom: 2.1rem;
  width: 100%;
  height: 47.2rem;
  position: relative;
  border-top: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-22-Muw {
  width: 133.6998rem;
  height: 0.2rem;
  position: absolute;
  left: 0.0001rem;
  top: 46.9rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-13-5qw {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-14-2FP {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 11.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-15-mTs {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 16.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-16-iP7 {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 21.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-17-G9j {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 26.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-18-1d7 {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 31.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-19-Z8q {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 36.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-20-VYH {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 41.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-7-Rwj {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 91.5rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-24-yTT {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 106.5rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-25-WTP {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 122.5rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-8-FA5 {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 75.2rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-9-ZwT {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 60rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-10-h25 {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 44.3rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-11-q8H {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 29rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .line-23-yVP {
  width: 0.2rem;
  height: 47rem;
  position: absolute;
  left: 13.7rem;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .daniel-l-7bb {
  width: 8.5rem;
  height: 2.8rem;
  position: absolute;
  left: 30.2rem;
  top: 12.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .juan-b-EAR {
  width: 6.7rem;
  height: 2.8rem;
  position: absolute;
  left: 62.2rem;
  top: 27.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .bryan-c-8mb {
  width: 8.1rem;
  height: 2.8rem;
  position: absolute;
  left: 61.5rem;
  top: 12.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .polygon-2-rhb {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 71.6rem;
  top: 13rem;
  object-fit: contain;
  vertical-align: top;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .polygon-3-PxR {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 40.6rem;
  top: 13rem;
  object-fit: contain;
  vertical-align: top;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .polygon-4-Lcm {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 71.3rem;
  top: 28rem;
  object-fit: contain;
  vertical-align: top;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .polygon-5-669 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 55.8rem;
  top: 43rem;
  object-fit: contain;
  vertical-align: top;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .polygon-6-Ru7 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 118.6rem;
  top: 23rem;
  object-fit: contain;
  vertical-align: top;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .sara-b-yQq {
  width: 6.5rem;
  height: 2.8rem;
  position: absolute;
  left: 47rem;
  top: 42.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .william-i-Vty {
  width: 9.2rem;
  height: 2.8rem;
  position: absolute;
  left: 107.6rem;
  top: 22.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .lunes-vUV {
  width: 6.3rem;
  height: 2.8rem;
  position: absolute;
  left: 18.3rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .martes-dth {
  width: 7.4rem;
  height: 2.8rem;
  position: absolute;
  left: 33rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .miercoles-Z1f {
  width: 10rem;
  height: 2.8rem;
  position: absolute;
  left: 47.5rem;
  top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .jueves-gMB {
  width: 6.8rem;
  height: 2.8rem;
  position: absolute;
  left: 63.3rem;
  top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .viernes-oRo {
  width: 7.8rem;
  height: 2.8rem;
  position: absolute;
  left: 79.1rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .sabado-vWR {
  width: 7.7rem;
  height: 2.8rem;
  position: absolute;
  left: 95.4rem;
  top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .domingo-qdP {
  width: 9.4rem;
  height: 2.8rem;
  position: absolute;
  left: 109.8rem;
  top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .hora-ZJV {
  width: 5.4rem;
  height: 2.8rem;
  position: absolute;
  left: 3.8rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-8-00-spy {
  width: 4.4rem;
  height: 2.8rem;
  position: absolute;
  left: 3.9rem;
  top: 6.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-9-00-yt1 {
  width: 4.4rem;
  height: 2.8rem;
  position: absolute;
  left: 3.9rem;
  top: 12.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-10-00-uFs {
  width: 5.6rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 17.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-11-00-cg5 {
  width: 5.5rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 22.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-12-00-iz1 {
  width: 5.6rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 27.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-13-00-3Fb {
  width: 5.6rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 32.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-14-00-kQu {
  width: 5.6rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 37.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-qdnv-fXK .item-15-00-4gV {
  width: 5.6rem;
  height: 2.8rem;
  position: absolute;
  left: 3.4rem;
  top: 42.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-yq8d-9hw {
  margin: 0rem 1.6rem 0rem 104.7rem;
  width: calc(100% - 106.3rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-yq8d-9hw .auto-group-qjwb-55o {
  margin-right: 0.6rem;
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}

.agenda-2kd .auto-group-bxnh-RjT .auto-group-yq8d-9hw .auto-group-k72d-Yk5 {
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}