
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historialclinico-BPb {
  box-sizing: border-box;
  padding: 2.7rem 4.6rem 4.2rem 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
}
.historialclinico-BPb .head-UNh {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 21.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs {
  margin-right: 3.1333rem;
  width: 112.6rem;
  height: 100%;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f {
  margin: 0rem 3.6rem 1.2rem 0rem;
  width: calc(100% - 3.6rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-8jff-rPF {
  box-sizing: border-box;
  padding: 0.1rem 6rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-8jff-rPF .luxurtooth-nGu {
  margin: 0.4rem 0.4rem 0rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-8jff-rPF .rectangle-4-VBK {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-zmvd-Dt1 {
  box-sizing: border-box;
  padding: 1.4rem 59.4rem 1.552rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-zmvd-Dt1 .icon-search-9Fs {
  margin: 0.099rem 1.6rem 0rem 0rem;
  width: 2.5rem;
  height: 2.249rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-g6jh-Y7f .auto-group-zmvd-Dt1 .buscar-fecha-Fph {
  margin-bottom: 0.0476rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  height: 15rem;
  display: flex;
  align-items: center;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-bexd-6aR {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em {
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .auto-group-fb25-xcd {
  margin: 0rem 10.5rem 1.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .auto-group-fb25-xcd .doctor-sebastian-u25 {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .auto-group-fb25-xcd .item-100783823-puj {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .auto-group-fb25-xcd .aos-M8y {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .line-1-gh3 {
  margin-right: 3.5rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .bell-2F7 {
  margin: 0rem 1.9rem 6.9rem 0rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .notificaciones-wN5 {
  margin: 0rem 9.8rem 7.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .line-2-rzq {
  margin-right: 3.25rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .fire-1Mw {
  margin: 0rem 2.65rem 6.782rem 0rem;
  width: 2.5rem;
  height: 3.3824rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .auto-group-yhx3-ofs .auto-group-tacm-AAy .auto-group-k4gm-3Em .advertencias-Lv1 {
  margin-bottom: 7.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .user-UWR {
  margin: 1.333rem 1.633rem 0rem 0rem;
  width: 3.3333rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .doc-sebas-DD7 {
  margin: 1.6rem 3.1rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .head-UNh .polygon-1-jhF {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m {
  margin: 0rem 0.3rem 2.9rem 0rem;
  box-sizing: border-box;
  padding: 0.1rem 22.7rem 0.1rem 19rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/navegacion-Vss.png');
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m .agenda-9ky {
  margin: 0.7rem 18.9rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m .line-3-UHT {
  margin-right: 8.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m .odontograma-oqX {
  margin: 0.7rem 10.5rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m .line-4-8N1 {
  margin-right: 4.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-xmos-s2m .historial-clinico-sqP {
  margin-top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-r2fw-Br5 {
  margin: 0rem 0.1rem 2.8rem 0rem;
  width: 134.4rem;
  height: 37.9rem;
  border-right: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw {
  width: 134.2rem;
  height: 100%;
  position: relative;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .rectangle-11-yfT {
  width: 134rem;
  height: 37.9rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-6-JBw {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-21-RXT {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-13-ZNm {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 15.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-14-giH {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 20.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-15-d7j {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 25.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-16-ZGH {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 30.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-17-JUm {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 35.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-7-qUh {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 103.2rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-24-aSH {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 124.2rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-8-vFF {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 86.9rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-9-Tky {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 68.7rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-10-c85 {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 44.8rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-11-MLZ {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 29.5rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .line-23-Vhf {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 13.85rem;
  top: 9.3031rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .introduce-id-paciente--SN1 {
  width: 22.4rem;
  height: 2.8rem;
  position: absolute;
  left: 1.8rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-LiH {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 28.8rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-FKT {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 17.2rem;
  top: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-wxy {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 17.2rem;
  top: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-12-04-2023-rq3 {
  width: 11rem;
  height: 2.8rem;
  position: absolute;
  left: 0.7rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-MWu {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 17.2rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-Tpq {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 17.2rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-129038-MfK {
  width: 7.2rem;
  height: 2.8rem;
  position: absolute;
  left: 17.2rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .id-paciente-TyF {
  width: 11.6rem;
  height: 2.8rem;
  position: absolute;
  left: 15.7rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .nombre-NKX {
  width: 8.4rem;
  height: 2.8rem;
  position: absolute;
  left: 32.4rem;
  top: 11.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .servicio-HSV {
  width: 8.3rem;
  height: 2.8rem;
  position: absolute;
  left: 52.4rem;
  top: 11.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .estado-bCH {
  width: 7.1rem;
  height: 2.8rem;
  position: absolute;
  left: 73.8rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .diente-iGu {
  width: 6.7rem;
  height: 2.8rem;
  position: absolute;
  left: 91.7rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .zona-dem {
  width: 5.4rem;
  height: 2.8rem;
  position: absolute;
  left: 111.5rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .hora-vNy {
  width: 5.4rem;
  height: 2.8rem;
  position: absolute;
  left: 126.7rem;
  top: 11.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .fecha-cmb {
  width: 6.2rem;
  height: 2.8rem;
  position: absolute;
  left: 3.9rem;
  top: 11.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-30-04-2023-XNm {
  width: 11rem;
  height: 2.8rem;
  position: absolute;
  left: 0.7rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-16-05-2023-dgh {
  width: 11rem;
  height: 2.8rem;
  position: absolute;
  left: 0.5rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-1-06-2023-whP {
  width: 9.8rem;
  height: 2.8rem;
  position: absolute;
  left: 1.2rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .daniel-l-GDs {
  width: 8.5rem;
  height: 2.8rem;
  position: absolute;
  left: 32.3rem;
  top: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .daniel-l-PJV {
  width: 8.5rem;
  height: 2.8rem;
  position: absolute;
  left: 32.3rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-8-00-7EV {
  width: 4.9rem;
  height: 2.8rem;
  position: absolute;
  left: 126.7rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-12-00-dCq {
  width: 6.1rem;
  height: 2.8rem;
  position: absolute;
  left: 125.9rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-14-00-kHT {
  width: 5.5rem;
  height: 2.8rem;
  position: absolute;
  left: 125.9rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .item-12-00-54q {
  width: 5.5rem;
  height: 2.8rem;
  position: absolute;
  left: 125.9rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .revisin-general-b3B {
  width: 16.8rem;
  height: 2.8rem;
  position: absolute;
  left: 48.2rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .rasapado-u3s {
  width: 10rem;
  height: 2.8rem;
  position: absolute;
  left: 52.3rem;
  top: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .alisado-radicular-RH7 {
  width: 17.4rem;
  height: 2.8rem;
  position: absolute;
  left: 47.8rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .rehabilitacin-oral-8hK {
  width: 18.9rem;
  height: 2.8rem;
  position: absolute;
  left: 47.1rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .pendiente-dty {
  width: 9.5rem;
  height: 2.8rem;
  position: absolute;
  left: 71.9rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .finalizado-xAZ {
  width: 10.2rem;
  height: 2.8rem;
  position: absolute;
  left: 71.9rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .finalizado-sYR {
  width: 10.2rem;
  height: 2.8rem;
  position: absolute;
  left: 71.9rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .finalizado-z7F {
  width: 10.2rem;
  height: 2.8rem;
  position: absolute;
  left: 71.9rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .canino-Jtd {
  width: 7rem;
  height: 2.8rem;
  position: absolute;
  left: 91.4rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .canino-SE9 {
  width: 7rem;
  height: 2.8rem;
  position: absolute;
  left: 91.4rem;
  top: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .canino-m1X {
  width: 7rem;
  height: 2.8rem;
  position: absolute;
  left: 91.4rem;
  top: 26.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .canino-geH {
  width: 7rem;
  height: 2.8rem;
  position: absolute;
  left: 91.4rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .maxilar-superior-QqB {
  width: 16.5rem;
  height: 2.8rem;
  position: absolute;
  left: 104.9rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .maxilar-superior-Kx9 {
  width: 16.5rem;
  height: 2.8rem;
  position: absolute;
  left: 104.9rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .maxilar-superior-qfb {
  width: 16.5rem;
  height: 2.8rem;
  position: absolute;
  left: 104.9rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .maxilar-superior-knZ {
  width: 16.5rem;
  height: 2.8rem;
  position: absolute;
  left: 104.9rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .daniel-l-ssB {
  width: 8.5rem;
  height: 2.8rem;
  position: absolute;
  left: 32.3rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .daniel-l-zwo {
  width: 8.5rem;
  height: 2.8rem;
  position: absolute;
  left: 32.5rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-r2fw-Br5 .auto-group-5d4h-gXw .rectangle-17-XB3 {
  width: 134.1rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}
.historialclinico-BPb .auto-group-zz49-S37 {
  margin: 0rem 0.3rem 0.9rem 0rem;
  width: 134rem;
  height: 17rem;
  position: relative;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-zz49-S37 .rectangle-16-kJh {
  width: 134rem;
  height: 16.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.historialclinico-BPb .auto-group-zz49-S37 .line-26-V1P {
  width: 0.2rem;
  height: 17rem;
  position: absolute;
  left: 68.5rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-BPb .auto-group-zz49-S37 .observacion--pZT {
  width: 13.8rem;
  height: 2.8rem;
  position: absolute;
  left: 3rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-zz49-S37 .tratamineto--LGu {
  width: 13.6rem;
  height: 2.8rem;
  position: absolute;
  left: 72.8rem;
  top: 2.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-BPb .auto-group-zz49-S37 .exceso-de-sarro-y-bacterias-en-el-canino-superior-progreso-de-bajo-riesgo-debido-a-daos-nicamente-superficiales-F8y {
  width: 49.2rem;
  height: 8.3rem;
  position: absolute;
  left: 3rem;
  top: 5.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
}
.historialclinico-BPb .auto-group-zz49-S37 .el-alisado-radicular-suaviza-la-superficie-de-las-races-yayudar-a-prevenir-que-se-siga-acumulando-sarro-dental-y-bacterias-hFs {
  width: 53rem;
  height: 8.3rem;
  position: absolute;
  left: 72.8rem;
  top: 5.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
}
.historialclinico-BPb .auto-group-rdph-wvu {
  margin: 0rem 1.9rem 0rem 107.3rem;
  width: calc(100% - 109.2rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-rdph-wvu .auto-group-kzyf-s3s {
  margin-right: 0.6rem;
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
.historialclinico-BPb .auto-group-rdph-wvu .auto-group-txfb-XPK {
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
