
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historialclinico-tpV {
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 4.2rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
}
.historialclinico-tpV .head-y5F {
  margin: 0rem 2.4rem 0.4rem 0rem;
  height: 21.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ {
  margin-right: 2.7333rem;
  width: 113rem;
  height: 100%;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK {
  margin: 0rem 4rem 1.2rem 0rem;
  width: calc(100% - 4rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-4sbf-ih3 {
  box-sizing: border-box;
  padding: 0.1rem 6rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-4sbf-ih3 .luxurtooth-f6V {
  margin: 0.4rem 0.4rem 0rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-4sbf-ih3 .rectangle-4-AJ9 {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-vk1f-tzq {
  box-sizing: border-box;
  padding: 1.4rem 59.2rem 1.3rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-vk1f-tzq .icon-search-pNh {
  margin: 0rem 1.6rem 0.154rem 0rem;
  width: 2.5rem;
  height: 2.249rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-h1mf-bsK .auto-group-vk1f-tzq .buscar-fecha-KqF {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  height: 15rem;
  display: flex;
  align-items: center;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-tcjf-N2q {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV {
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .auto-group-xyo7-cC5 {
  margin: 0.5rem 9.7rem 1.5rem 0rem;
  height: calc(100% - 2rem);
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .auto-group-xyo7-cC5 .doctor-sebastian-8RK {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .auto-group-xyo7-cC5 .item-100783823-fRF {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .auto-group-xyo7-cC5 .aos-bZo {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .line-1-jg1 {
  margin-right: 3.5rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .bell-U7o {
  margin: 0rem 1.9rem 6.9rem 0rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .notificaciones-by7 {
  margin: 0rem 9.4rem 7rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .line-2-Ku7 {
  margin-right: 3.25rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .fire-4rh {
  margin: 0rem 2.65rem 6.782rem 0rem;
  width: 2.5rem;
  height: 3.3824rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .auto-group-gqff-gEZ .auto-group-9x7k-ESR .auto-group-as7o-HvV .advertencias-Pty {
  margin-bottom: 7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .user-vtu {
  margin: 1.333rem 1.633rem 0rem 0rem;
  width: 3.3333rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .doc-sebas-TP3 {
  margin: 1.6rem 2.9rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .head-y5F .polygon-1-MzD {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q {
  margin-bottom: 2.9rem;
  box-sizing: border-box;
  padding: 0.1rem 25.9rem 0.1rem 21.7rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/navegacion-3Ad.png');
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q .agenda-a6H {
  margin: 1.1rem 18.8rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q .line-3-gf7 {
  margin-right: 8.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q .odontograma-pFX {
  margin: 1.1rem 9.4rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q .line-4-Xfj {
  margin-right: 4.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-9hpt-V4q .historial-clinico-g2q {
  margin-top: 1.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-s9iv-NwF {
  margin: 0rem 2.5rem 2.8rem 2.6rem;
  width: calc(100% - 5.1rem);
  height: 37.9rem;
  border-right: solid 0.2rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV {
  width: 134.1rem;
  height: 100%;
  position: relative;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .rectangle-11-zhj {
  width: 134rem;
  height: 37.9rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-6-8J9 {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-21-FtZ {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-13-CYu {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 15.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-14-wWV {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 20.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-15-Gof {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 25.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-16-pKP {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 30.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-17-ZXs {
  width: 133.7rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 35.6rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-7-u5w {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 103.1rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-24-3C9 {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 124.1rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-8-BZF {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 86.8rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-9-X7K {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 68.6rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-10-TWm {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 44.7rem;
  top: 9.5rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-11-zWh {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 29.4rem;
  top: 9.3rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .line-23-wB3 {
  width: 0.2rem;
  height: 26.5rem;
  position: absolute;
  left: 13.75rem;
  top: 9.3031rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .introduce-id-paciente--Gj7 {
  width: 22.6rem;
  height: 3.1rem;
  position: absolute;
  left: 1.7rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-mvm {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 28.7rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-tEh {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 17.1rem;
  top: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-Ai1 {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 17.1rem;
  top: 16.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-12-04-2023-s6d {
  width: 11.3rem;
  height: 3.1rem;
  position: absolute;
  left: 0.6rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-ALd {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 17.1rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-4gu {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 17.1rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-129038-Zdf {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 17.1rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .id-paciente-FmP {
  width: 11.8rem;
  height: 3.1rem;
  position: absolute;
  left: 14.5rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .nombre-ANZ {
  width: 8.6rem;
  height: 3.1rem;
  position: absolute;
  left: 29.7rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .servicio-GgV {
  width: 8.6rem;
  height: 3.1rem;
  position: absolute;
  left: 45.2rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .estado-NzR {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 70.1rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .diente-Hbb {
  width: 7rem;
  height: 3.1rem;
  position: absolute;
  left: 87.7rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .zona-zW1 {
  width: 5.3rem;
  height: 3.1rem;
  position: absolute;
  left: 103.7rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .hora-6ow {
  width: 5.2rem;
  height: 3.1rem;
  position: absolute;
  left: 124.7rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .fecha-1R7 {
  width: 6.3rem;
  height: 3.1rem;
  position: absolute;
  left: 4.3rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-30-04-2023-vHB {
  width: 11.3rem;
  height: 3.1rem;
  position: absolute;
  left: 0.6rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-16-05-2023-orm {
  width: 11.3rem;
  height: 3.1rem;
  position: absolute;
  left: 0.4rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-1-06-2023-WmB {
  width: 10.1rem;
  height: 3.1rem;
  position: absolute;
  left: 1.1rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .daniel-l-pG5 {
  width: 8.1rem;
  height: 3.1rem;
  position: absolute;
  left: 30.6rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .daniel-l-w5o {
  width: 8.1rem;
  height: 3.1rem;
  position: absolute;
  left: 30.6rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-8-00-riZ {
  width: 4.7rem;
  height: 3.1rem;
  position: absolute;
  left: 126.6rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-12-00-Zss {
  width: 5.9rem;
  height: 3.1rem;
  position: absolute;
  left: 125.8rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-14-00-tQM {
  width: 5.4rem;
  height: 3.1rem;
  position: absolute;
  left: 125.8rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .item-12-00-oGR {
  width: 5.4rem;
  height: 3.1rem;
  position: absolute;
  left: 125.8rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .revisin-general-v69 {
  width: 16.8rem;
  height: 3.1rem;
  position: absolute;
  left: 45.9rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .rasapado-nPF {
  width: 10.5rem;
  height: 3.1rem;
  position: absolute;
  left: 45.9rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .alisado-radicular-4rZ {
  width: 17.4rem;
  height: 3.1rem;
  position: absolute;
  left: 45.9rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .rehabilitacin-oral-97K {
  width: 19.2rem;
  height: 3.1rem;
  position: absolute;
  left: 45.9rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .pendiente-cWh {
  width: 10.2rem;
  height: 3.1rem;
  position: absolute;
  left: 71.8rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .finalizado-XXB {
  width: 10.4rem;
  height: 3.1rem;
  position: absolute;
  left: 71.8rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .finalizado-daD {
  width: 10.4rem;
  height: 3.1rem;
  position: absolute;
  left: 71.8rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .finalizado-kPw {
  width: 10.4rem;
  height: 3.1rem;
  position: absolute;
  left: 71.8rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .canino-sDf {
  width: 7.1rem;
  height: 3.1rem;
  position: absolute;
  left: 88.8rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .canino-C13 {
  width: 7.1rem;
  height: 3.1rem;
  position: absolute;
  left: 88.8rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .canino-7th {
  width: 7.1rem;
  height: 3.1rem;
  position: absolute;
  left: 88.8rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .canino-ds3 {
  width: 7.1rem;
  height: 3.1rem;
  position: absolute;
  left: 88.8rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .maxilar-superior-ZVo {
  width: 16.5rem;
  height: 3.1rem;
  position: absolute;
  left: 104.8rem;
  top: 31.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .maxilar-superior-gKX {
  width: 16.5rem;
  height: 3.1rem;
  position: absolute;
  left: 104.8rem;
  top: 26.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .maxilar-superior-QFX {
  width: 16.5rem;
  height: 3.1rem;
  position: absolute;
  left: 104.8rem;
  top: 21.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .maxilar-superior-7fj {
  width: 16.5rem;
  height: 3.1rem;
  position: absolute;
  left: 104.8rem;
  top: 16.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .daniel-l-33b {
  width: 8.1rem;
  height: 3.1rem;
  position: absolute;
  left: 30.6rem;
  top: 26.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .daniel-l-wuf {
  width: 8.1rem;
  height: 3.1rem;
  position: absolute;
  left: 30.6rem;
  top: 31.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-s9iv-NwF .auto-group-cmv7-uAV .rectangle-17-4zH {
  width: 134.1rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 20.7rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}
.historialclinico-tpV .auto-group-encv-Nk5 {
  margin: 0rem 2.7rem 0.9rem 2.7rem;
  width: calc(100% - 5.4rem);
  height: 17rem;
  position: relative;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-encv-Nk5 .rectangle-16-sgq {
  width: 134rem;
  height: 16.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.historialclinico-tpV .auto-group-encv-Nk5 .line-26-DEu {
  width: 0.2rem;
  height: 17rem;
  position: absolute;
  left: 68.5rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.historialclinico-tpV .auto-group-encv-Nk5 .observacion--wRo {
  width: 14rem;
  height: 3.1rem;
  position: absolute;
  left: 3rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-encv-Nk5 .tratamineto--FBb {
  width: 13.8rem;
  height: 3.1rem;
  position: absolute;
  left: 74.4rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}
.historialclinico-tpV .auto-group-encv-Nk5 .exceso-de-sarro-y-bacterias-en-el-canino-superior-progreso-de-bajo-riesgo-debido-a-daos-nicamente-superficiales-x61 {
  width: 49rem;
  height: 9.1rem;
  position: absolute;
  left: 3rem;
  top: 5.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
}
.historialclinico-tpV .auto-group-encv-Nk5 .el-alisado-radicular-suaviza-la-superficie-de-las-races-yayudar-a-prevenir-que-se-siga-acumulando-sarro-dental-y-bacterias-DGq {
  width: 53.8rem;
  height: 9.1rem;
  position: absolute;
  left: 74.4rem;
  top: 5.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
}
.historialclinico-tpV .auto-group-pfbb-rah {
  margin: 0rem 4.3rem 0rem 107.7rem;
  width: calc(100% - 112rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-pfbb-rah .auto-group-qq3p-NJ9 {
  margin-right: 0.6rem;
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
.historialclinico-tpV .auto-group-pfbb-rah .auto-group-qxah-rDK {
  width: 13.4rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010b1f;
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}
