html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

.reserva-zEy {
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
}

.reserva-zEy .head-tbF {
  margin: 0rem 2rem 0.4rem 0rem;
  width: 136.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf {
  margin-bottom: 0.1667rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .luxurtooth-kdT {
  margin: 0rem 0.4rem 0.733rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .rectangle-4-TGy {
  margin: 0rem 6rem 1.133rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .auto-group-emdw-BCy {
  margin: 0rem 6.733rem 1.033rem 0rem;
  box-sizing: border-box;
  padding: 1.499rem 1.9rem 1.552rem 1.9rem;
  width: 76.3rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .auto-group-emdw-BCy .icon-search-5ZF {
  width: 2.5rem;
  height: 2.2491rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .user-zgD {
  margin: 1.333rem 1.633rem 0rem 0rem;
  width: 3.3333rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .pac-juan-b-Xg9 {
  margin: 0rem 2.6rem 0.333rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-cspt-2Bf .polygon-1-rCd {
  margin-bottom: 0.3333rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 {
  margin: 0rem 15.8rem 0rem 1.6rem;
  width: calc(100% - 17.4rem);
  height: 15rem;
  display: flex;
  align-items: center;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-t6vr-7PT {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh {
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .auto-group-des9-yRf {
  margin: 0rem 6.1rem 1.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .auto-group-des9-yRf .juan-camilo-barrios-i8M {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .auto-group-des9-yRf .item-101073840-2eq {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .auto-group-des9-yRf .aos-9zM {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .line-1-6Po {
  margin-right: 3.5rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .bell-pKo {
  margin: 0rem 1.9rem 6.9rem 0rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .notificaciones-w9X {
  margin: 0rem 9.8rem 7.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .line-2-Tdf {
  margin-right: 11.45rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .fire-Q37 {
  margin: 0rem 2.65rem 7.182rem 0rem;
  width: 2.5rem;
  height: 3.3824rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.reserva-zEy .head-tbF .auto-group-o2qm-bR7 .auto-group-yjyp-4Jh .advertencias-XdX {
  margin-bottom: 7.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.1rem 21.3rem 0.1rem 15.5rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/navegacion-bZo.png');
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH .datos-personales-MMf {
  margin: 0.7rem 13.1rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH .line-3-fNM {
  margin-right: 8.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH .fecha-clinica-bWu {
  margin: 0.7rem 10.4rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH .line-4-7VF {
  margin-right: 19rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-nytb-TGH .progreso-4QV {
  margin-top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-du2z-NZb {
  width: 100%;
  height: 65.7rem;
  position: relative;
  flex-shrink: 0;
}

.reserva-zEy .auto-group-du2z-NZb .rectangle-10-pRb {
  width: 139.4rem;
  height: 65.4rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}

.reserva-zEy .auto-group-du2z-NZb .rectangle-4-6P7 {
  width: 50.6rem;
  height: 30.3rem;
  position: relative;
  left: 0;
  top: 17.1rem;
  background-size: 150.218% 100%;
  background-position: -0.2269rem 0;
  background-image: url('../assets/rectangle-4.png');
}

.reserva-zEy .auto-group-du2z-NZb .line-13-NrR {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 22.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-19-6nR {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 18.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-14-e3F {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 27.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-15-8j7 {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 32.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-16-U2H {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 37.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-18-QAq {
  width: 51.8rem;
  height: 0.2rem;
  position: absolute;
  left: 87.6rem;
  top: 41.7rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-11-wRf {
  width: 0.2rem;
  height: 23.7rem;
  position: absolute;
  left: 113.7rem;
  top: 18.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-17-ge9 {
  width: 0.2rem;
  height: 23.7rem;
  position: absolute;
  left: 126.4rem;
  top: 18.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .line-12-pkM {
  width: 0.2rem;
  height: 23.7rem;
  position: absolute;
  left: 100.1rem;
  top: 18.1rem;
  background-color: rgba(1, 11, 31, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .rectangle-3-Zxq {
  width: 17.1rem;
  height: 14.2rem;
  position: relative;
  left: 59rem;
  top: -29rem;
  background-size: 85.43% 128.873%;
  background-position: 1.2957rem -0rem;
  background-image: url('../assets/rectangle-3.png');
}

.reserva-zEy .auto-group-du2z-NZb .rectangle-14-UK7 {
  width: 17.6rem;
  height: 5.3rem;
  position: absolute;
  left: 120.3rem;
  top: 59.2rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
}

.reserva-zEy .auto-group-du2z-NZb .reservar-cita-buX {
  width: 13.2rem;
  height: 2.8rem;
  position: absolute;
  left: 122.1rem;
  top: 60.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .line-3-vB7 {
  width: 0.1rem;
  height: 65.4rem;
  position: absolute;
  left: 50.6rem;
  top: 0.3rem;
  background-color: #010b1f;
}

.reserva-zEy .auto-group-du2z-NZb .line-5-fPb {
  width: 0.1rem;
  height: 65.4rem;
  position: absolute;
  left: 87.6rem;
  top: 0.3rem;
  background-color: #010b1f;
}

.reserva-zEy .auto-group-du2z-NZb .rectangle-15-Bsj {
  width: 36.2rem;
  height: 42.2rem;
  position: absolute;
  left: 51rem;
  top: 15.4rem;
  background-color: rgba(255, 255, 255, 0.3000000119);
}

.reserva-zEy .auto-group-du2z-NZb .selecciona-el-servicio--isf {
  width: 29.7rem;
  height: 3.7rem;
  position: absolute;
  left: 51.5rem;
  top: 38.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .id--RGH {
  width: 3.5rem;
  height: 2.8rem;
  position: absolute;
  left: 91.6rem;
  top: 18.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .nombre--8Ah {
  width: 9.2rem;
  height: 2.8rem;
  position: absolute;
  left: 100.9rem;
  top: 18.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .valor-pagado--q57 {
  width: 19.5rem;
  height: 3.7rem;
  position: absolute;
  left: 89.9rem;
  top: 44.7rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .monto--jRP {
  width: 7.6rem;
  height: 2.8rem;
  position: absolute;
  left: 115.7rem;
  top: 18.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .desc-CZs {
  width: 7.8rem;
  height: 2.8rem;
  position: absolute;
  left: 127.2rem;
  top: 18.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .selecciona-el-mtodo-de-pago--uz5 {
  width: 28.3rem;
  height: 11.1rem;
  position: absolute;
  left: 98.8rem;
  top: 5.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
}

.reserva-zEy .auto-group-du2z-NZb .selecciona-fecha-y-hora-de-la-cita--oJm {
  width: 24.8rem;
  height: 11.1rem;
  position: absolute;
  left: 12.55rem;
  top: 5.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.15;
  color: rgba(1, 11, 31, 0.9300000072);
  font-family: Tinos, 'Source Sans Pro';
}

.reserva-zEy .auto-group-du2z-NZb .rehabilitacin-oral-u6u {
  width: 22.1rem;
  height: 3.3rem;
  position: absolute;
  left: 53rem;
  top: 43.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .dr-sebastin-torres-m-ze9 {
  width: 26.6rem;
  height: 3.3rem;
  position: absolute;
  left: 53rem;
  top: 18.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-22-6hB {
  width: 2.8rem;
  height: 3.3rem;
  position: absolute;
  left: 53rem;
  top: 23.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .aos-Ah3 {
  width: 6rem;
  height: 3.3rem;
  position: absolute;
  left: 57.1rem;
  top: 23.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .dentista-general-ortondocista-rJy {
  width: 21.8rem;
  height: 6.5rem;
  position: absolute;
  left: 53rem;
  top: 28rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
}

.reserva-zEy .auto-group-du2z-NZb .item-300-mB3 {
  width: 5.6rem;
  height: 3.3rem;
  position: absolute;
  left: 53.3rem;
  top: 48.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-200-GtV {
  width: 6rem;
  height: 3.5rem;
  position: absolute;
  left: 90.3rem;
  top: 48.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-200-PiD {
  width: 5.6rem;
  height: 3.3rem;
  position: absolute;
  left: 116.3rem;
  top: 23.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-0-6sX {
  width: 1.4rem;
  height: 3.3rem;
  position: absolute;
  left: 132.2rem;
  top: 23.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .master-2WH {
  width: 7.8rem;
  height: 3.3rem;
  position: absolute;
  left: 102.3rem;
  top: 23.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .visa-8pD {
  width: 5.7rem;
  height: 3.3rem;
  position: absolute;
  left: 102.3rem;
  top: 28.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .amex-ph3 {
  width: 6.9rem;
  height: 3.3rem;
  position: absolute;
  left: 102.3rem;
  top: 33.2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .mastercard-8xd {
  width: 10.8rem;
  height: 2.8rem;
  position: absolute;
  left: 100.8rem;
  top: 38rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-13-r7w {
  width: 2.8rem;
  height: 3.3rem;
  position: absolute;
  left: 91.6rem;
  top: 23.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-14-YmT {
  width: 2.8rem;
  height: 3.3rem;
  position: absolute;
  left: 91.6rem;
  top: 28.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-15-fbB {
  width: 2.8rem;
  height: 3.3rem;
  position: absolute;
  left: 91.6rem;
  top: 33.3rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-16-PXB {
  width: 2.8rem;
  height: 3.3rem;
  position: absolute;
  left: 91.6rem;
  top: 38.1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .item-1-7TB {
  width: 1.4rem;
  height: 3.3rem;
  position: absolute;
  left: 53.3rem;
  top: 52.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.reserva-zEy .auto-group-du2z-NZb .h-duracin-1Hf {
  width: 12.6rem;
  height: 3.3rem;
  position: absolute;
  left: 55.9rem;
  top: 52.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}