html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

.vistadoctor-Srh {
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
}

.vistadoctor-Srh .head-9WD {
  margin: 0rem 2rem 0.4rem 0rem;
  height: 21.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq {
  margin-right: 3.1333rem;
  width: 112.6rem;
  height: 100%;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u {
  margin: 0rem 3.6rem 1.2rem 0rem;
  width: calc(100% - 3.6rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-kouf-ixd {
  box-sizing: border-box;
  padding: 0.1rem 6rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-kouf-ixd .luxurtooth-TvD {
  margin: 0.4rem 0.4rem 0rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-kouf-ixd .rectangle-4-ZiM {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-4t1b-5gh {
  box-sizing: border-box;
  padding: 1.4rem 57.4rem 1.552rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-4t1b-5gh .icon-search-oMo {
  margin: 0.099rem 1.6rem 0rem 0rem;
  width: 2.5rem;
  height: 2.249rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-ynz3-c8u .auto-group-4t1b-5gh .buscar-paciente-7dP {
  margin-bottom: 0.0476rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  height: 15rem;
  display: flex;
  align-items: center;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-azx3-kAZ {
  width: 15rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 {
  box-sizing: border-box;
  padding: 2.9rem 0rem 0rem 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .auto-group-gwsh-Qku {
  margin: 0rem 6.1rem 1.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .auto-group-gwsh-Qku .juan-camilo-barrios-Ys7 {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .auto-group-gwsh-Qku .item-101073840-UVs {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .auto-group-gwsh-Qku .aos-baV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .line-1-L2H {
  margin-right: 3.5rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .bell-GRj {
  margin: 0rem 1.9rem 6.9rem 0rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .notificaciones-zcd {
  margin: 0rem 9.8rem 7.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .line-2-ioX {
  margin-right: 3.25rem;
  width: 0.1rem;
  height: 12.1rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .fire-Tm7 {
  margin: 0rem 2.65rem 6.782rem 0rem;
  width: 2.5rem;
  height: 3.3824rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .auto-group-2pbk-Gaq .auto-group-dta1-cq3 .auto-group-3cpu-VP3 .advertencias-Pem {
  margin-bottom: 7.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .user-vPo {
  margin: 1.333rem 1.633rem 0rem 0rem;
  width: 3.3333rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .doc-sebas-T8q {
  margin: 1.6rem 3.1rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .head-9WD .polygon-1-ajF {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.1rem 25.4rem 0.1rem 21.7rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/navegacion-MDw.png');
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB .agenda-Rjs {
  margin: 0.7rem 18.9rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB .line-3-kXF {
  margin-right: 8.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB .odontograma-t7f {
  margin: 0.7rem 10.5rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB .line-4-Ce9 {
  margin-right: 4.8rem;
  width: 0.1rem;
  height: 6.6rem;
  background-color: #010b1f;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-3kzx-7jB .historial-clinico-YT7 {
  margin-top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ {
  width: 100%;
  height: 65.7rem;
  position: relative;
  flex-shrink: 0;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-10-jGh {
  width: 31.8rem;
  height: 65.4rem;
  position: absolute;
  left: 2rem;
  top: 0.3rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .canino-rMK {
  width: 8.1rem;
  height: 3.3rem;
  position: absolute;
  left: 3.2rem;
  top: 24.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .tipo-diente--ZmX {
  width: 16.2rem;
  height: 3.7rem;
  position: absolute;
  left: 3.2rem;
  top: 20.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .zona-ubicacion--UtV {
  width: 21.5rem;
  height: 3.7rem;
  position: absolute;
  left: 3.2rem;
  top: 30.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .servicio--Q1T {
  width: 11.6rem;
  height: 3.7rem;
  position: absolute;
  left: 3.2rem;
  top: 40.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .tratamiento-con-empaste-dental-en-la-corona-del-diente-uyo {
  width: 25.2rem;
  height: 11.1rem;
  position: absolute;
  left: 3.2rem;
  top: 49.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .maxilar-superior-1X3 {
  width: 19.3rem;
  height: 3.3rem;
  position: absolute;
  left: 3.2rem;
  top: 34.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rehabilitacin-oral-vtu {
  width: 22.1rem;
  height: 3.3rem;
  position: absolute;
  left: 3.2rem;
  top: 43.8rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-11-Eub {
  width: 99.8rem;
  height: 65.1rem;
  position: absolute;
  left: 37.2rem;
  top: 0.6rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-12-Zgy {
  width: 92.2rem;
  height: 42.2rem;
  position: relative;
  left: 41.2rem;
  top: 6.6rem;
  background-size: 100% 107.077%;
  background-position: -0rem -1.4932rem;
  background-image: url('../assets/rectangle-12-vSq.png');
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-13-eyK {
  width: 6.6rem;
  height: 13rem;
  position: relative;
  left: 14.6rem;
  top: -40rem;
  background-size: 1396.97% 347.587%;
  background-position: -34.8rem -1.4932rem;
  background-image: url('../assets/rectangle-13-o7b.png');
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-6-Msj {
  width: 28.1rem;
  height: 5.3rem;
  position: absolute;
  left: 56.1rem;
  top: 53.6rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .planes-y-tratamientos-tcm {
  width: 21.3rem;
  height: 2.8rem;
  position: absolute;
  left: 59.9rem;
  top: 55rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-14-QLD {
  width: 23.1rem;
  height: 5.3rem;
  position: absolute;
  left: 89rem;
  top: 53.6rem;
  background-color: rgba(217, 217, 217, 0.6999999881);
  border-radius: 4rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .observaciones-LUm {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 93.5rem;
  top: 55rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #010b1f;
  font-family: Tinos, 'Source Sans Pro';
  white-space: nowrap;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-15-TJV {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 42.9rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-16-C1B {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 48.6rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-17-Kbb {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 54.1rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-18-GFw {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 59.9rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-19-C9b {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 65.2rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-20-83F {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 70.6rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-21-4Sh {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 76.6rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-22-zr9 {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 82.2rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-23-jYq {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 87.9rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-24-UFX {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 93.4rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-25-DD7 {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 98.9rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-26-kTw {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 104.5rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-27-Him {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 110rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-28-2wF {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 115.8rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-29-n9j {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 121.6rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-30-7xh {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 127.1rem;
  top: 7.5rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-31-GKo {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 42.9rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-32-Qwo {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 48.6rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-33-kkm {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 54.1rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-34-VyF {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 59.9rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-35-qXK {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 65.2rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-36-P33 {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 70.6rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-37-ir1 {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 76.6rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-38-Gcd {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 82.2rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-39-1aD {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 87.9rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-40-M8H {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 93.4rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-41-ggM {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 98.9rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-42-q3T {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 104.5rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-43-NJH {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 110rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-44-i7F {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 115.8rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-45-TKj {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 121.6rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .rectangle-46-Pz5 {
  width: 5rem;
  height: 10.9rem;
  position: absolute;
  left: 127.1rem;
  top: 36rem;
  background-color: rgba(217, 217, 217, 0.0500000007);
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-81-9CZ {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 121.8rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-82-GHB {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 127.3rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-83-Psb {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 121.8rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-84-LH3 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 127.3rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-85-TcZ {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 110.4rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-86-PWD {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 116.1rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-87-XMX {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 110.3rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-88-rub {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 93.8rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-89-Bgy {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 99.2rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-90-Wz9 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 104.6rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-91-rHK {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 99.2rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-92-zPX {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 104.6rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-93-8Vj {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 49.2rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-94-fkZ {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 54.9rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-95-CVb {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 60.3rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-96-8e9 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 66rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-97-s5w {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 71.7rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-98-Ppy {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 77.1rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-99-vK7 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 82.8rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-100-SoF {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 88.3rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-101-yoB {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 93.8rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-102-ugq {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 43.5rem;
  top: 29.8rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-103-dsj {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 77.1rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-104-NaR {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 82.8rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-105-HBb {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 88.3rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-106-pBX {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 71.7rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-107-wmw {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 49.2rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-108-U1B {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 54.9rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-109-bLh {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 60.3rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-110-v85 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 66rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}

.vistadoctor-Srh .auto-group-i1dp-4AZ .ellipse-111-T81 {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 43.5rem;
  top: 20.5rem;
  background-color: rgba(217, 217, 217, 0.0099999998);
  border-radius: 2.05rem;
}