html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: none;
}

.home-mXK {
  box-sizing: border-box;
  padding: 3.3rem 0.8rem 0.8rem 1.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #435d4c -0%, #81a78f 100%);
  background-color: #ffffff;
}

.home-mXK .navergacion-tM3 {
  margin: 0rem 4.7rem 25rem 4.9rem;
  box-sizing: border-box;
  padding: 0.6rem 0.589rem 0.7rem 0rem;
  width: calc(100% - 9.6rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.home-mXK .navergacion-tM3 .luxurtooth-aUm {
  margin: 0.4rem 40.687rem 0rem 0rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(217, 217, 217, 0.6999999881);
  font-family: Hammersmith One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-mXK .navergacion-tM3 .home-V5w {
  margin: 0rem 13.062rem 0.7rem 0rem;
  width: 5.625rem;
  height: 5.25rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.home-mXK .navergacion-tM3 .services-VVF {
  margin: 0rem 12.875rem 0.7rem 0rem;
  width: 5.25rem;
  height: 5.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.home-mXK .navergacion-tM3 .agendar-DAM {
  margin: 0rem 10.911rem 0.7rem 0rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.home-mXK .navergacion-tM3 .enter-sharp-kAH {
  margin-bottom: 0.6111rem;
  width: 7rem;
  height: 5.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.home-mXK .auto-group-rpdp-sVo {
  margin: 0rem 19.8rem 23.4rem 10.4rem;
  width: calc(100% - 30.2rem);
  height: 39.8rem;
  position: relative;
  flex-shrink: 0;
}

.home-mXK .auto-group-rpdp-sVo .rectangle-2-bAu {
  width: 54.8rem;
  height: 39.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.home-mXK .auto-group-rpdp-sVo .especialistas-en-salud-oral-XaM {
  width: 55.2rem;
  height: 6.1rem;
  position: absolute;
  left: 54.6rem;
  top: 4.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
}

.home-mXK .auto-group-rpdp-sVo .el-especialista-en-salud-oral-es-un-profesional-dedicado-a-promover-y-mantener-la-salud-bucal-con-su-amplio-conocimiento-y-experiencia-brinda-diagnsticos-precisos-tratamientos-efectivos-y-consejos-preventivos-su-objetivo-principal-es-asegurar-sonrisas-saludables-y-mejorar-la-calidad-de-vida-de-sus-pacientes-1VX {
  width: 57.1rem;
  height: 12.6rem;
  position: absolute;
  left: 54.8rem;
  top: 14.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Tahoma, 'Source Sans Pro';
}

.home-mXK .footer-yqf {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.home-mXK .footer-yqf .designed-by-sebastian-torres-juan-barrios-daniel-lerma-Y85 {
  margin-right: 91rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.home-mXK .footer-yqf .universidad-libre-SUM {
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Tahoma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}