{% extends "layout.html" %} {% block body %}
<div class="historialclinico-BPb">
    <div class="head-UNh">
        <div class="auto-group-yhx3-ofs">
            <div class="auto-group-g6jh-Y7f">
                <div class="auto-group-8jff-rPF">
                    <p class="luxurtooth-nGu">LUXURTOOTH</p>
                    <img class="rectangle-4-VBK"
                        src="{{ url_for('static', filename='/images/rectangle-4-ULd.png') }}" />
                </div>
                <div class="auto-group-zmvd-Dt1">
                    <img class="icon-search-9Fs"
                        src="{{ url_for('static', filename='/images/icon-search-9Wd.png') }}" />
                    <p class="buscar-fecha-Fph">Buscar Fecha</p>
                </div>
            </div>
            <div class="auto-group-tacm-AAy">
                <img class="auto-group-bexd-6aR"
                    src="{{ url_for('static', filename='/images/auto-group-bexd.png') }}" />
                <div class="auto-group-k4gm-3Em">
                    <div class="auto-group-fb25-xcd">
                        <p class="doctor-sebastian-u25">Doctor Sebastian</p>
                        <p class="item-100783823-puj">100783823</p>
                        <p class="aos-M8y">
                            22 años
                            <br />
                        </p>
                    </div>
                    <div class="line-1-gh3"></div>
                    <img class="bell-2F7" src="{{ url_for('static', filename='/images/bell-n6y.png') }}" />
                    <p class="notificaciones-wN5">Notificaciones</p>
                    <div class="line-2-rzq"></div>
                    <img class="fire-1Mw" src="{{ url_for('static', filename='/images/fire-tXF.png') }}" />
                    <p class="advertencias-Lv1">Advertencias</p>
                </div>
            </div>
        </div>
        <img class="user-UWR" src="{{ url_for('static', filename='/images/user-TEd.png') }}" />
        <p class="doc-sebas-DD7">Doc. Sebas</p>
        <img class="polygon-1-jhF" src="{{ url_for('static', filename='/images/polygon-1-sND.png') }}" />
    </div>
    <div class="auto-group-xmos-s2m">
        <a href="/agenda" class="agenda-9ky">Agenda</a>
        <div class="line-3-UHT"></div>
        <a href="/vistadoctor" class="odontograma-oqX">Odontograma</a>
        <div class="line-4-8N1"></div>
        <a href="/historial" class="historial-clinico-sqP">Historial Clinico</a>
    </div>
    <div class="auto-group-r2fw-Br5">
        <div class="auto-group-5d4h-gXw">
            <div class="rectangle-11-yfT"></div>
            <div class="line-6-JBw"></div>
            <div class="line-21-RXT"></div>
            <div class="line-13-ZNm"></div>
            <div class="line-14-giH"></div>
            <div class="line-15-d7j"></div>
            <div class="line-16-ZGH"></div>
            <div class="line-17-JUm"></div>
            <div class="line-7-qUh"></div>
            <div class="line-24-aSH"></div>
            <div class="line-8-vFF"></div>
            <div class="line-9-Tky"></div>
            <div class="line-10-c85"></div>
            <div class="line-11-MLZ"></div>
            <div class="line-23-Vhf"></div>
            <p class="introduce-id-paciente--SN1">Introduce ID Paciente:</p>
            <p class="item-129038-LiH">129038</p>
            <p class="item-129038-FKT">129038</p>
            <p class="item-129038-wxy">129038</p>
            <p class="item-12-04-2023-rq3">12/04/2023</p>
            <p class="item-129038-MWu">129038</p>
            <p class="item-129038-Tpq">129038</p>
            <p class="item-129038-MfK">129038</p>
            <p class="id-paciente-TyF">Id Paciente</p>
            <p class="nombre-NKX">Nombre</p>
            <p class="servicio-HSV">Servicio</p>
            <p class="estado-bCH">Estado</p>
            <p class="diente-iGu">Diente</p>
            <p class="zona-dem">Zona</p>
            <p class="hora-vNy">Hora</p>
            <p class="fecha-cmb">Fecha</p>
            <p class="item-30-04-2023-XNm">30/04/2023</p>
            <p class="item-16-05-2023-dgh">16/05/2023</p>
            <p class="item-1-06-2023-whP">1/06/2023</p>
            <p class="daniel-l-GDs">Daniel L</p>
            <p class="daniel-l-PJV">Daniel L</p>
            <p class="item-8-00-7EV">8:00</p>
            <p class="item-12-00-dCq">12:00</p>
            <p class="item-14-00-kHT">14:00</p>
            <p class="item-12-00-54q">12:00</p>
            <p class="revisin-general-b3B">Revisión General</p>
            <p class="rasapado-u3s">Rasapado</p>
            <p class="alisado-radicular-RH7">Alisado Radicular</p>
            <p class="rehabilitacin-oral-8hK">Rehabilitación Oral</p>
            <p class="pendiente-dty">Pendiente</p>
            <p class="finalizado-xAZ">Finalizado</p>
            <p class="finalizado-sYR">Finalizado</p>
            <p class="finalizado-z7F">Finalizado</p>
            <p class="canino-Jtd">Canino</p>
            <p class="canino-SE9">Canino</p>
            <p class="canino-m1X">Canino</p>
            <p class="canino-geH">Canino</p>
            <p class="maxilar-superior-QqB">Maxilar Superior</p>
            <p class="maxilar-superior-Kx9">Maxilar Superior</p>
            <p class="maxilar-superior-qfb">Maxilar Superior</p>
            <p class="maxilar-superior-knZ">Maxilar Superior</p>
            <p class="daniel-l-ssB">Daniel L</p>
            <p class="daniel-l-zwo">Daniel L</p>
            <div class="rectangle-17-XB3"></div>
        </div>
    </div>
    <div class="auto-group-zz49-S37">
        <div class="rectangle-16-kJh"></div>
        <div class="line-26-V1P"></div>
        <p class="observacion--pZT">Observacion:</p>
        <p class="tratamineto--LGu">Tratamineto:</p>
        <p
            class="exceso-de-sarro-y-bacterias-en-el-canino-superior-progreso-de-bajo-riesgo-debido-a-daos-nicamente-superficiales-F8y">
            Exceso de Sarro Y Bacterias en el canino superior, progreso de bajo riesgo
            debido a daños únicamente superficiales
        </p>
        <p
            class="el-alisado-radicular-suaviza-la-superficie-de-las-races-yayudar-a-prevenir-que-se-siga-acumulando-sarro-dental-y-bacterias-hFs">
            El alisado radicular suaviza la superficie de las raíces y
            <br />
            ayudar a prevenir que se siga acumulando sarro
            <br />
            dental y bacterias.
        </p>
    </div>
    <div class="auto-group-rdph-wvu">
        <div class="auto-group-kzyf-s3s">Añadir</div>
        <div class="auto-group-txfb-XPK">Editar</div>
    </div>
</div>
{% endblock %}