{% extends "layout.html" %}

{% block body %}
<div class="auto-group-klff-SzZ">
    <img class="rectangle-2-kEZ" src="{{url_for('static', filename='/images/rectangle-2.png')}}" />
    <div class="auto-group-wewq-spy">
        <p class="especialistas-en-salud-oral-PoK">Especialistas en salud oral</p>
        <p
            class="el-especialista-en-salud-oral-es-un-profesional-dedicado-a-promover-y-mantener-la-salud-bucal-con-su-amplio-conocimiento-y-experiencia-brinda-diagnsticos-precisos-tratamientos-efectivos-y-consejos-preventivos-su-objetivo-principal-es-asegurar-sonrisas-saludables-y-mejorar-la-calidad-de-vida-de-sus-pacientes-7UR">
            El especialista en salud oral es un profesional dedicado a promover y mantener la salud bucal. Con su amplio
            conocimiento y experiencia, brinda diagnósticos precisos, tratamientos efectivos y consejos preventivos. Su
            objetivo principal es asegurar sonrisas saludables y mejorar la calidad de vida de sus pacientes.</p>
    </div>
</div>
</div>
<div class="frame-1-53s">
</div>
</div>
<script src="{{url_for('static', filename ='js/registro.js')}}"></script>

{% endblock %}