{% extends "layout.html" %} {% block body %}
<div class="registro-Xob">
  <div class="rectangle-3-etD">
  </div>
  <div class="rectangle-8-yfb">
  </div>
  <p class="selecciona-tipo-u3T">Selecciona Tipo</p>
  <div class="login-16V">
  </div>
  <div class="login-6dj">
  </div>
  <div class="rectangle-5-XDF">
  </div>
  <div class="rectangle-6-A1K">
  </div>
  <p class="luxurtooth-PoB">LUXURTOOTH</p>
  <img class="rectangle-4-W77" src="{{ url_for('static', filename='/images/rectangle-4-uLy.png') }}" />
  <p class="nombre-gfo">Nombre</p>
  <img class="vector-2bF" src="{{ url_for('static', filename='/images/vector-YYm.png') }}" />
  <p class="contrasea-sAd">Contraseña</p>
  <img class="lock-closed-CAy" src="{{ url_for('static', filename='/images/lock-closed.png') }}" />
  <p class="email-3Bb">Email</p>
  <div class="rectangle-7-xzh"></div>
  <img class="polygon-1-oVX" src="{{ url_for('static', filename='/images/polygon-1-xWq.png') }}" />
  <img class="vector-jty" src="{{ url_for('static', filename='/images/vector-eNq.png') }}" />
  <img class="vector-gJR" src="{{ url_for('static', filename='/images/vector.png') }}" />
  <p class="registrarse-n2h">Registrarse</p>
  <a href="/vistapaciente" class="entrar-gds">Entrar</a>
</div>
{% endblock %}