{% extends "layout.html" %} {% block body %}
<div class="reserva-zEy">
    <div class="head-tbF">
        <div class="auto-group-cspt-2Bf">
            <p class="luxurtooth-kdT">LUXURTOOTH</p>
            <img class="rectangle-4-TGy" src="{{url_for('static', filename='/images/rectangle-4-g2y.png')}}" />
            <div class="auto-group-emdw-BCy">
                <img class="icon-search-5ZF" src="{{url_for('static', filename='/images/icon-search-e13.png')}}" />
            </div>
            <img class="user-zgD" src="{{url_for('static', filename='/images/user-DcR.png')}}" />
            <p class="pac-juan-b-Xg9">Pac. Juan B</p>
            <img class="polygon-1-rCd" src="{{url_for('static', filename='/images/polygon-1-Yzy.png')}}" />
        </div>
        <div class="auto-group-o2qm-bR7">
            <img class="auto-group-t6vr-7PT" src="{{url_for('static', filename='/images/auto-group-t6vr.png')}}" />
            <div class="auto-group-yjyp-4Jh">
                <div class="auto-group-des9-yRf">
                    <p class="juan-camilo-barrios-i8M">Juan Camilo Barrios</p>
                    <p class="item-101073840-2eq">101073840</p>
                    <p class="aos-9zM">
                        18 años
                        <br />
                    </p>
                </div>
                <div class="line-1-6Po"></div>
                <img class="bell-pKo" src="{{url_for('static', filename='/images/bell-A5T.png')}}" />
                <p class="notificaciones-w9X">Notificaciones</p>
                <div class="line-2-Tdf"></div>
                <img class="fire-Q37" src="{{url_for('static', filename='/images/fire-2pd.png')}}" />
                <p class="advertencias-XdX">Advertencias</p>
            </div>
        </div>
    </div>
    <!-- <div class="auto-group-nytb-TGH">
        <p class="datos-personales-MMf">Datos Personales</p>
        <div class="line-3-fNM"></div>
        <p class="fecha-clinica-bWu">Fecha Clinica</p>
        <div class="line-4-7VF"></div>
        <p class="progreso-4QV">Progreso</p>
    </div> -->
    <div class="auto-group-du2z-NZb">
        <div class="rectangle-10-pRb"></div>
        <div class="rectangle-4-6P7"></div>
        <div class="line-13-NrR"></div>
        <div class="line-19-6nR"></div>
        <div class="line-14-e3F"></div>
        <div class="line-15-8j7"></div>
        <div class="line-16-U2H"></div>
        <div class="line-18-QAq"></div>
        <div class="line-11-wRf"></div>
        <div class="line-17-ge9"></div>
        <div class="line-12-pkM"></div>
        <div class="rectangle-3-Zxq"></div>
        <a href="/reservarCita" id="reservarcita">
            <div class="rectangle-14-UK7"></div>
            <p class="reservar-cita-buX">Reservar Cita</p>
        </a>
        <div class="line-3-vB7"></div>
        <div class="line-5-fPb"></div>
        <div class="rectangle-15-Bsj"></div>
        <p class="selecciona-el-servicio--isf">
            Selecciona el servicio:
            <br />

            <br />
        </p>
        <p class="id--RGH">ID:</p>
        <p class="nombre--8Ah">Nombre:</p>
        <p class="valor-pagado--q57">Valor Pagado:</p>
        <p class="monto--jRP">Monto:</p>
        <p class="desc-CZs">% Desc</p>
        <p class="selecciona-el-mtodo-de-pago--uz5">
            Selecciona el método de pago:
            <br />

            <br />
        </p>
        <p class="selecciona-fecha-y-hora-de-la-cita--oJm">
            Selecciona fecha y hora de la cita:
            <br />

            <br />
        </p>
        <p class="rehabilitacin-oral-u6u">Rehabilitación Oral</p>
        <p class="dr-sebastin-torres-m-ze9">Dr. Sebastián Torres M.</p>
        <p class="item-22-6hB">22</p>
        <p class="aos-Ah3">Años</p>
        <p class="dentista-general-ortondocista-rJy">
            Dentista General &amp;
            <br />
            Ortondocista
        </p>
        <p class="item-300-mB3">$300</p>
        <p class="item-200-GtV">$200</p>
        <p class="item-200-PiD">$200</p>
        <p class="item-0-6sX">0</p>
        <p class="master-2WH">Master</p>
        <p class="visa-8pD">Visa</p>
        <p class="amex-ph3">Amex</p>
        <p class="mastercard-8xd">Mastercard</p>
        <p class="item-13-r7w">13</p>
        <p class="item-14-YmT">14</p>
        <p class="item-15-fbB">15</p>
        <p class="item-16-PXB">16</p>
        <p class="item-1-7TB">1</p>
        <p class="h-duracin-1Hf">H duración</p>
    </div>
</div>
{% endblock %}