{% extends "layout.html" %}

{% block body %}
<div class="vistapaciente-akV">
    <div class="head-hq7">
        <div class="auto-group-xzwd-dyf">
            <p class="luxurtooth-BEV">LUXURTOOTH</p>
            <img class="rectangle-4-UzH" src="./assets/rectangle-4-4gD.png" />
            <div class="auto-group-ufpt-ZF3">
                <img class="icon-search-ZPT" src="./assets/icon-search-XVX.png" />
            </div>
            <img class="user-GHs" src="./assets/user-VvM.png" />
            <p class="pac-juan-b-Bfj">Pac. Juan B</p>
            <img class="polygon-1-gsP" src="./assets/polygon-1-Lqs.png" />
        </div>
        <div class="auto-group-v9jj-dnd">
            <img class="auto-group-mdeu-ksF" src="./assets/auto-group-mdeu.png" />
            <div class="auto-group-egsy-uVF">
                <div class="auto-group-5akf-bss">
                    <p class="juan-camilo-barrios-jUH">Juan Camilo Barrios</p>
                    <p class="item-101073840-wim">101073840</p>
                    <p class="aos-Tx1">
                        18 años
                        <br />

                    </p>
                </div>
                <div class="line-1-bYR">
                </div>
                <img class="bell-vKo" src="./assets/bell.png" />
                <p class="notificaciones-eFo">Notificaciones</p>
                <div class="line-2-mbK">
                </div>
                <img class="fire-Woo" src="./assets/fire-66q.png" />
                <p class="advertencias-FWV">Advertencias</p>
            </div>
        </div>
    </div>
    <div class="auto-group-frrs-nFX">
        <p class="datos-personales-GRb">Datos Personales</p>
        <div class="line-3-BHf">
        </div>
        <p class="fecha-clinica-W53">Fecha Clinica</p>
        <div class="line-4-RC1">
        </div>
        <p class="progreso-YnR">Progreso</p>
    </div>
    <div class="auto-group-3bgy-Sso">
        <div class="rectangle-10-aDK">
        </div>
        <p class="canino-hHw">Canino</p>
        <p class="tipo-diente--CVb">Tipo Diente:</p>
        <p class="zona-ubicacion--uuo">Zona Ubicacion:</p>
        <p class="id--Rt9">Id:</p>
        <p class="observaciones--KTj">Observaciones:</p>
        <p class="maxilar-superior-SHT">Maxilar Superior</p>
        <p class="item-0110-YrH">#0110</p>
        <p class="el-diente-ha-mejoradoconsiderablemente-Fkh">
            El diente ha mejorado
            <br />
            considerablemente
        </p>
        <div class="rectangle-11-kSZ">
        </div>
        <div class="rectangle-12-4TF">
        </div>
        <div class="rectangle-13-k5B">
        </div>
        <div class="rectangle-6-eRT">
        </div>
        <p class="ver-detalles-Aub">Ver Detalles</p>
        <div class="rectangle-14-tqb">
        </div>
        <a href="reserva.html" class="reservar-cita-pz9">Reservar Cita</a>
    </div>
</div>
{% endblock %}