* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_13 {
  width: 100%;
  height: 100%;
  background: rgba(250,250,250,0.3799999952316284);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_3 {
  width: 100%;
  height: 100%;
  background: rgba(217,240,254,1);
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 421px;
}
.v2_15 {
  width: 911px;
  height: 432px;
  background: url("../images/v2_15.png");
  opacity: 1;
  position: absolute;
  top: 590px;
  left: 32px;
}
.v2_36 {
  width: 1px;
  height: 29px;
  background: url("../images/v2_36.png");
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 471px;
  border: 3px solid rgba(242,249,255,1);
}
.v2_39 {
  width: 0px;
  height: 3px;
  background: url("../images/v2_39.png");
  opacity: 1;
  position: absolute;
  top: 726px;
  left: 474px;
  border: 3px solid rgba(242,249,255,1);
}
.v2_40 {
  width: 1px;
  height: 8px;
  background: url("../images/v2_40.png");
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 470px;
  border: 3px solid rgba(242,249,255,1);
}
.v2_42 {
  width: 344px;
  height: 88px;
  background: rgba(217,240,253,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 22px;
  overflow: hidden;
}
.v2_44 {
  width: 802px;
  height: 88px;
  background: rgba(253,253,253,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 389px;
}
.v2_43 {
  width: 293px;
  color: url("../images/v2_43.png");
  position: absolute;
  top: 44px;
  left: 48px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v2_46 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 440px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_47 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 463px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_48 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 169px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_49 {
  width: 231px;
  height: 88px;
  background: linear-gradient(rgba(48,89,109,1), rgba(197,200,32,1));
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 55px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2_59 {
  width: 307px;
  height: 88px;
  background: linear-gradient(rgba(48,89,109,1), rgba(197,200,32,1));
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 301px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2_52 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 744px;
  left: 269px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_50 {
  width: 102px;
  color: rgba(253,253,253,1);
  position: absolute;
  top: 56px;
  left: 120px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_53 {
  width: 518px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 330px;
  left: 310px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v2_54 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 507px;
  left: 314px;
  font-family: Hammersmith One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
