
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.agenda-2kd {
  padding: 2.7rem 2.2rem 3rem 2.4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);

  .head-LFX {
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 2rem 0.4rem 0rem;

    .auto-group-6hqx-pwP {
      flex-shrink: 0;
      margin-right: 3.1333rem;
      width: 112.6rem;
      height: 100%;

      .auto-group-kvwb-MgR {
        margin: 0rem 3.6rem 1.2rem 0rem;
        width: calc(100% - 3.6rem);
        height: 5.3rem;
        display: flex;
        align-items: center;

        .auto-group-kw2u-fx1 {
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .luxurtooth-zjP {
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
          }
          .rectangle-4-tZs {
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-cqhs-dGZ {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 59.4rem 1.552rem 1.9rem;

          .icon-search-YuK {
            width: 2.5rem;
            height: 2.249rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.099rem 1.6rem 0rem 0rem;
          }
          .buscar-fecha-fj3 {
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0476rem;
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-yqhb-mGH {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-eubf-CMb {
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
        }
        .auto-group-3vs3-jsK {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-6ozd-dSu {
            margin: 0rem 10.5rem 1.3rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .doctor-sebastian-xk5 {
              margin-bottom: 0.8rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.15;
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-100783823-HXT {
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.15;
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
            }
            .aos-cZj {
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.15;
            }
          }
          .line-1-x7o {
            flex-shrink: 0;
            margin-right: 3.5rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
          }
          .bell-gJh {
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
          }
          .notificaciones-pA1 {
            flex-shrink: 0;
            margin: 0rem 9.8rem 7.4rem 0rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-2-k3f {
            margin-right: 3.25rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .fire-55w {
            flex-shrink: 0;
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
          }
          .advertencias-ba5 {
            font-weight: 400;
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7.4rem;
            font-size: 3.2rem;
          }
        }
      }
    }
    .user-Xid {
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
    }
    .doc-sebas-rF7 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 3.1rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: #ffffff;
      font-family: Tinos, 'Source Sans Pro';
    }
    .polygon-1-mcy {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 2rem;
    }
  }
  .auto-group-hf5f-i2R {
    background-position: center;
    background-image: url('REPLACE_IMAGE:117:610');
    margin-bottom: 2.9rem;
    width: 100%;
    height: 6.8rem;
    display: flex;
    background-repeat: no-repeat;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.1rem 25.4rem 0.1rem 21.7rem;
    align-items: center;
    background-size: cover;

    .agenda-1nD {
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.7rem 18.9rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
      color: #010b1f;
    }
    .line-3-veH {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .odontograma-rnq {
      margin: 0.7rem 10.5rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .line-4-muo {
      margin-right: 4.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .historial-clinico-7yf {
      flex-shrink: 0;
      margin-top: 0.7rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-bxnh-RjT {
    margin: 0 2.7rem;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1.1rem 0rem 1.2rem 0.3rem;
    width: calc(100% - 5.4rem);
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 2.5rem;
    flex-shrink: 0;

    .auto-group-5g8m-99f {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 112.1rem 5.1rem 0rem;
      display: flex;

      .diario-USq {
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #010b1f;
      }
      .line-12-c3F {
        flex-shrink: 0;
        margin: 0.1rem 0.7rem 0rem 0rem;
        width: 0.2rem;
        height: 3rem;
        background-color: rgba(1, 11, 31, 0.3000000119);
      }
      .semanal-8XP {
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.15;
        color: #010b1f;
      }
    }
    .auto-group-qdnv-fXK {
      position: relative;
      border-top: solid 0.2rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 100%;
      height: 47.2rem;

      .line-22-Muw {
        height: 0.2rem;
        position: absolute;
        left: 0.0001rem;
        top: 46.9rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.6998rem;
      }
      .line-13-5qw {
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 6.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-14-2FP {
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 11.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-15-mTs {
        position: absolute;
        left: 0;
        top: 16.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
      }
      .line-16-iP7 {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 21.3rem;
      }
      .line-17-G9j {
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 26.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-18-1d7 {
        left: 0;
        top: 31.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-19-Z8q {
        top: 36.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
      }
      .line-20-VYH {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 41.3rem;
      }
      .line-7-Rwj {
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 91.5rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-24-yTT {
        position: absolute;
        left: 106.5rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
      }
      .line-25-WTP {
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 122.5rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-8-FA5 {
        height: 47rem;
        position: absolute;
        left: 75.2rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
      }
      .line-9-ZwT {
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 60rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-10-h25 {
        width: 0.2rem;
        height: 47rem;
        position: absolute;
        left: 44.3rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-11-q8H {
        left: 29rem;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
        position: absolute;
      }
      .line-23-yVP {
        position: absolute;
        left: 13.7rem;
        top: 0.2rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 47rem;
      }
      .daniel-l-7bb {
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
        white-space: nowrap;
        width: 8.5rem;
        left: 30.2rem;
        top: 12.5rem;
      }
      .juan-b-EAR {
        top: 27.5rem;
        font-weight: 400;
        line-height: 1.15;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.8rem;
        position: absolute;
        font-size: 2.4rem;
        width: 6.7rem;
        left: 62.2rem;
      }
      .bryan-c-8mb {
        white-space: nowrap;
        width: 8.1rem;
        height: 2.8rem;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        font-weight: 400;
        color: #010b1f;
        position: absolute;
        left: 61.5rem;
        top: 12.5rem;
        font-size: 2.4rem;
      }
      .polygon-2-rhb {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 71.6rem;
        top: 13rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-3-PxR {
        top: 13rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 40.6rem;
      }
      .polygon-4-Lcm {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 71.3rem;
        top: 28rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-5-669 {
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 55.8rem;
        top: 43rem;
        object-fit: contain;
      }
      .polygon-6-Ru7 {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 118.6rem;
        top: 23rem;
        object-fit: contain;
        vertical-align: top;
      }
      .sara-b-yQq {
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.5rem;
        height: 2.8rem;
        left: 47rem;
        font-size: 2.4rem;
        font-weight: 400;
        position: absolute;
        top: 42.5rem;
        color: #010b1f;
      }
      .william-i-Vty {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        width: 9.2rem;
        position: absolute;
        left: 107.6rem;
        top: 22.4rem;
        height: 2.8rem;
        color: #010b1f;
        white-space: nowrap;
      }
      .lunes-vUV {
        white-space: nowrap;
        height: 2.8rem;
        position: absolute;
        top: 2.1rem;
        font-weight: 700;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        width: 6.3rem;
        left: 18.3rem;
        font-size: 2.4rem;
        color: #010b1f;
      }
      .martes-dth {
        line-height: 1.15;
        white-space: nowrap;
        height: 2.8rem;
        position: absolute;
        left: 33rem;
        font-size: 2.4rem;
        font-family: Tinos, 'Source Sans Pro';
        width: 7.4rem;
        top: 2.1rem;
        font-weight: 700;
        color: #010b1f;
      }
      .miercoles-Z1f {
        top: 2.2rem;
        line-height: 1.15;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 2.8rem;
        left: 47.5rem;
        font-size: 2.4rem;
        font-weight: 700;
        width: 10rem;
      }
      .jueves-gMB {
        width: 6.8rem;
        height: 2.8rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.15;
        white-space: nowrap;
        left: 63.3rem;
        top: 2.2rem;
        font-weight: 700;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
      }
      .viernes-oRo {
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        width: 7.8rem;
        height: 2.8rem;
        left: 79.1rem;
        top: 2.1rem;
        line-height: 1.15;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .sabado-vWR {
        height: 2.8rem;
        position: absolute;
        top: 2.2rem;
        font-weight: 700;
        line-height: 1.15;
        width: 7.7rem;
        left: 95.4rem;
        font-size: 2.4rem;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
      }
      .domingo-qdP {
        left: 109.8rem;
        top: 2.2rem;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.15;
        white-space: nowrap;
        width: 9.4rem;
      }
      .hora-ZJV {
        position: absolute;
        left: 3.8rem;
        top: 2.1rem;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #010b1f;
        white-space: nowrap;
        width: 5.4rem;
      }
      .item-8-00-spy {
        left: 3.9rem;
        font-weight: 700;
        white-space: nowrap;
        top: 6.9rem;
        font-size: 2.4rem;
        line-height: 1.15;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        width: 4.4rem;
        height: 2.8rem;
        position: absolute;
      }
      .item-9-00-yt1 {
        position: absolute;
        left: 3.9rem;
        font-size: 2.4rem;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        width: 4.4rem;
        height: 2.8rem;
        top: 12.5rem;
        font-weight: 700;
        color: #010b1f;
        white-space: nowrap;
      }
      .item-10-00-uFs {
        left: 3.4rem;
        font-size: 2.4rem;
        line-height: 1.15;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        position: absolute;
        font-weight: 700;
        white-space: nowrap;
        width: 5.6rem;
        top: 17.6rem;
      }
      .item-11-00-cg5 {
        white-space: nowrap;
        width: 5.5rem;
        height: 2.8rem;
        left: 3.4rem;
        line-height: 1.15;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        position: absolute;
        top: 22.4rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .item-12-00-iz1 {
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-weight: 700;
        line-height: 1.15;
        color: #010b1f;
        font-size: 2.4rem;
        width: 5.6rem;
        height: 2.8rem;
        left: 3.4rem;
        top: 27.5rem;
      }
      .item-13-00-3Fb {
        color: #010b1f;
        width: 5.6rem;
        position: absolute;
        left: 3.4rem;
        top: 32.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.15;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        white-space: nowrap;
      }
      .item-14-00-kQu {
        font-weight: 700;
        color: #010b1f;
        font-family: Tinos, 'Source Sans Pro';
        height: 2.8rem;
        left: 3.4rem;
        top: 37.5rem;
        font-size: 2.4rem;
        line-height: 1.15;
        white-space: nowrap;
        width: 5.6rem;
        position: absolute;
      }
      .item-15-00-4gV {
        top: 42.4rem;
        font-size: 2.4rem;
        color: #010b1f;
        width: 5.6rem;
        position: absolute;
        left: 3.4rem;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.8rem;
        font-weight: 700;
        line-height: 1.15;
      }
    }
    .auto-group-yq8d-9hw {
      margin: 0rem 1.6rem 0rem 104.7rem;
      width: calc(100% - 106.3rem);
      height: 5.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qjwb-55o {
        white-space: nowrap;
        flex-shrink: 0;
        border-radius: 4rem;
        justify-content: center;
        width: 13.4rem;
        font-size: 2.4rem;
        font-family: Tinos, 'Source Sans Pro';
        display: flex;
        align-items: center;
        background-color: rgba(217, 217, 217, 0.6999999881);
        margin-right: 0.6rem;
        height: 100%;
        font-weight: 400;
        line-height: 1.15;
        color: #010b1f;
      }
      .auto-group-k72d-Yk5 {
        background-color: rgba(217, 217, 217, 0.6999999881);
        flex-shrink: 0;
        width: 13.4rem;
        font-size: 2.4rem;
        font-family: Tinos, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        border-radius: 4rem;
        height: 100%;
        font-weight: 400;
        justify-content: center;
        line-height: 1.15;
        color: #010b1f;
      }
    }
  }
}
