
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historialclinico-tpV {
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.7rem 2.2rem 4.2rem 2.4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: flex-end;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;

  .head-y5F {
    margin: 0rem 2.4rem 0.4rem 0rem;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-gqff-gEZ {
      margin-right: 2.7333rem;
      width: 113rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-h1mf-bsK {
        height: 5.3rem;
        display: flex;
        align-items: center;
        margin: 0rem 4rem 1.2rem 0rem;
        width: calc(100% - 4rem);

        .auto-group-4sbf-ih3 {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;
          display: flex;

          .luxurtooth-f6V {
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-4-AJ9 {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-vk1f-tzq {
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 59.2rem 1.3rem 1.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.6999999881);

          .icon-search-pNh {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.6rem 0.154rem 0rem;
            width: 2.5rem;
            height: 2.249rem;
          }
          .buscar-fecha-KqF {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-9x7k-ESR {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-tcjf-N2q {
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-as7o-HvV {
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-xyo7-cC5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 9.7rem 1.5rem 0rem;
            height: calc(100% - 2rem);
            row-gap: 0.4rem;

            .doctor-sebastian-8RK {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-100783823-fRF {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
            .aos-bZo {
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
            }
          }
          .line-1-jg1 {
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
            margin-right: 3.5rem;
          }
          .bell-U7o {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
            height: 3rem;
          }
          .notificaciones-by7 {
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.4rem 7rem 0rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
          }
          .line-2-Ku7 {
            margin-right: 3.25rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .fire-4rh {
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .advertencias-Pty {
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
          }
        }
      }
    }
    .user-vtu {
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .doc-sebas-TP3 {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 2.9rem 0rem 0rem;
    }
    .polygon-1-MzD {
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-9hpt-V4q {
    margin-bottom: 2.9rem;
    height: 6.8rem;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:117:833');
    box-sizing: border-box;
    padding: 0.1rem 25.9rem 0.1rem 21.7rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;

    .agenda-a6H {
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 18.8rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .line-3-gf7 {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .odontograma-pFX {
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 9.4rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .line-4-Xfj {
      margin-right: 4.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .historial-clinico-g2q {
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
  .auto-group-s9iv-NwF {
    flex-shrink: 0;
    margin: 0rem 2.5rem 2.8rem 2.6rem;
    width: calc(100% - 5.1rem);
    height: 37.9rem;
    border-right: solid 0.2rem #000000;
    box-sizing: border-box;

    .auto-group-cmv7-uAV {
      height: 100%;
      position: relative;
      width: 134.1rem;

      .rectangle-11-zhj {
        top: 0;
        background-color: #ffffff;
        border-radius: 2.5rem;
        width: 134rem;
        height: 37.9rem;
        position: absolute;
        left: 0.1rem;
      }
      .line-6-8J9 {
        position: absolute;
        left: 0.4rem;
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
      }
      .line-21-FtZ {
        left: 0.4rem;
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-13-CYu {
        top: 15.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
      }
      .line-14-wWV {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 20.6rem;
      }
      .line-15-Gof {
        left: 0.4rem;
        top: 25.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
      }
      .line-16-pKP {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 30.6rem;
      }
      .line-17-ZXs {
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 35.6rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 133.7rem;
      }
      .line-7-u5w {
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 103.1rem;
        top: 9.5rem;
      }
      .line-24-3C9 {
        height: 26.5rem;
        position: absolute;
        left: 124.1rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
      }
      .line-8-BZF {
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 86.8rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-9-X7K {
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
        left: 68.6rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-10-TWm {
        height: 26.5rem;
        position: absolute;
        left: 44.7rem;
        top: 9.5rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
      }
      .line-11-zWh {
        left: 29.4rem;
        top: 9.3rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
        position: absolute;
      }
      .line-23-wB3 {
        position: absolute;
        left: 13.75rem;
        top: 9.3031rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.2rem;
        height: 26.5rem;
      }
      .introduce-id-paciente--Gj7 {
        top: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #010b1f;
        width: 22.6rem;
        height: 3.1rem;
        left: 1.7rem;
        white-space: nowrap;
        position: absolute;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .item-129038-mvm {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 28.7rem;
        line-height: 1.2575;
        font-size: 2.4rem;
        font-weight: 400;
        width: 7.2rem;
        height: 3.1rem;
        top: 2.1rem;
      }
      .item-129038-tEh {
        white-space: nowrap;
        left: 17.1rem;
        top: 16.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #010b1f;
        width: 7.2rem;
        height: 3.1rem;
        position: absolute;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .item-129038-Ai1 {
        font-family: Tahoma, 'Source Sans Pro';
        position: absolute;
        left: 17.1rem;
        top: 16.2rem;
        line-height: 1.2575;
        color: #010b1f;
        white-space: nowrap;
        width: 7.2rem;
        height: 3.1rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .item-12-04-2023-s6d {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 16.5rem;
        left: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        width: 11.3rem;
        height: 3.1rem;
      }
      .item-129038-ALd {
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 17.1rem;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        width: 7.2rem;
        height: 3.1rem;
        top: 21.8rem;
      }
      .item-129038-4gu {
        top: 31.7rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        font-size: 2.4rem;
        width: 7.2rem;
        left: 17.1rem;
      }
      .item-129038-Zdf {
        position: absolute;
        top: 26.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.2rem;
        height: 3.1rem;
        left: 17.1rem;
        line-height: 1.2575;
        color: #010b1f;
      }
      .id-paciente-FmP {
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.8rem;
        font-size: 2.4rem;
        color: #010b1f;
        top: 10.1rem;
        font-weight: 700;
        line-height: 1.2575;
        height: 3.1rem;
        position: absolute;
        left: 14.5rem;
      }
      .nombre-ANZ {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        left: 29.7rem;
        top: 10.1rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        width: 8.6rem;
        position: absolute;
        font-weight: 700;
        white-space: nowrap;
      }
      .servicio-GgV {
        white-space: nowrap;
        top: 10.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.6rem;
        height: 3.1rem;
        position: absolute;
        left: 45.2rem;
      }
      .estado-NzR {
        position: absolute;
        left: 70.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #010b1f;
        width: 7.2rem;
        height: 3.1rem;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        top: 10.1rem;
      }
      .diente-Hbb {
        top: 10.1rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 7rem;
        left: 87.7rem;
        font-size: 2.4rem;
        height: 3.1rem;
        position: absolute;
      }
      .zona-zW1 {
        position: absolute;
        left: 103.7rem;
        top: 10.1rem;
        white-space: nowrap;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 5.3rem;
        height: 3.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
      }
      .hora-6ow {
        font-size: 2.4rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2575;
        width: 5.2rem;
        height: 3.1rem;
        position: absolute;
        left: 124.7rem;
        top: 10.1rem;
        font-weight: 700;
      }
      .fecha-1R7 {
        left: 4.3rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.3rem;
        height: 3.1rem;
        position: absolute;
        top: 10.1rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .item-30-04-2023-vHB {
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        left: 0.6rem;
        font-size: 2.4rem;
        position: absolute;
        top: 21.8rem;
        font-weight: 400;
        color: #010b1f;
        width: 11.3rem;
        height: 3.1rem;
      }
      .item-16-05-2023-orm {
        white-space: nowrap;
        width: 11.3rem;
        position: absolute;
        left: 0.4rem;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        top: 26.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #010b1f;
      }
      .item-1-06-2023-WmB {
        font-size: 2.4rem;
        color: #010b1f;
        width: 10.1rem;
        height: 3.1rem;
        position: absolute;
        left: 1.1rem;
        white-space: nowrap;
        top: 31.7rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .daniel-l-pG5 {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 30.6rem;
        top: 21.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        width: 8.1rem;
        height: 3.1rem;
      }
      .daniel-l-w5o {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.1rem;
        top: 16.5rem;
        line-height: 1.2575;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 30.6rem;
      }
      .item-8-00-riZ {
        height: 3.1rem;
        left: 126.6rem;
        line-height: 1.2575;
        white-space: nowrap;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 4.7rem;
        position: absolute;
        top: 16.5rem;
        font-size: 2.4rem;
      }
      .item-12-00-Zss {
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        top: 21.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        width: 5.9rem;
        position: absolute;
        left: 125.8rem;
      }
      .item-14-00-tQM {
        height: 3.1rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 5.4rem;
        position: absolute;
        left: 125.8rem;
        top: 26.8rem;
        font-size: 2.4rem;
      }
      .item-12-00-oGR {
        height: 3.1rem;
        position: absolute;
        top: 31.8rem;
        font-weight: 400;
        white-space: nowrap;
        font-family: Tahoma, 'Source Sans Pro';
        width: 5.4rem;
        left: 125.8rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
      }
      .revisin-general-v69 {
        width: 16.8rem;
        position: absolute;
        color: #010b1f;
        white-space: nowrap;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        left: 45.9rem;
        top: 16.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .rasapado-nPF {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 10.5rem;
        height: 3.1rem;
        position: absolute;
        left: 45.9rem;
        top: 21.8rem;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2575;
        white-space: nowrap;
      }
      .alisado-radicular-4rZ {
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        width: 17.4rem;
        height: 3.1rem;
        left: 45.9rem;
        top: 26.9rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        position: absolute;
        font-weight: 400;
        color: #010b1f;
      }
      .rehabilitacin-oral-97K {
        left: 45.9rem;
        top: 31.7rem;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 19.2rem;
        height: 3.1rem;
        position: absolute;
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.2575;
      }
      .pendiente-cWh {
        width: 10.2rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        height: 3.1rem;
        left: 71.8rem;
        top: 31.8rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
      }
      .finalizado-XXB {
        width: 10.4rem;
        position: absolute;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2575;
        color: #010b1f;
        height: 3.1rem;
        left: 71.8rem;
        top: 26.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .finalizado-daD {
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        top: 21.8rem;
        height: 3.1rem;
        position: absolute;
        left: 71.8rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 10.4rem;
      }
      .finalizado-kPw {
        width: 10.4rem;
        height: 3.1rem;
        left: 71.8rem;
        font-weight: 400;
        position: absolute;
        top: 16.5rem;
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
      }
      .canino-sDf {
        line-height: 1.2575;
        color: #010b1f;
        width: 7.1rem;
        position: absolute;
        font-weight: 400;
        font-size: 2.4rem;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        left: 88.8rem;
        top: 16.5rem;
      }
      .canino-C13 {
        top: 21.8rem;
        font-size: 2.4rem;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 88.8rem;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 7.1rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .canino-7th {
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
        height: 3.1rem;
        position: absolute;
        left: 88.8rem;
        top: 26.8rem;
        font-weight: 400;
        width: 7.1rem;
        font-size: 2.4rem;
        color: #010b1f;
        white-space: nowrap;
      }
      .canino-ds3 {
        line-height: 1.2575;
        color: #010b1f;
        white-space: nowrap;
        width: 7.1rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        height: 3.1rem;
        left: 88.8rem;
        top: 31.8rem;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .maxilar-superior-ZVo {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        left: 104.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2575;
        width: 16.5rem;
        height: 3.1rem;
        position: absolute;
        top: 31.8rem;
      }
      .maxilar-superior-gKX {
        position: absolute;
        font-weight: 400;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2575;
        width: 16.5rem;
        height: 3.1rem;
        left: 104.8rem;
        top: 26.8rem;
        font-size: 2.4rem;
      }
      .maxilar-superior-QFX {
        width: 16.5rem;
        height: 3.1rem;
        position: absolute;
        font-size: 2.4rem;
        color: #010b1f;
        white-space: nowrap;
        left: 104.8rem;
        top: 21.8rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Tahoma, 'Source Sans Pro';
      }
      .maxilar-superior-7fj {
        font-size: 2.4rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        top: 16.5rem;
        width: 16.5rem;
        left: 104.8rem;
        font-weight: 400;
      }
      .daniel-l-33b {
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.1rem;
        height: 3.1rem;
        position: absolute;
        font-weight: 400;
        white-space: nowrap;
        left: 30.6rem;
        top: 26.9rem;
        font-size: 2.4rem;
        line-height: 1.2575;
      }
      .daniel-l-wuf {
        top: 31.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 30.6rem;
        line-height: 1.2575;
        color: #010b1f;
        font-family: Tahoma, 'Source Sans Pro';
        width: 8.1rem;
      }
      .rectangle-17-4zH {
        width: 134.1rem;
        height: 4.9rem;
        position: absolute;
        left: 0;
        top: 20.7rem;
        background-color: rgba(1, 11, 31, 0.3000000119);
      }
    }
  }
  .auto-group-encv-Nk5 {
    margin: 0rem 2.7rem 0.9rem 2.7rem;
    width: calc(100% - 5.4rem);
    height: 17rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-16-sgq {
      width: 134rem;
      height: 16.9rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      border-radius: 2.5rem;
    }
    .line-26-DEu {
      top: 0;
      background-color: rgba(0, 0, 0, 0.3000000119);
      width: 0.2rem;
      height: 17rem;
      position: absolute;
      left: 68.5rem;
    }
    .observacion--wRo {
      left: 3rem;
      top: 2.5rem;
      font-size: 2.4rem;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.1rem;
      position: absolute;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      width: 14rem;
      font-weight: 700;
    }
    .tratamineto--FBb {
      font-weight: 700;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.1rem;
      position: absolute;
      left: 74.4rem;
      top: 2.5rem;
      font-size: 2.4rem;
      width: 13.8rem;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .exceso-de-sarro-y-bacterias-en-el-canino-superior-progreso-de-bajo-riesgo-debido-a-daos-nicamente-superficiales-x61 {
      position: absolute;
      left: 3rem;
      font-family: Tahoma, 'Source Sans Pro';
      width: 49rem;
      height: 9.1rem;
      top: 5.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
    }
    .el-alisado-radicular-suaviza-la-superficie-de-las-races-yayudar-a-prevenir-que-se-siga-acumulando-sarro-dental-y-bacterias-DGq {
      position: absolute;
      top: 5.7rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      height: 9.1rem;
      left: 74.4rem;
      font-size: 2.4rem;
      width: 53.8rem;
    }
  }
  .auto-group-pfbb-rah {
    margin: 0rem 4.3rem 0rem 107.7rem;
    width: calc(100% - 112rem);
    height: 5.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-qq3p-NJ9 {
      color: #010b1f;
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
      line-height: 1.2575;
      height: 100%;
      font-family: Tahoma, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      width: 13.4rem;
      font-weight: 400;
      background-color: rgba(217, 217, 217, 0.6999999881);
      font-size: 2.4rem;
      border-radius: 4rem;
      margin-right: 0.6rem;
    }
    .auto-group-qxah-rDK {
      justify-content: center;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      background-color: rgba(217, 217, 217, 0.6999999881);
      width: 13.4rem;
      font-size: 2.4rem;
      color: #010b1f;
      flex-shrink: 0;
      font-weight: 400;
      height: 100%;
      line-height: 1.2575;
      border-radius: 4rem;
    }
  }
}
