
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.reserva-99F {
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;

  .head-2yj {
    flex-shrink: 0;
    margin: 0rem 2rem 0.4rem 0rem;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;

    .auto-group-5bqo-xMb {
      margin-right: 2.7333rem;
      width: 113rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-d18q-V6d {
        align-items: center;
        margin: 0rem 4rem 1.2rem 0rem;
        width: calc(100% - 4rem);
        height: 5.3rem;
        display: flex;

        .auto-group-qswj-atm {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;

          .luxurtooth-Jpm {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
          }
          .rectangle-4-Cv9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
          }
        }
        .auto-group-1jkj-YDK {
          box-sizing: border-box;
          padding: 1.499rem 1.9rem 1.552rem 1.9rem;
          width: 76.3rem;
          height: 100%;
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 4rem;
          flex-shrink: 0;

          .icon-search-TLH {
            width: 2.5rem;
            height: 2.2491rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-yabf-kqB {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-jrym-hEd {
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ytez-EkM {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;

          .auto-group-3od7-ZGq {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 5.5rem 1.5rem 0rem;
            height: calc(100% - 2rem);
            row-gap: 0.4rem;

            .juan-camilo-barrios-fqf {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-101073840-nvH {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .aos-iZ3 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
          }
          .line-1-Szq {
            flex-shrink: 0;
            margin-right: 3.5rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
          }
          .bell-NtV {
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .notificaciones-Jn9 {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.4rem 7rem 0rem;
          }
          .line-2-2TF {
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
            margin-right: 3.25rem;
          }
          .fire-m9w {
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .advertencias-5gR {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
          }
        }
      }
    }
    .user-p8D {
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
    }
    .pac-juan-b-k1s {
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 2.3rem 0rem 0rem;
      font-size: 2.4rem;
    }
    .polygon-1-FzD {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }
  .auto-group-dzdj-QMK {
    background-position: center;
    background-image: url('REPLACE_IMAGE:112:273');
    flex-shrink: 0;
    box-sizing: border-box;
    height: 6.8rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2.4rem;
    padding: 0.1rem 34.9rem 0.1rem 21.7rem;
    width: 100%;
    align-items: center;

    .datos-personales-u3B {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 6rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .line-3-pA9 {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .fecha-clinica-MQy {
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 10.5rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
    }
    .line-4-seD {
      margin-right: 4.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .progreso-Rfj {
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
  .auto-group-rc2q-YEZ {
    flex-shrink: 0;
    width: 100%;
    height: 65.7rem;
    position: relative;

    .rectangle-10-dG1 {
      left: 0;
      top: 0.3rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 139.4rem;
      height: 65.4rem;
      position: absolute;
    }
    .rectangle-4-Ytm {
      position: relative;
      left: 0;
      top: 17.1rem;
      background-size: 150.218% 100%;
      background-position: -0.2269rem 0;
      background-image: url('REPLACE_IMAGE:4a9248541bed365c660b4b52d8c3622e67be62e1');
      width: 50.6rem;
      height: 30.3rem;
    }
    .line-13-egu {
      width: 51.8rem;
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
      top: 22.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
    }
    .line-19-Nso {
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
      top: 18.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 51.8rem;
    }
    .line-14-Wz1 {
      width: 51.8rem;
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
      top: 27.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
    }
    .line-15-rny {
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 51.8rem;
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
      top: 32.1rem;
    }
    .line-16-oTK {
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
      top: 37.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 51.8rem;
    }
    .line-18-9GH {
      top: 41.7rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 51.8rem;
      height: 0.2rem;
      position: absolute;
      left: 87.6rem;
    }
    .line-11-V5F {
      height: 23.7rem;
      position: absolute;
      left: 113.7rem;
      top: 18.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 0.2rem;
    }
    .line-17-pNR {
      left: 126.4rem;
      top: 18.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
      width: 0.2rem;
      height: 23.7rem;
      position: absolute;
    }
    .line-12-Zau {
      width: 0.2rem;
      height: 23.7rem;
      position: absolute;
      left: 100.1rem;
      top: 18.1rem;
      background-color: rgba(1, 11, 31, 0.3000000119);
    }
    .rectangle-3-uem {
      background-image: url('REPLACE_IMAGE:1ffcd7867726a28e8d8584ace9d03998dd35eaa2');
      width: 17.1rem;
      height: 14.2rem;
      position: relative;
      left: 59rem;
      top: 1.1rem;
      background-size: 85.43% 128.873%;
      background-position: 1.2957rem -0rem;
    }
    .rectangle-14-PZw {
      height: 5.3rem;
      position: absolute;
      left: 120.3rem;
      top: 59.2rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
      width: 17.6rem;
    }
    .reservar-cita-WeZ {
      top: 60.3rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.2rem;
      height: 3.1rem;
      position: absolute;
      left: 122.1rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #010b1f;
    }
    .line-3-DYy {
      position: absolute;
      left: 50.6rem;
      top: 0.3rem;
      background-color: #010b1f;
      width: 0.1rem;
      height: 65.4rem;
    }
    .line-5-XpZ {
      position: absolute;
      left: 87.6rem;
      top: 0.3rem;
      background-color: #010b1f;
      width: 0.1rem;
      height: 65.4rem;
    }
    .rectangle-15-TiD {
      top: 15.4rem;
      background-color: rgba(255, 255, 255, 0.3000000119);
      width: 36.2rem;
      height: 42.2rem;
      position: absolute;
      left: 51rem;
    }
    .selecciona-el-servicio--anq {
      color: rgba(1, 11, 31, 0.9300000072);
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 31rem;
      height: 4.1rem;
      left: 51.5rem;
      top: 38.1rem;
      font-weight: 700;
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.2575;
    }
    .id--Tbj {
      width: 3rem;
      height: 3.1rem;
      position: absolute;
      line-height: 1.2575;
      color: rgba(1, 11, 31, 0.9300000072);
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      left: 91.6rem;
      top: 18.7rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .nombre--ZPs {
      position: absolute;
      left: 100.9rem;
      top: 18.7rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: rgba(1, 11, 31, 0.9300000072);
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.3rem;
      height: 3.1rem;
    }
    .valor-pagado--ded {
      color: rgba(1, 11, 31, 0.9300000072);
      width: 19.4rem;
      height: 4.1rem;
      left: 89.9rem;
      top: 44.7rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      position: absolute;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .monto--KXT {
      width: 7.5rem;
      height: 3.1rem;
      left: 114.2rem;
      top: 18.7rem;
      white-space: nowrap;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: rgba(1, 11, 31, 0.9300000072);
      font-family: Tahoma, 'Source Sans Pro';
    }
    .desc-Dsj {
      width: 7.5rem;
      color: rgba(1, 11, 31, 0.9300000072);
      top: 18.7rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.1rem;
      position: absolute;
      left: 127.2rem;
      white-space: nowrap;
    }
    .selecciona-el-mtodo-de-pago--7iD {
      left: 97.7rem;
      text-align: center;
      font-weight: 700;
      width: 30.5rem;
      height: 12.1rem;
      font-size: 3.2rem;
      line-height: 1.2575;
      color: rgba(1, 11, 31, 0.9300000072);
      font-family: Tahoma, 'Source Sans Pro';
      position: absolute;
      top: 5.1rem;
    }
    .selecciona-fecha-y-hora-de-la-cita--Cjf {
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Tahoma, 'Source Sans Pro';
      position: absolute;
      left: 12.05rem;
      text-align: center;
      line-height: 1.2575;
      color: rgba(1, 11, 31, 0.9300000072);
      width: 25.8rem;
      height: 12.1rem;
      top: 5.1rem;
    }
    .rehabilitacin-oral-tsP {
      height: 3.6rem;
      top: 43.4rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 22.3rem;
      position: absolute;
      left: 53rem;
      font-size: 2.8rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .dr-sebastin-torres-m-c2h {
      color: #010b1f;
      white-space: nowrap;
      width: 26.5rem;
      height: 3.6rem;
      position: absolute;
      left: 53rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      top: 18.4rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .item-22-7EM {
      left: 53rem;
      top: 23.4rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      width: 2.8rem;
      position: absolute;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      height: 3.6rem;
      font-size: 2.8rem;
    }
    .aos-1qX {
      top: 23.4rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 5.8rem;
      height: 3.6rem;
      left: 57.1rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
    }
    .dentista-general-ortondocista-KbK {
      height: 7.1rem;
      position: absolute;
      left: 53rem;
      font-size: 2.8rem;
      font-weight: 400;
      width: 21.6rem;
      top: 28rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .item-300-R8Z {
      position: absolute;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      top: 48.3rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      width: 5.6rem;
      height: 3.6rem;
      left: 53.3rem;
    }
    .item-200-XBb {
      top: 48.3rem;
      font-size: 3rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 6rem;
      height: 3.8rem;
      font-weight: 400;
      color: #010b1f;
      position: absolute;
      left: 90.3rem;
    }
    .item-200-cyj {
      font-weight: 400;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      width: 5.6rem;
      height: 3.6rem;
      left: 116.3rem;
      color: #010b1f;
      white-space: nowrap;
      position: absolute;
      top: 23.3rem;
      font-size: 2.8rem;
    }
    .item-0-XL1 {
      position: absolute;
      left: 132.2rem;
      font-size: 2.8rem;
      font-weight: 400;
      color: #010b1f;
      white-space: nowrap;
      width: 1.4rem;
      height: 3.6rem;
      top: 23.3rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .master-e9j {
      width: 7.9rem;
      height: 3.6rem;
      position: absolute;
      left: 102.3rem;
      font-size: 2.8rem;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      top: 23.3rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .visa-Mpq {
      left: 102.3rem;
      top: 28.3rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      width: 5.3rem;
      height: 3.6rem;
      position: absolute;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .amex-t45 {
      height: 3.6rem;
      top: 33.2rem;
      font-size: 2.8rem;
      color: #010b1f;
      white-space: nowrap;
      width: 6.5rem;
      position: absolute;
      left: 102.3rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .mastercard-oB3 {
      position: absolute;
      top: 38rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.2rem;
      height: 3.1rem;
      left: 100.8rem;
      font-size: 2.4rem;
    }
    .item-13-i37 {
      font-size: 2.8rem;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.6rem;
      position: absolute;
      top: 23.3rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      width: 2.8rem;
      left: 91.6rem;
    }
    .item-14-p69 {
      font-family: Tahoma, 'Source Sans Pro';
      width: 2.8rem;
      height: 3.6rem;
      position: absolute;
      left: 91.6rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2575;
      top: 28.3rem;
      color: #010b1f;
      white-space: nowrap;
    }
    .item-15-XmF {
      position: absolute;
      top: 33.3rem;
      font-weight: 400;
      color: #010b1f;
      white-space: nowrap;
      width: 2.8rem;
      height: 3.6rem;
      left: 91.6rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .item-16-qmw {
      position: absolute;
      left: 91.6rem;
      top: 38.1rem;
      font-size: 2.8rem;
      font-weight: 400;
      width: 2.8rem;
      height: 3.6rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-1-MkH {
      color: #010b1f;
      white-space: nowrap;
      width: 1.4rem;
      height: 3.6rem;
      position: absolute;
      left: 53.3rem;
      font-family: Tahoma, 'Source Sans Pro';
      top: 52.9rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2575;
    }
    .h-duracin-sTj {
      width: 12.8rem;
      position: absolute;
      left: 55.9rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.6rem;
      top: 52.9rem;
      font-size: 2.8rem;
      color: #010b1f;
      white-space: nowrap;
    }
  }
}
