
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.vistadoctor-Srh {
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;

  .head-9WD {
    margin: 0rem 2rem 0.4rem 0rem;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-2pbk-Gaq {
      flex-shrink: 0;
      margin-right: 3.1333rem;
      width: 112.6rem;
      height: 100%;

      .auto-group-ynz3-c8u {
        height: 5.3rem;
        display: flex;
        align-items: center;
        margin: 0rem 3.6rem 1.2rem 0rem;
        width: calc(100% - 3.6rem);

        .auto-group-kouf-ixd {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;

          .luxurtooth-TvD {
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
          }
          .rectangle-4-ZiM {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-4t1b-5gh {
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 57.4rem 1.552rem 1.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.6999999881);

          .icon-search-oMo {
            margin: 0.099rem 1.6rem 0rem 0rem;
            width: 2.5rem;
            height: 2.249rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .buscar-paciente-7dP {
            margin-bottom: 0.0476rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-dta1-cq3 {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-azx3-kAZ {
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
        }
        .auto-group-3cpu-VP3 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-gwsh-Qku {
            margin: 0rem 6.1rem 1.3rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .juan-camilo-barrios-Ys7 {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.15;
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .item-101073840-UVs {
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.15;
            }
            .aos-baV {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.15;
              color: #ffffff;
              font-family: Tinos, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .line-1-L2H {
            margin-right: 3.5rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .bell-GRj {
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
          }
          .notificaciones-zcd {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.8rem 7.4rem 0rem;
          }
          .line-2-ioX {
            margin-right: 3.25rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .fire-Tm7 {
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
          }
          .advertencias-Pem {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.15;
            color: #ffffff;
            font-family: Tinos, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7.4rem;
          }
        }
      }
    }
    .user-vPo {
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .doc-sebas-T8q {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 3.1rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: #ffffff;
      font-family: Tinos, 'Source Sans Pro';
    }
    .polygon-1-ajF {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;
    }
  }
  .auto-group-3kzx-7jB {
    background-image: url('REPLACE_IMAGE:117:255');
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.4rem;
    padding: 0.1rem 25.4rem 0.1rem 21.7rem;
    height: 6.8rem;
    align-items: center;
    background-repeat: no-repeat;

    .agenda-Rjs {
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.7rem 18.9rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
    }
    .line-3-kXF {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .odontograma-t7f {
      line-height: 1.15;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.7rem 10.5rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .line-4-Ce9 {
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 0.1rem;
    }
    .historial-clinico-YT7 {
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.7rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
      color: #010b1f;
    }
  }
  .auto-group-i1dp-4AZ {
    width: 100%;
    height: 65.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-jGh {
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 31.8rem;
      height: 65.4rem;
    }
    .canino-rMK {
      position: absolute;
      left: 3.2rem;
      top: 24.4rem;
      line-height: 1.15;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.3rem;
      font-size: 2.8rem;
      font-weight: 400;
      color: #010b1f;
      width: 8.1rem;
    }
    .tipo-diente--ZmX {
      width: 16.2rem;
      height: 3.7rem;
      position: absolute;
      font-size: 3.2rem;
      font-weight: 400;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      left: 3.2rem;
      top: 20.4rem;
      line-height: 1.15;
      white-space: nowrap;
    }
    .zona-ubicacion--UtV {
      white-space: nowrap;
      width: 21.5rem;
      height: 3.7rem;
      position: absolute;
      top: 30.4rem;
      color: #010b1f;
      left: 3.2rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.15;
      font-family: Tinos, 'Source Sans Pro';
    }
    .servicio--Q1T {
      width: 11.6rem;
      height: 3.7rem;
      position: absolute;
      top: 40.4rem;
      font-size: 3.2rem;
      line-height: 1.15;
      left: 3.2rem;
      font-weight: 400;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tratamiento-con-empaste-dental-en-la-corona-del-diente-uyo {
      height: 11.1rem;
      position: absolute;
      top: 49.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Tinos, 'Source Sans Pro';
      width: 25.2rem;
      line-height: 1.15;
      color: #010b1f;
      left: 3.2rem;
    }
    .maxilar-superior-1X3 {
      position: absolute;
      left: 3.2rem;
      top: 34.4rem;
      line-height: 1.15;
      white-space: nowrap;
      font-family: Tinos, 'Source Sans Pro';
      width: 19.3rem;
      height: 3.3rem;
      font-size: 2.8rem;
      font-weight: 400;
      color: #010b1f;
    }
    .rehabilitacin-oral-vtu {
      height: 3.3rem;
      position: absolute;
      font-size: 2.8rem;
      white-space: nowrap;
      line-height: 1.15;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      width: 22.1rem;
      left: 3.2rem;
      top: 43.8rem;
      font-weight: 400;
    }
    .rectangle-11-Eub {
      height: 65.1rem;
      position: absolute;
      left: 37.2rem;
      top: 0.6rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 99.8rem;
    }
    .rectangle-12-Zgy {
      width: 92.2rem;
      height: 42.2rem;
      position: relative;
      left: 41.2rem;
      top: 6.6rem;
      background-size: 100% 107.077%;
      background-position: -0rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
    }
    .rectangle-13-eyK {
      width: 6.6rem;
      height: 13rem;
      position: relative;
      left: 14.6rem;
      top: 3.4rem;
      background-size: 1396.97% 347.587%;
      background-position: -34.8rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
    }
    .rectangle-6-Msj {
      border-radius: 4rem;
      width: 28.1rem;
      height: 5.3rem;
      position: absolute;
      left: 56.1rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
    }
    .planes-y-tratamientos-tcm {
      font-size: 2.4rem;
      width: 21.3rem;
      position: absolute;
      top: 55rem;
      font-weight: 400;
      line-height: 1.15;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.8rem;
      left: 59.9rem;
    }
    .rectangle-14-QLD {
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
      width: 23.1rem;
      height: 5.3rem;
      position: absolute;
      left: 89rem;
    }
    .observaciones-LUm {
      height: 2.8rem;
      position: absolute;
      line-height: 1.15;
      white-space: nowrap;
      width: 14.2rem;
      left: 93.5rem;
      top: 55rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #010b1f;
      font-family: Tinos, 'Source Sans Pro';
    }
    .rectangle-15-TJV {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 42.9rem;
      top: 7.5rem;
    }
    .rectangle-16-C1B {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 48.6rem;
      top: 7.5rem;
    }
    .rectangle-17-Kbb {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 54.1rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-18-GFw {
      height: 10.9rem;
      position: absolute;
      left: 59.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-19-C9b {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 65.2rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-20-83F {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 70.6rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-21-4Sh {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 76.6rem;
      top: 7.5rem;
    }
    .rectangle-22-zr9 {
      height: 10.9rem;
      position: absolute;
      left: 82.2rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-23-jYq {
      left: 87.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
    }
    .rectangle-24-UFX {
      position: absolute;
      left: 93.4rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-25-DD7 {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 98.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-26-kTw {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 104.5rem;
      top: 7.5rem;
    }
    .rectangle-27-Him {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 110rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-28-2wF {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 115.8rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-29-n9j {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 121.6rem;
      top: 7.5rem;
    }
    .rectangle-30-7xh {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 127.1rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-31-GKo {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 42.9rem;
    }
    .rectangle-32-Qwo {
      height: 10.9rem;
      position: absolute;
      left: 48.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-33-kkm {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 54.1rem;
    }
    .rectangle-34-VyF {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 59.9rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-35-qXK {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 65.2rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-36-P33 {
      height: 10.9rem;
      position: absolute;
      left: 70.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-37-ir1 {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 76.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-38-Gcd {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 82.2rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-39-1aD {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 87.9rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-40-M8H {
      position: absolute;
      left: 93.4rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-41-ggM {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 98.9rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-42-q3T {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 104.5rem;
    }
    .rectangle-43-NJH {
      left: 110rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
    }
    .rectangle-44-i7F {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 115.8rem;
      top: 36rem;
    }
    .rectangle-45-TKj {
      position: absolute;
      left: 121.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-46-Pz5 {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 127.1rem;
      top: 36rem;
    }
    .ellipse-81-9CZ {
      position: absolute;
      left: 121.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-82-GHB {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 127.3rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-83-Psb {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 121.8rem;
      top: 20.5rem;
    }
    .ellipse-84-LH3 {
      height: 4.1rem;
      position: absolute;
      left: 127.3rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-85-TcZ {
      position: absolute;
      left: 110.4rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-86-PWD {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 116.1rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-87-XMX {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 110.3rem;
      top: 20.5rem;
    }
    .ellipse-88-rub {
      height: 4.1rem;
      position: absolute;
      left: 93.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-89-Bgy {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 99.2rem;
      top: 29.8rem;
    }
    .ellipse-90-Wz9 {
      position: absolute;
      left: 104.6rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-91-rHK {
      position: absolute;
      left: 99.2rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-92-zPX {
      position: absolute;
      left: 104.6rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-93-8Vj {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 49.2rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-94-fkZ {
      height: 4.1rem;
      position: absolute;
      left: 54.9rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-95-CVb {
      height: 4.1rem;
      position: absolute;
      left: 60.3rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-96-8e9 {
      height: 4.1rem;
      position: absolute;
      left: 66rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-97-s5w {
      height: 4.1rem;
      position: absolute;
      left: 71.7rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-98-Ppy {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 77.1rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-99-vK7 {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 82.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-100-SoF {
      height: 4.1rem;
      position: absolute;
      left: 88.3rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-101-yoB {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 93.8rem;
      top: 20.5rem;
    }
    .ellipse-102-ugq {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 43.5rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-103-dsj {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 77.1rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-104-NaR {
      height: 4.1rem;
      position: absolute;
      left: 82.8rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-105-HBb {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 88.3rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-106-pBX {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 71.7rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-107-wmw {
      position: absolute;
      left: 49.2rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-108-U1B {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 54.9rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-109-bLh {
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 60.3rem;
    }
    .ellipse-110-v85 {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 66rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-111-T81 {
      position: absolute;
      left: 43.5rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
  }
}
