
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.vistapaciente-akV {
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .head-hq7 {
    margin: 0rem 2rem 0.4rem 0rem;
    width: 136.6rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .auto-group-xzwd-dyf {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 0.1667rem;

      .luxurtooth-BEV {
        line-height: 1.25;
        color: rgba(217, 217, 217, 0.6999999881);
        font-family: Hammersmith One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.733rem 0rem;
        font-size: 3.5rem;
        font-weight: 400;
      }
      .rectangle-4-UzH {
        margin: 0rem 6rem 1.133rem 0rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-ufpt-ZF3 {
        margin: 0rem 6.733rem 1.033rem 0rem;
        box-sizing: border-box;
        padding: 1.499rem 1.9rem 1.552rem 1.9rem;
        width: 76.3rem;
        background-color: rgba(217, 217, 217, 0.6999999881);
        border-radius: 4rem;
        flex-shrink: 0;

        .icon-search-ZPT {
          width: 2.5rem;
          height: 2.2491rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .user-GHs {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.333rem 1.633rem 0rem 0rem;
        width: 3.3333rem;
        height: 5rem;
      }
      .pac-juan-b-Bfj {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.6rem 0.133rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .polygon-1-gsP {
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.3333rem;
        width: 2rem;
      }
    }
    .auto-group-v9jj-dnd {
      margin: 0rem 15rem 0rem 1.6rem;
      width: calc(100% - 16.6rem);
      height: 15rem;
      display: flex;
      align-items: center;

      .auto-group-mdeu-ksF {
        vertical-align: top;
        flex-shrink: 0;
        width: 15rem;
        height: 15rem;
        position: relative;
        object-fit: contain;
      }
      .auto-group-egsy-uVF {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 0rem 0rem 1.1rem;
        height: 100%;

        .auto-group-5akf-bss {
          margin: 0rem 2.4rem 1.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .juan-camilo-barrios-jUH {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-101073840-wim {
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .aos-Tx1 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .line-1-bYR {
          margin-right: 5.4rem;
          width: 0.1rem;
          height: 12.1rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          flex-shrink: 0;
        }
        .bell-vKo {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.9rem 6.9rem 0rem;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
        .notificaciones-eFo {
          margin: 0rem 4.9rem 7.2rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-2-mbK {
          height: 12.1rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          flex-shrink: 0;
          margin-right: 9.15rem;
          width: 0.1rem;
        }
        .fire-Woo {
          margin: 0rem 2.65rem 6.982rem 0rem;
          width: 2.5rem;
          height: 3.3824rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .advertencias-FWV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 7.4rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-frrs-nFX {
    background-position: center;
    margin: 0rem 2.4rem 2.4rem 2rem;
    display: flex;
    background-size: cover;
    height: 6.8rem;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:106:108');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.1rem 18.2rem 0.1rem 12.5rem;
    width: calc(100% - 4.4rem);

    .datos-personales-GRb {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.9rem 9.7rem 0rem 0rem;
    }
    .line-3-BHf {
      margin-right: 8.9rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .fecha-clinica-W53 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.9rem 7.9rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #010b1f;
    }
    .line-4-RC1 {
      margin-right: 17.4rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .progreso-YnR {
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .auto-group-3bgy-Sso {
    width: 100%;
    height: 65.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-aDK {
      width: 31.8rem;
      height: 65.4rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
    }
    .canino-hHw {
      position: absolute;
      left: 3.2rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      height: 3.4rem;
      white-space: nowrap;
      top: 24.4rem;
      width: 9.3rem;
    }
    .tipo-diente--CVb {
      height: 3.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      color: #010b1f;
      white-space: nowrap;
      width: 18.3rem;
      position: absolute;
      left: 3.2rem;
      top: 20.4rem;
      line-height: 1.2125;
    }
    .zona-ubicacion--uuo {
      position: absolute;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 24.5rem;
      height: 3.9rem;
      color: #010b1f;
      white-space: nowrap;
      left: 3.2rem;
      top: 30.4rem;
    }
    .id--Rt9 {
      width: 3.8rem;
      height: 3.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      position: absolute;
      left: 3.2rem;
      top: 40.4rem;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .observaciones--KTj {
      position: absolute;
      font-size: 3.2rem;
      white-space: nowrap;
      width: 23.5rem;
      left: 3.2rem;
      top: 49.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
    }
    .maxilar-superior-SHT {
      font-weight: 400;
      color: #010b1f;
      height: 3.4rem;
      position: absolute;
      left: 3.2rem;
      font-size: 2.8rem;
      white-space: nowrap;
      width: 21.5rem;
      top: 34.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-0110-YrH {
      position: absolute;
      top: 43.8rem;
      font-size: 2.8rem;
      font-weight: 400;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      width: 7.9rem;
      height: 3.4rem;
      white-space: nowrap;
      left: 3.2rem;
      line-height: 1.2125;
    }
    .el-diente-ha-mejoradoconsiderablemente-Fkh {
      line-height: 1.2125;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      left: 3.2rem;
      top: 53.8rem;
      font-weight: 400;
      font-size: 2.8rem;
      width: 28.7rem;
      height: 6.8rem;
      position: absolute;
    }
    .rectangle-11-kSZ {
      width: 99.8rem;
      height: 65.1rem;
      position: absolute;
      left: 37.2rem;
      top: 0.6rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
    }
    .rectangle-12-4TF {
      top: 6.6rem;
      background-size: 100% 107.077%;
      background-position: -0rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
      width: 92.2rem;
      height: 42.2rem;
      position: relative;
      left: 41.2rem;
    }
    .rectangle-13-k5B {
      top: 3.4rem;
      background-size: 1396.97% 347.587%;
      background-position: -34.8rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
      width: 6.6rem;
      height: 13rem;
      position: relative;
      left: 14.6rem;
    }
    .rectangle-6-eRT {
      width: 17.6rem;
      height: 5.3rem;
      position: absolute;
      left: 63rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
    }
    .ver-detalles-Aub {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 65.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      width: 13.7rem;
      height: 3rem;
      top: 54.7rem;
      color: #010b1f;
    }
    .rectangle-14-tqb {
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
      width: 17.6rem;
      height: 5.3rem;
      position: absolute;
      left: 91rem;
    }
    .reservar-cita-pz9 {
      left: 92.8rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #010b1f;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
      height: 3rem;
      white-space: nowrap;
      position: absolute;
      top: 54.7rem;
    }
  }
}
