
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.vistapaciente-HMX {
  background-color: #ffffff;
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  display: flex;

  .head-P9f {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 2rem 0.4rem 0rem;
    height: 21.5rem;

    .auto-group-17fs-uNu {
      margin-right: 2.7333rem;
      width: 113rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-3jbf-qnM {
        margin: 0rem 4rem 1.2rem 0rem;
        width: calc(100% - 4rem);
        height: 5.3rem;
        display: flex;
        align-items: center;

        .auto-group-oaym-Mkh {
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .luxurtooth-tEq {
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-4-foK {
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-xq5p-zqb {
          width: 76.3rem;
          height: 100%;
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.499rem 1.9rem 1.552rem 1.9rem;

          .icon-search-uSm {
            vertical-align: top;
            width: 2.5rem;
            height: 2.2491rem;
            position: relative;
            object-fit: contain;
          }
        }
      }
      .auto-group-3ue9-oY9 {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;
        display: flex;
        align-items: center;

        .auto-group-rwkw-KmP {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 15rem;
          height: 15rem;
        }
        .auto-group-clpm-sY1 {
          box-sizing: border-box;
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-vfyr-nus {
            height: calc(100% - 2rem);
            row-gap: 0.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 5.5rem 1.5rem 0rem;

            .juan-camilo-barrios-hmw {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
            .item-101073840-2ZK {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
            .aos-ZZF {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
          }
          .line-1-JWq {
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
            margin-right: 3.5rem;
          }
          .bell-2Bw {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
          }
          .notificaciones-wJu {
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.4rem 7rem 0rem;
            font-size: 3.2rem;
          }
          .line-2-To3 {
            margin-right: 3.25rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .fire-nqK {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
          }
          .advertencias-iDB {
            margin-bottom: 7rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .user-S9B {
      flex-shrink: 0;
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .pac-juan-b-kQm {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 2.3rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .polygon-1-5C9 {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 2rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }
  .auto-group-mqth-QVK {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:106:108');
    margin-bottom: 2.4rem;
    box-sizing: border-box;
    height: 6.8rem;
    display: flex;
    flex-shrink: 0;
    padding: 0.1rem 34.9rem 0.1rem 21.7rem;
    width: 100%;
    background-repeat: no-repeat;

    .datos-personales-hjK {
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 6rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .line-3-Qtd {
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
    }
    .fecha-clinica-9LR {
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 10.5rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
    }
    .line-4-UNh {
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
      flex-shrink: 0;
      margin-right: 4.8rem;
    }
    .progreso-R33 {
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.1rem;
      font-size: 3.2rem;
    }
  }
  .auto-group-ocny-X65 {
    width: 100%;
    height: 65.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-Fnm {
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 31.8rem;
      height: 65.4rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
    }
    .canino-n21 {
      height: 3.6rem;
      position: absolute;
      font-size: 2.8rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 8.3rem;
      left: 3.2rem;
      top: 24.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .tipo-diente--UvR {
      position: absolute;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 16.2rem;
      height: 4.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      left: 3.2rem;
      top: 20.4rem;
    }
    .zona-ubicacion--zNy {
      width: 21.6rem;
      height: 4.1rem;
      font-size: 3.2rem;
      color: #010b1f;
      white-space: nowrap;
      font-family: Tahoma, 'Source Sans Pro';
      position: absolute;
      left: 3.2rem;
      top: 30.4rem;
      font-weight: 400;
      line-height: 1.2575;
    }
    .id--VKj {
      position: absolute;
      left: 3.2rem;
      font-size: 3.2rem;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      height: 4.1rem;
      top: 40.4rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      width: 3.5rem;
    }
    .observaciones--13B {
      color: #010b1f;
      width: 20.6rem;
      height: 4.1rem;
      font-size: 3.2rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 3.2rem;
      top: 49.4rem;
      font-weight: 400;
    }
    .maxilar-superior-iTP {
      left: 3.2rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      width: 19.2rem;
      height: 3.6rem;
      color: #010b1f;
      white-space: nowrap;
      position: absolute;
      top: 34.4rem;
    }
    .item-0110-zfo {
      height: 3.6rem;
      top: 43.8rem;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 7rem;
      position: absolute;
      left: 3.2rem;
      font-size: 2.8rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .el-diente-ha-mejoradoconsiderablemente-6iq {
      font-size: 2.8rem;
      left: 3.2rem;
      height: 7.1rem;
      position: absolute;
      top: 53.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      width: 25.6rem;
    }
    .rectangle-11-C1B {
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 99.8rem;
      height: 65.1rem;
      position: absolute;
      left: 37.2rem;
      top: 0.6rem;
    }
    .rectangle-12-K5o {
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
      width: 92.2rem;
      height: 42.2rem;
      position: relative;
      left: 41.2rem;
      top: 6.6rem;
      background-size: 100% 107.077%;
      background-position: -0rem -1.4932rem;
    }
    .rectangle-13-nVB {
      top: 3.4rem;
      background-size: 1396.97% 347.587%;
      background-position: -34.8rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
      width: 6.6rem;
      height: 13rem;
      position: relative;
      left: 14.6rem;
    }
    .rectangle-6-Ucu {
      width: 17.6rem;
      height: 5.3rem;
      position: absolute;
      left: 63rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
    }
    .ver-detalles-zr9 {
      top: 54.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      height: 3.1rem;
      position: absolute;
      left: 65.5rem;
      white-space: nowrap;
      width: 11.8rem;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .rectangle-14-s9F {
      width: 17.6rem;
      height: 5.3rem;
      position: absolute;
      left: 91rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
    }
    .reservar-cita-kD3 {
      width: 13.2rem;
      position: absolute;
      left: 92.8rem;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      top: 54.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
}
