
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.vistadoctor-PHX {
  padding: 2.7rem 2.2rem 2.9rem 2.4rem;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(90deg, #26283e -0%, #464766 8.65%, #010b1f 100%);
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .head-gGd {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 2rem 0.4rem 0rem;
    height: 21.5rem;
    overflow: hidden;

    .auto-group-8am3-aso {
      height: 100%;
      flex-shrink: 0;
      margin-right: 2.7333rem;
      width: 113rem;

      .auto-group-dyjv-KaV {
        margin: 0rem 4rem 1.2rem 0rem;
        width: calc(100% - 4rem);
        height: 5.3rem;
        display: flex;
        align-items: center;

        .auto-group-ydtj-e6y {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 6rem 0.2rem 0rem;
          height: 100%;

          .luxurtooth-mxH {
            margin: 0.4rem 0.4rem 0rem 0rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.25;
            color: rgba(217, 217, 217, 0.6999999881);
            font-family: Hammersmith One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-4-gZT {
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-kum3-cxu {
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 57rem 1.3rem 1.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.6999999881);

          .icon-search-Ybf {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.6rem 0.154rem 0rem;
            width: 2.5rem;
            height: 2.249rem;
          }
          .buscar-paciente-44D {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-k6gd-Yk5 {
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 15rem;

        .auto-group-jxpd-grH {
          width: 15rem;
          height: 15rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-kpuw-Ros {
          box-sizing: border-box;
          padding: 2.9rem 0rem 0rem 1.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-fujs-Xc1 {
            row-gap: 0.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.5rem 5.5rem 1.5rem 0rem;
            height: calc(100% - 2rem);

            .juan-camilo-barrios-Sys {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-101073840-NsX {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
            .aos-JWH {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Tahoma, 'Source Sans Pro';
            }
          }
          .line-1-2x5 {
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
            margin-right: 3.5rem;
            width: 0.1rem;
            height: 12.1rem;
          }
          .bell-mPs {
            flex-shrink: 0;
            margin: 0rem 1.9rem 6.9rem 0rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .notificaciones-sxh {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.4rem 7rem 0rem;
          }
          .line-2-o5f {
            margin-right: 3.25rem;
            width: 0.1rem;
            height: 12.1rem;
            background-color: rgba(217, 217, 217, 0.6999999881);
            flex-shrink: 0;
          }
          .fire-LLV {
            margin: 0rem 2.65rem 6.782rem 0rem;
            width: 2.5rem;
            height: 3.3824rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .advertencias-FyF {
            font-family: Tahoma, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
          }
        }
      }
    }
    .user-nCV {
      margin: 1.333rem 1.633rem 0rem 0rem;
      width: 3.3333rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .doc-sebas-Vsb {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 2.9rem 0rem 0rem;
    }
    .polygon-1-QzZ {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 2rem;
    }
  }
  .auto-group-dkm7-LdK {
    box-sizing: border-box;
    height: 6.8rem;
    align-items: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-bottom: 2.4rem;
    padding: 0.1rem 25.9rem 0.1rem 21.7rem;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:117:255');

    .agenda-ETo {
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 18.8rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
    }
    .line-3-YjP {
      flex-shrink: 0;
      margin-right: 8.8rem;
      width: 0.1rem;
      height: 6.6rem;
      background-color: #010b1f;
    }
    .odontograma-5UR {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.1rem 9.4rem 0rem 0rem;
    }
    .line-4-QWh {
      background-color: #010b1f;
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 0.1rem;
      height: 6.6rem;
    }
    .historial-clinico-xHK {
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.1rem;
      font-size: 3.2rem;
    }
  }
  .auto-group-rych-s9P {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 65.7rem;

    .rectangle-10-LYm {
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 31.8rem;
      height: 65.4rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
    }
    .canino-TNV {
      width: 8.3rem;
      top: 24.4rem;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      height: 3.6rem;
      position: absolute;
      left: 3.2rem;
      font-size: 2.8rem;
    }
    .tipo-diente--xKF {
      width: 16.2rem;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.1rem;
      position: absolute;
      left: 3.2rem;
      top: 20.4rem;
      line-height: 1.2575;
      color: #010b1f;
    }
    .zona-ubicacion--fDf {
      width: 21.6rem;
      left: 3.2rem;
      color: #010b1f;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.2575;
      height: 4.1rem;
      position: absolute;
      top: 30.4rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .servicio--Nds {
      width: 11.6rem;
      position: absolute;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      height: 4.1rem;
      left: 3.2rem;
      top: 40.4rem;
      font-family: Tahoma, 'Source Sans Pro';
    }
    .tratamiento-con-empaste-dental-en-la-corona-del-diente-geZ {
      top: 49.4rem;
      font-weight: 400;
      color: #010b1f;
      height: 12.1rem;
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      width: 26.4rem;
      left: 3.2rem;
    }
    .maxilar-superior-AZj {
      font-family: Tahoma, 'Source Sans Pro';
      width: 19.2rem;
      position: absolute;
      left: 3.2rem;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
      height: 3.6rem;
      top: 34.4rem;
      font-size: 2.8rem;
      font-weight: 400;
    }
    .rehabilitacin-oral-4v1 {
      position: absolute;
      top: 43.8rem;
      font-size: 2.8rem;
      line-height: 1.2575;
      font-family: Tahoma, 'Source Sans Pro';
      width: 22.3rem;
      height: 3.6rem;
      left: 3.2rem;
      font-weight: 400;
      color: #010b1f;
      white-space: nowrap;
    }
    .rectangle-11-Zrm {
      background-color: #ffffff;
      border-radius: 2.5rem;
      width: 99.8rem;
      height: 65.1rem;
      position: absolute;
      left: 37.2rem;
      top: 0.6rem;
    }
    .rectangle-12-VVX {
      width: 92.2rem;
      height: 42.2rem;
      position: relative;
      left: 41.2rem;
      top: 6.6rem;
      background-size: 100% 107.077%;
      background-position: -0rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
    }
    .rectangle-13-yvV {
      background-size: 1396.97% 347.587%;
      background-position: -34.8rem -1.4932rem;
      background-image: url('REPLACE_IMAGE:e8043dfb0a1d98078bf9f5c2cd268325a92ce60e');
      width: 6.6rem;
      height: 13rem;
      position: relative;
      left: 14.6rem;
      top: 3.4rem;
    }
    .rectangle-6-5Tj {
      height: 5.3rem;
      position: absolute;
      left: 56.1rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
      width: 28.1rem;
    }
    .planes-y-tratamientos-QW1 {
      position: absolute;
      top: 54.7rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      left: 58.5rem;
      font-size: 2.4rem;
      line-height: 1.2575;
      color: #010b1f;
      width: 22.1rem;
    }
    .rectangle-14-K7B {
      width: 23.1rem;
      height: 5.3rem;
      position: absolute;
      left: 89rem;
      top: 53.6rem;
      background-color: rgba(217, 217, 217, 0.6999999881);
      border-radius: 4rem;
    }
    .observaciones-Shb {
      width: 14.8rem;
      position: absolute;
      left: 92.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Tahoma, 'Source Sans Pro';
      height: 3.1rem;
      top: 54.7rem;
      line-height: 1.2575;
      color: #010b1f;
      white-space: nowrap;
    }
    .rectangle-15-kyB {
      left: 42.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
    }
    .rectangle-16-6XF {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 48.6rem;
      top: 7.5rem;
    }
    .rectangle-17-dn5 {
      left: 54.1rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
    }
    .rectangle-18-BHo {
      position: absolute;
      left: 59.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-19-6vZ {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 65.2rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-20-357 {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 70.6rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-21-yUZ {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 76.6rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-22-JWq {
      position: absolute;
      left: 82.2rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-23-SN9 {
      height: 10.9rem;
      position: absolute;
      left: 87.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-24-BKj {
      height: 10.9rem;
      position: absolute;
      left: 93.4rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-25-7z5 {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 98.9rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-26-rAy {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 104.5rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-27-Bj3 {
      position: absolute;
      left: 110rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
    }
    .rectangle-28-XY1 {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 115.8rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-29-TwT {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 121.6rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-30-bXs {
      height: 10.9rem;
      position: absolute;
      left: 127.1rem;
      top: 7.5rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-31-wLq {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 42.9rem;
      top: 36rem;
    }
    .rectangle-32-skH {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 48.6rem;
    }
    .rectangle-33-otq {
      height: 10.9rem;
      position: absolute;
      left: 54.1rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-34-9ho {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 59.9rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-35-6N9 {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 65.2rem;
      top: 36rem;
    }
    .rectangle-36-EDT {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 70.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-37-a2R {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 76.6rem;
      top: 36rem;
    }
    .rectangle-38-i8d {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 82.2rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-39-FPT {
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 87.9rem;
      top: 36rem;
    }
    .rectangle-40-nuB {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 93.4rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-41-LQu {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 98.9rem;
    }
    .rectangle-42-svd {
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 104.5rem;
    }
    .rectangle-43-RSM {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 110rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-44-N6h {
      height: 10.9rem;
      position: absolute;
      left: 115.8rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      width: 5rem;
    }
    .rectangle-45-74H {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 121.6rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .rectangle-46-3Tj {
      width: 5rem;
      height: 10.9rem;
      position: absolute;
      left: 127.1rem;
      top: 36rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
    }
    .ellipse-81-nRK {
      height: 4.1rem;
      position: absolute;
      left: 121.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-82-WcD {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 127.3rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-83-qPb {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 121.8rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-84-ZqP {
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 127.3rem;
    }
    .ellipse-85-JY5 {
      position: absolute;
      left: 110.4rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-86-SPP {
      position: absolute;
      left: 116.1rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-87-yPK {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 110.3rem;
      top: 20.5rem;
    }
    .ellipse-88-7VX {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 93.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-89-3ty {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 99.2rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-90-n5s {
      position: absolute;
      left: 104.6rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-91-WXf {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 99.2rem;
      top: 20.5rem;
    }
    .ellipse-92-SRK {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 104.6rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-93-ZVw {
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 49.2rem;
    }
    .ellipse-94-gqT {
      position: absolute;
      left: 54.9rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-95-1sj {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 60.3rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-96-wWV {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 66rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-97-rdT {
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 71.7rem;
    }
    .ellipse-98-Nbo {
      position: absolute;
      left: 77.1rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-99-6Xo {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 82.8rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-100-pih {
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 88.3rem;
      top: 29.8rem;
    }
    .ellipse-101-jam {
      position: absolute;
      left: 93.8rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-102-FZ7 {
      height: 4.1rem;
      position: absolute;
      left: 43.5rem;
      top: 29.8rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-103-Ntd {
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 77.1rem;
    }
    .ellipse-104-JnH {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 82.8rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-105-D8Z {
      position: absolute;
      left: 88.3rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-106-Xuw {
      position: absolute;
      left: 71.7rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
    }
    .ellipse-107-G6q {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 49.2rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-108-adK {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 54.9rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
    }
    .ellipse-109-J3X {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 60.3rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
    }
    .ellipse-110-1Tj {
      height: 4.1rem;
      position: absolute;
      left: 66rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
    }
    .ellipse-111-Xgy {
      left: 43.5rem;
      top: 20.5rem;
      background-color: rgba(217, 217, 217, 0.0099999998);
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
    }
  }
}
